@font-face {font-family: "FontAwesome";src: url("/wp-content/plugins/revslider/public/assets/fonts/font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0");src: url("/wp-content/plugins/revslider/public/assets/fonts/font-awesome/fonts/fontawesome-webfont.eot#iefix&v=4.7.0") format("embedded-opentype"),url("/wp-content/plugins/revslider/public/assets/fonts/font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),url("/wp-content/plugins/revslider/public/assets/fonts/font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"),url("/wp-content/plugins/revslider/public/assets/fonts/font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),url("/wp-content/plugins/revslider/public/assets/fonts/font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");font-weight: normal;font-style: normal;}
[class^="fa-icon-"], [class*=" fa-icon-"] {display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: inherit;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.fa-icon-lg {font-size: 1.33333333em;line-height: .75em;vertical-align: -15%;}
.fa-icon-2x {font-size: 2em;}
.fa-icon-3x {font-size: 3em;}
.fa-icon-4x {font-size: 4em;}
.fa-icon-5x {font-size: 5em;}
.fa-icon-fw {width: 1.28571429em;text-align: center;}
.fa-icon-ul {padding-left: 0;margin-left: 2.14285714em;list-style-type: none;}
.fa-icon-ul>li {position: relative;}
.fa-icon-li {position: absolute;left: -2.14285714em;width: 2.14285714em;top: .14285714em;text-align: center;}
.fa-icon-li.fa-icon-lg {left: -1.85714286em;}
.fa-icon-border {padding: .2em .25em .15em;border: solid .08em #eee;border-radius: .1em;}
.fa-icon-pull-left {float: left;}
.fa-icon-pull-right {float: right;}
.fa.fa-icon-pull-left {margin-right: .3em;}
.fa.fa-icon-pull-right {margin-left: .3em;}
.pull-right {float: right;}
.pull-left {float: left;}
.fa.pull-left {margin-right: .3em;}
.fa.pull-right {margin-left: .3em;}
.fa-icon-spin {-webkit-animation: fa-spin 2s infinite linear;animation: fa-spin 2s infinite linear;}
.fa-icon-pulse {-webkit-animation: fa-spin 1s infinite steps(8);animation: fa-spin 1s infinite steps(8);}
@-webkit-keyframes fa-spin {0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
	100% {-webkit-transform: rotate(359deg);transform: rotate(359deg);}}
@keyframes fa-spin {0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
	100% {-webkit-transform: rotate(359deg);transform: rotate(359deg);}}
.fa-icon-rotate-90 {-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";-webkit-transform: rotate(90deg);-ms-transform: rotate(90deg);transform: rotate(90deg);}
.fa-icon-rotate-180 {-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";-webkit-transform: rotate(180deg);-ms-transform: rotate(180deg);transform: rotate(180deg);}
.fa-icon-rotate-270 {-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";-webkit-transform: rotate(270deg);-ms-transform: rotate(270deg);transform: rotate(270deg);}
.fa-icon-flip-horizontal {-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";-webkit-transform: scale(-1,1);-ms-transform: scale(-1,1);transform: scale(-1,1);}
.fa-icon-flip-vertical {-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";-webkit-transform: scale(1,-1);-ms-transform: scale(1,-1);transform: scale(1,-1);}
:root .fa-icon-rotate-90, :root .fa-icon-rotate-180, :root .fa-icon-rotate-270, :root .fa-icon-flip-horizontal, :root .fa-icon-flip-vertical {filter: none;}
.fa-icon-stack {position: relative;display: inline-block;width: 2em;height: 2em;line-height: 2em;vertical-align: middle;}
.fa-icon-stack-1x, .fa-icon-stack-2x {position: absolute;left: 0;width: 100%;text-align: center;}
.fa-icon-stack-1x {line-height: inherit;}
.fa-icon-stack-2x {font-size: 2em;}
.fa-icon-inverse {color: #fff;}
.fa-icon-glass:before {content: "";}
.fa-icon-music:before {content: "";}
.fa-icon-search:before {content: "";}
.fa-icon-envelope-o:before {content: "";}
.fa-icon-heart:before {content: "";}
.fa-icon-star:before {content: "";}
.fa-icon-star-o:before {content: "";}
.fa-icon-user:before {content: "";}
.fa-icon-film:before {content: "";}
.fa-icon-th-large:before {content: "";}
.fa-icon-th:before {content: "";}
.fa-icon-th-list:before {content: "";}
.fa-icon-check:before {content: "";}
.fa-icon-remove:before, .fa-icon-close:before, .fa-icon-times:before {content: "";}
.fa-icon-search-plus:before {content: "";}
.fa-icon-search-minus:before {content: "";}
.fa-icon-power-off:before {content: "";}
.fa-icon-signal:before {content: "";}
.fa-icon-gear:before, .fa-icon-cog:before {content: "";}
.fa-icon-trash-o:before {content: "";}
.fa-icon-home:before {content: "";}
.fa-icon-file-o:before {content: "";}
.fa-icon-clock-o:before {content: "";}
.fa-icon-road:before {content: "";}
.fa-icon-download:before {content: "";}
.fa-icon-arrow-circle-o-down:before {content: "";}
.fa-icon-arrow-circle-o-up:before {content: "";}
.fa-icon-inbox:before {content: "";}
.fa-icon-play-circle-o:before {content: "";}
.fa-icon-rotate-right:before, .fa-icon-repeat:before {content: "";}
.fa-icon-refresh:before {content: "";}
.fa-icon-list-alt:before {content: "";}
.fa-icon-lock:before {content: "";}
.fa-icon-flag:before {content: "";}
.fa-icon-headphones:before {content: "";}
.fa-icon-volume-off:before {content: "";}
.fa-icon-volume-down:before {content: "";}
.fa-icon-volume-up:before {content: "";}
.fa-icon-qrcode:before {content: "";}
.fa-icon-barcode:before {content: "";}
.fa-icon-tag:before {content: "";}
.fa-icon-tags:before {content: "";}
.fa-icon-book:before {content: "";}
.fa-icon-bookmark:before {content: "";}
.fa-icon-print:before {content: "";}
.fa-icon-camera:before {content: "";}
.fa-icon-font:before {content: "";}
.fa-icon-bold:before {content: "";}
.fa-icon-italic:before {content: "";}
.fa-icon-text-height:before {content: "";}
.fa-icon-text-width:before {content: "";}
.fa-icon-align-left:before {content: "";}
.fa-icon-align-center:before {content: "";}
.fa-icon-align-right:before {content: "";}
.fa-icon-align-justify:before {content: "";}
.fa-icon-list:before {content: "";}
.fa-icon-dedent:before, .fa-icon-outdent:before {content: "";}
.fa-icon-indent:before {content: "";}
.fa-icon-video-camera:before {content: "";}
.fa-icon-photo:before, .fa-icon-image:before, .fa-icon-picture-o:before {content: "";}
.fa-icon-pencil:before {content: "";}
.fa-icon-map-marker:before {content: "";}
.fa-icon-adjust:before {content: "";}
.fa-icon-tint:before {content: "";}
.fa-icon-edit:before, .fa-icon-pencil-square-o:before {content: "";}
.fa-icon-share-square-o:before {content: "";}
.fa-icon-check-square-o:before {content: "";}
.fa-icon-arrows:before {content: "";}
.fa-icon-step-backward:before {content: "";}
.fa-icon-fast-backward:before {content: "";}
.fa-icon-backward:before {content: "";}
.fa-icon-play:before {content: "";}
.fa-icon-pause:before {content: "";}
.fa-icon-stop:before {content: "";}
.fa-icon-forward:before {content: "";}
.fa-icon-fast-forward:before {content: "";}
.fa-icon-step-forward:before {content: "";}
.fa-icon-eject:before {content: "";}
.fa-icon-chevron-left:before {content: "";}
.fa-icon-chevron-right:before {content: "";}
.fa-icon-plus-circle:before {content: "";}
.fa-icon-minus-circle:before {content: "";}
.fa-icon-times-circle:before {content: "";}
.fa-icon-check-circle:before {content: "";}
.fa-icon-question-circle:before {content: "";}
.fa-icon-info-circle:before {content: "";}
.fa-icon-crosshairs:before {content: "";}
.fa-icon-times-circle-o:before {content: "";}
.fa-icon-check-circle-o:before {content: "";}
.fa-icon-ban:before {content: "";}
.fa-icon-arrow-left:before {content: "";}
.fa-icon-arrow-right:before {content: "";}
.fa-icon-arrow-up:before {content: "";}
.fa-icon-arrow-down:before {content: "";}
.fa-icon-mail-forward:before, .fa-icon-share:before {content: "";}
.fa-icon-expand:before {content: "";}
.fa-icon-compress:before {content: "";}
.fa-icon-plus:before {content: "";}
.fa-icon-minus:before {content: "";}
.fa-icon-asterisk:before {content: "";}
.fa-icon-exclamation-circle:before {content: "";}
.fa-icon-gift:before {content: "";}
.fa-icon-leaf:before {content: "";}
.fa-icon-fire:before {content: "";}
.fa-icon-eye:before {content: "";}
.fa-icon-eye-slash:before {content: "";}
.fa-icon-warning:before, .fa-icon-exclamation-triangle:before {content: "";}
.fa-icon-plane:before {content: "";}
.fa-icon-calendar:before {content: "";}
.fa-icon-random:before {content: "";}
.fa-icon-comment:before {content: "";}
.fa-icon-magnet:before {content: "";}
.fa-icon-chevron-up:before {content: "";}
.fa-icon-chevron-down:before {content: "";}
.fa-icon-retweet:before {content: "";}
.fa-icon-shopping-cart:before {content: "";}
.fa-icon-folder:before {content: "";}
.fa-icon-folder-open:before {content: "";}
.fa-icon-arrows-v:before {content: "";}
.fa-icon-arrows-h:before {content: "";}
.fa-icon-bar-chart-o:before, .fa-icon-bar-chart:before {content: "";}
.fa-icon-twitter-square:before {content: "";}
.fa-icon-facebook-square:before {content: "";}
.fa-icon-camera-retro:before {content: "";}
.fa-icon-key:before {content: "";}
.fa-icon-gears:before, .fa-icon-cogs:before {content: "";}
.fa-icon-comments:before {content: "";}
.fa-icon-thumbs-o-up:before {content: "";}
.fa-icon-thumbs-o-down:before {content: "";}
.fa-icon-star-half:before {content: "";}
.fa-icon-heart-o:before {content: "";}
.fa-icon-sign-out:before {content: "";}
.fa-icon-linkedin-square:before {content: "";}
.fa-icon-thumb-tack:before {content: "";}
.fa-icon-external-link:before {content: "";}
.fa-icon-sign-in:before {content: "";}
.fa-icon-trophy:before {content: "";}
.fa-icon-github-square:before {content: "";}
.fa-icon-upload:before {content: "";}
.fa-icon-lemon-o:before {content: "";}
.fa-icon-phone:before {content: "";}
.fa-icon-square-o:before {content: "";}
.fa-icon-bookmark-o:before {content: "";}
.fa-icon-phone-square:before {content: "";}
.fa-icon-twitter:before {content: "";}
.fa-icon-facebook-f:before, .fa-icon-facebook:before {content: "";}
.fa-icon-github:before {content: "";}
.fa-icon-unlock:before {content: "";}
.fa-icon-credit-card:before {content: "";}
.fa-icon-feed:before, .fa-icon-rss:before {content: "";}
.fa-icon-hdd-o:before {content: "";}
.fa-icon-bullhorn:before {content: "";}
.fa-icon-bell:before {content: "";}
.fa-icon-certificate:before {content: "";}
.fa-icon-hand-o-right:before {content: "";}
.fa-icon-hand-o-left:before {content: "";}
.fa-icon-hand-o-up:before {content: "";}
.fa-icon-hand-o-down:before {content: "";}
.fa-icon-arrow-circle-left:before {content: "";}
.fa-icon-arrow-circle-right:before {content: "";}
.fa-icon-arrow-circle-up:before {content: "";}
.fa-icon-arrow-circle-down:before {content: "";}
.fa-icon-globe:before {content: "";}
.fa-icon-wrench:before {content: "";}
.fa-icon-tasks:before {content: "";}
.fa-icon-filter:before {content: "";}
.fa-icon-briefcase:before {content: "";}
.fa-icon-arrows-alt:before {content: "";}
.fa-icon-group:before, .fa-icon-users:before {content: "";}
.fa-icon-chain:before, .fa-icon-link:before {content: "";}
.fa-icon-cloud:before {content: "";}
.fa-icon-flask:before {content: "";}
.fa-icon-cut:before, .fa-icon-scissors:before {content: "";}
.fa-icon-copy:before, .fa-icon-files-o:before {content: "";}
.fa-icon-paperclip:before {content: "";}
.fa-icon-save:before, .fa-icon-floppy-o:before {content: "";}
.fa-icon-square:before {content: "";}
.fa-icon-navicon:before, .fa-icon-reorder:before, .fa-icon-bars:before {content: "";}
.fa-icon-list-ul:before {content: "";}
.fa-icon-list-ol:before {content: "";}
.fa-icon-strikethrough:before {content: "";}
.fa-icon-underline:before {content: "";}
.fa-icon-table:before {content: "";}
.fa-icon-magic:before {content: "";}
.fa-icon-truck:before {content: "";}
.fa-icon-pinterest:before {content: "";}
.fa-icon-pinterest-square:before {content: "";}
.fa-icon-google-plus-square:before {content: "";}
.fa-icon-google-plus:before {content: "";}
.fa-icon-money:before {content: "";}
.fa-icon-caret-down:before {content: "";}
.fa-icon-caret-up:before {content: "";}
.fa-icon-caret-left:before {content: "";}
.fa-icon-caret-right:before {content: "";}
.fa-icon-columns:before {content: "";}
.fa-icon-unsorted:before, .fa-icon-sort:before {content: "";}
.fa-icon-sort-down:before, .fa-icon-sort-desc:before {content: "";}
.fa-icon-sort-up:before, .fa-icon-sort-asc:before {content: "";}
.fa-icon-envelope:before {content: "";}
.fa-icon-linkedin:before {content: "";}
.fa-icon-rotate-left:before, .fa-icon-undo:before {content: "";}
.fa-icon-legal:before, .fa-icon-gavel:before {content: "";}
.fa-icon-dashboard:before, .fa-icon-tachometer:before {content: "";}
.fa-icon-comment-o:before {content: "";}
.fa-icon-comments-o:before {content: "";}
.fa-icon-flash:before, .fa-icon-bolt:before {content: "";}
.fa-icon-sitemap:before {content: "";}
.fa-icon-umbrella:before {content: "";}
.fa-icon-paste:before, .fa-icon-clipboard:before {content: "";}
.fa-icon-lightbulb-o:before {content: "";}
.fa-icon-exchange:before {content: "";}
.fa-icon-cloud-download:before {content: "";}
.fa-icon-cloud-upload:before {content: "";}
.fa-icon-user-md:before {content: "";}
.fa-icon-stethoscope:before {content: "";}
.fa-icon-suitcase:before {content: "";}
.fa-icon-bell-o:before {content: "";}
.fa-icon-coffee:before {content: "";}
.fa-icon-cutlery:before {content: "";}
.fa-icon-file-text-o:before {content: "";}
.fa-icon-building-o:before {content: "";}
.fa-icon-hospital-o:before {content: "";}
.fa-icon-ambulance:before {content: "";}
.fa-icon-medkit:before {content: "";}
.fa-icon-fighter-jet:before {content: "";}
.fa-icon-beer:before {content: "";}
.fa-icon-h-square:before {content: "";}
.fa-icon-plus-square:before {content: "";}
.fa-icon-angle-double-left:before {content: "";}
.fa-icon-angle-double-right:before {content: "";}
.fa-icon-angle-double-up:before {content: "";}
.fa-icon-angle-double-down:before {content: "";}
.fa-icon-angle-left:before {content: "";}
.fa-icon-angle-right:before {content: "";}
.fa-icon-angle-up:before {content: "";}
.fa-icon-angle-down:before {content: "";}
.fa-icon-desktop:before {content: "";}
.fa-icon-laptop:before {content: "";}
.fa-icon-tablet:before {content: "";}
.fa-icon-mobile-phone:before, .fa-icon-mobile:before {content: "";}
.fa-icon-circle-o:before {content: "";}
.fa-icon-quote-left:before {content: "";}
.fa-icon-quote-right:before {content: "";}
.fa-icon-spinner:before {content: "";}
.fa-icon-circle:before {content: "";}
.fa-icon-mail-reply:before, .fa-icon-reply:before {content: "";}
.fa-icon-github-alt:before {content: "";}
.fa-icon-folder-o:before {content: "";}
.fa-icon-folder-open-o:before {content: "";}
.fa-icon-smile-o:before {content: "";}
.fa-icon-frown-o:before {content: "";}
.fa-icon-meh-o:before {content: "";}
.fa-icon-gamepad:before {content: "";}
.fa-icon-keyboard-o:before {content: "";}
.fa-icon-flag-o:before {content: "";}
.fa-icon-flag-checkered:before {content: "";}
.fa-icon-terminal:before {content: "";}
.fa-icon-code:before {content: "";}
.fa-icon-mail-reply-all:before, .fa-icon-reply-all:before {content: "";}
.fa-icon-star-half-empty:before, .fa-icon-star-half-full:before, .fa-icon-star-half-o:before {content: "";}
.fa-icon-location-arrow:before {content: "";}
.fa-icon-crop:before {content: "";}
.fa-icon-code-fork:before {content: "";}
.fa-icon-unlink:before, .fa-icon-chain-broken:before {content: "";}
.fa-icon-question:before {content: "";}
.fa-icon-info:before {content: "";}
.fa-icon-exclamation:before {content: "";}
.fa-icon-superscript:before {content: "";}
.fa-icon-subscript:before {content: "";}
.fa-icon-eraser:before {content: "";}
.fa-icon-puzzle-piece:before {content: "";}
.fa-icon-microphone:before {content: "";}
.fa-icon-microphone-slash:before {content: "";}
.fa-icon-shield:before {content: "";}
.fa-icon-calendar-o:before {content: "";}
.fa-icon-fire-extinguisher:before {content: "";}
.fa-icon-rocket:before {content: "";}
.fa-icon-maxcdn:before {content: "";}
.fa-icon-chevron-circle-left:before {content: "";}
.fa-icon-chevron-circle-right:before {content: "";}
.fa-icon-chevron-circle-up:before {content: "";}
.fa-icon-chevron-circle-down:before {content: "";}
.fa-icon-html5:before {content: "";}
.fa-icon-css3:before {content: "";}
.fa-icon-anchor:before {content: "";}
.fa-icon-unlock-alt:before {content: "";}
.fa-icon-bullseye:before {content: "";}
.fa-icon-ellipsis-h:before {content: "";}
.fa-icon-ellipsis-v:before {content: "";}
.fa-icon-rss-square:before {content: "";}
.fa-icon-play-circle:before {content: "";}
.fa-icon-ticket:before {content: "";}
.fa-icon-minus-square:before {content: "";}
.fa-icon-minus-square-o:before {content: "";}
.fa-icon-level-up:before {content: "";}
.fa-icon-level-down:before {content: "";}
.fa-icon-check-square:before {content: "";}
.fa-icon-pencil-square:before {content: "";}
.fa-icon-external-link-square:before {content: "";}
.fa-icon-share-square:before {content: "";}
.fa-icon-compass:before {content: "";}
.fa-icon-toggle-down:before, .fa-icon-caret-square-o-down:before {content: "";}
.fa-icon-toggle-up:before, .fa-icon-caret-square-o-up:before {content: "";}
.fa-icon-toggle-right:before, .fa-icon-caret-square-o-right:before {content: "";}
.fa-icon-euro:before, .fa-icon-eur:before {content: "";}
.fa-icon-gbp:before {content: "";}
.fa-icon-dollar:before, .fa-icon-usd:before {content: "";}
.fa-icon-rupee:before, .fa-icon-inr:before {content: "";}
.fa-icon-cny:before, .fa-icon-rmb:before, .fa-icon-yen:before, .fa-icon-jpy:before {content: "";}
.fa-icon-ruble:before, .fa-icon-rouble:before, .fa-icon-rub:before {content: "";}
.fa-icon-won:before, .fa-icon-krw:before {content: "";}
.fa-icon-bitcoin:before, .fa-icon-btc:before {content: "";}
.fa-icon-file:before {content: "";}
.fa-icon-file-text:before {content: "";}
.fa-icon-sort-alpha-asc:before {content: "";}
.fa-icon-sort-alpha-desc:before {content: "";}
.fa-icon-sort-amount-asc:before {content: "";}
.fa-icon-sort-amount-desc:before {content: "";}
.fa-icon-sort-numeric-asc:before {content: "";}
.fa-icon-sort-numeric-desc:before {content: "";}
.fa-icon-thumbs-up:before {content: "";}
.fa-icon-thumbs-down:before {content: "";}
.fa-icon-youtube-square:before {content: "";}
.fa-icon-youtube:before {content: "";}
.fa-icon-xing:before {content: "";}
.fa-icon-xing-square:before {content: "";}
.fa-icon-youtube-play:before {content: "";}
.fa-icon-dropbox:before {content: "";}
.fa-icon-stack-overflow:before {content: "";}
.fa-icon-instagram:before {content: "";}
.fa-icon-flickr:before {content: "";}
.fa-icon-adn:before {content: "";}
.fa-icon-bitbucket:before {content: "";}
.fa-icon-bitbucket-square:before {content: "";}
.fa-icon-tumblr:before {content: "";}
.fa-icon-tumblr-square:before {content: "";}
.fa-icon-long-arrow-down:before {content: "";}
.fa-icon-long-arrow-up:before {content: "";}
.fa-icon-long-arrow-left:before {content: "";}
.fa-icon-long-arrow-right:before {content: "";}
.fa-icon-apple:before {content: "";}
.fa-icon-windows:before {content: "";}
.fa-icon-android:before {content: "";}
.fa-icon-linux:before {content: "";}
.fa-icon-dribbble:before {content: "";}
.fa-icon-skype:before {content: "";}
.fa-icon-foursquare:before {content: "";}
.fa-icon-trello:before {content: "";}
.fa-icon-female:before {content: "";}
.fa-icon-male:before {content: "";}
.fa-icon-gittip:before, .fa-icon-gratipay:before {content: "";}
.fa-icon-sun-o:before {content: "";}
.fa-icon-moon-o:before {content: "";}
.fa-icon-archive:before {content: "";}
.fa-icon-bug:before {content: "";}
.fa-icon-vk:before {content: "";}
.fa-icon-weibo:before {content: "";}
.fa-icon-renren:before {content: "";}
.fa-icon-pagelines:before {content: "";}
.fa-icon-stack-exchange:before {content: "";}
.fa-icon-arrow-circle-o-right:before {content: "";}
.fa-icon-arrow-circle-o-left:before {content: "";}
.fa-icon-toggle-left:before, .fa-icon-caret-square-o-left:before {content: "";}
.fa-icon-dot-circle-o:before {content: "";}
.fa-icon-wheelchair:before {content: "";}
.fa-icon-vimeo-square:before {content: "";}
.fa-icon-turkish-lira:before, .fa-icon-try:before {content: "";}
.fa-icon-plus-square-o:before {content: "";}
.fa-icon-space-shuttle:before {content: "";}
.fa-icon-slack:before {content: "";}
.fa-icon-envelope-square:before {content: "";}
.fa-icon-wordpress:before {content: "";}
.fa-icon-openid:before {content: "";}
.fa-icon-institution:before, .fa-icon-bank:before, .fa-icon-university:before {content: "";}
.fa-icon-mortar-board:before, .fa-icon-graduation-cap:before {content: "";}
.fa-icon-yahoo:before {content: "";}
.fa-icon-google:before {content: "";}
.fa-icon-reddit:before {content: "";}
.fa-icon-reddit-square:before {content: "";}
.fa-icon-stumbleupon-circle:before {content: "";}
.fa-icon-stumbleupon:before {content: "";}
.fa-icon-delicious:before {content: "";}
.fa-icon-digg:before {content: "";}
.fa-icon-pied-piper-pp:before {content: "";}
.fa-icon-pied-piper-alt:before {content: "";}
.fa-icon-drupal:before {content: "";}
.fa-icon-joomla:before {content: "";}
.fa-icon-language:before {content: "";}
.fa-icon-fax:before {content: "";}
.fa-icon-building:before {content: "";}
.fa-icon-child:before {content: "";}
.fa-icon-paw:before {content: "";}
.fa-icon-spoon:before {content: "";}
.fa-icon-cube:before {content: "";}
.fa-icon-cubes:before {content: "";}
.fa-icon-behance:before {content: "";}
.fa-icon-behance-square:before {content: "";}
.fa-icon-steam:before {content: "";}
.fa-icon-steam-square:before {content: "";}
.fa-icon-recycle:before {content: "";}
.fa-icon-automobile:before, .fa-icon-car:before {content: "";}
.fa-icon-cab:before, .fa-icon-taxi:before {content: "";}
.fa-icon-tree:before {content: "";}
.fa-icon-spotify:before {content: "";}
.fa-icon-deviantart:before {content: "";}
.fa-icon-soundcloud:before {content: "";}
.fa-icon-database:before {content: "";}
.fa-icon-file-pdf-o:before {content: "";}
.fa-icon-file-word-o:before {content: "";}
.fa-icon-file-excel-o:before {content: "";}
.fa-icon-file-powerpoint-o:before {content: "";}
.fa-icon-file-photo-o:before, .fa-icon-file-picture-o:before, .fa-icon-file-image-o:before {content: "";}
.fa-icon-file-zip-o:before, .fa-icon-file-archive-o:before {content: "";}
.fa-icon-file-sound-o:before, .fa-icon-file-audio-o:before {content: "";}
.fa-icon-file-movie-o:before, .fa-icon-file-video-o:before {content: "";}
.fa-icon-file-code-o:before {content: "";}
.fa-icon-vine:before {content: "";}
.fa-icon-codepen:before {content: "";}
.fa-icon-jsfiddle:before {content: "";}
.fa-icon-life-bouy:before, .fa-icon-life-buoy:before, .fa-icon-life-saver:before, .fa-icon-support:before, .fa-icon-life-ring:before {content: "";}
.fa-icon-circle-o-notch:before {content: "";}
.fa-icon-ra:before, .fa-icon-resistance:before, .fa-icon-rebel:before {content: "";}
.fa-icon-ge:before, .fa-icon-empire:before {content: "";}
.fa-icon-git-square:before {content: "";}
.fa-icon-git:before {content: "";}
.fa-icon-y-combinator-square:before, .fa-icon-yc-square:before, .fa-icon-hacker-news:before {content: "";}
.fa-icon-tencent-weibo:before {content: "";}
.fa-icon-qq:before {content: "";}
.fa-icon-wechat:before, .fa-icon-weixin:before {content: "";}
.fa-icon-send:before, .fa-icon-paper-plane:before {content: "";}
.fa-icon-send-o:before, .fa-icon-paper-plane-o:before {content: "";}
.fa-icon-history:before {content: "";}
.fa-icon-circle-thin:before {content: "";}
.fa-icon-header:before {content: "";}
.fa-icon-paragraph:before {content: "";}
.fa-icon-sliders:before {content: "";}
.fa-icon-share-alt:before {content: "";}
.fa-icon-share-alt-square:before {content: "";}
.fa-icon-bomb:before {content: "";}
.fa-icon-soccer-ball-o:before, .fa-icon-futbol-o:before {content: "";}
.fa-icon-tty:before {content: "";}
.fa-icon-binoculars:before {content: "";}
.fa-icon-plug:before {content: "";}
.fa-icon-slideshare:before {content: "";}
.fa-icon-twitch:before {content: "";}
.fa-icon-yelp:before {content: "";}
.fa-icon-newspaper-o:before {content: "";}
.fa-icon-wifi:before {content: "";}
.fa-icon-calculator:before {content: "";}
.fa-icon-paypal:before {content: "";}
.fa-icon-google-wallet:before {content: "";}
.fa-icon-cc-visa:before {content: "";}
.fa-icon-cc-mastercard:before {content: "";}
.fa-icon-cc-discover:before {content: "";}
.fa-icon-cc-amex:before {content: "";}
.fa-icon-cc-paypal:before {content: "";}
.fa-icon-cc-stripe:before {content: "";}
.fa-icon-bell-slash:before {content: "";}
.fa-icon-bell-slash-o:before {content: "";}
.fa-icon-trash:before {content: "";}
.fa-icon-copyright:before {content: "";}
.fa-icon-at:before {content: "";}
.fa-icon-eyedropper:before {content: "";}
.fa-icon-paint-brush:before {content: "";}
.fa-icon-birthday-cake:before {content: "";}
.fa-icon-area-chart:before {content: "";}
.fa-icon-pie-chart:before {content: "";}
.fa-icon-line-chart:before {content: "";}
.fa-icon-lastfm:before {content: "";}
.fa-icon-lastfm-square:before {content: "";}
.fa-icon-toggle-off:before {content: "";}
.fa-icon-toggle-on:before {content: "";}
.fa-icon-bicycle:before {content: "";}
.fa-icon-bus:before {content: "";}
.fa-icon-ioxhost:before {content: "";}
.fa-icon-angellist:before {content: "";}
.fa-icon-cc:before {content: "";}
.fa-icon-shekel:before, .fa-icon-sheqel:before, .fa-icon-ils:before {content: "";}
.fa-icon-meanpath:before {content: "";}
.fa-icon-buysellads:before {content: "";}
.fa-icon-connectdevelop:before {content: "";}
.fa-icon-dashcube:before {content: "";}
.fa-icon-forumbee:before {content: "";}
.fa-icon-leanpub:before {content: "";}
.fa-icon-sellsy:before {content: "";}
.fa-icon-shirtsinbulk:before {content: "";}
.fa-icon-simplybuilt:before {content: "";}
.fa-icon-skyatlas:before {content: "";}
.fa-icon-cart-plus:before {content: "";}
.fa-icon-cart-arrow-down:before {content: "";}
.fa-icon-diamond:before {content: "";}
.fa-icon-ship:before {content: "";}
.fa-icon-user-secret:before {content: "";}
.fa-icon-motorcycle:before {content: "";}
.fa-icon-street-view:before {content: "";}
.fa-icon-heartbeat:before {content: "";}
.fa-icon-venus:before {content: "";}
.fa-icon-mars:before {content: "";}
.fa-icon-mercury:before {content: "";}
.fa-icon-intersex:before, .fa-icon-transgender:before {content: "";}
.fa-icon-transgender-alt:before {content: "";}
.fa-icon-venus-double:before {content: "";}
.fa-icon-mars-double:before {content: "";}
.fa-icon-venus-mars:before {content: "";}
.fa-icon-mars-stroke:before {content: "";}
.fa-icon-mars-stroke-v:before {content: "";}
.fa-icon-mars-stroke-h:before {content: "";}
.fa-icon-neuter:before {content: "";}
.fa-icon-genderless:before {content: "";}
.fa-icon-facebook-official:before {content: "";}
.fa-icon-pinterest-p:before {content: "";}
.fa-icon-whatsapp:before {content: "";}
.fa-icon-server:before {content: "";}
.fa-icon-user-plus:before {content: "";}
.fa-icon-user-times:before {content: "";}
.fa-icon-hotel:before, .fa-icon-bed:before {content: "";}
.fa-icon-viacoin:before {content: "";}
.fa-icon-train:before {content: "";}
.fa-icon-subway:before {content: "";}
.fa-icon-medium:before {content: "";}
.fa-icon-yc:before, .fa-icon-y-combinator:before {content: "";}
.fa-icon-optin-monster:before {content: "";}
.fa-icon-opencart:before {content: "";}
.fa-icon-expeditedssl:before {content: "";}
.fa-icon-battery-4:before, .fa-icon-battery:before, .fa-icon-battery-full:before {content: "";}
.fa-icon-battery-3:before, .fa-icon-battery-three-quarters:before {content: "";}
.fa-icon-battery-2:before, .fa-icon-battery-half:before {content: "";}
.fa-icon-battery-1:before, .fa-icon-battery-quarter:before {content: "";}
.fa-icon-battery-0:before, .fa-icon-battery-empty:before {content: "";}
.fa-icon-mouse-pointer:before {content: "";}
.fa-icon-i-cursor:before {content: "";}
.fa-icon-object-group:before {content: "";}
.fa-icon-object-ungroup:before {content: "";}
.fa-icon-sticky-note:before {content: "";}
.fa-icon-sticky-note-o:before {content: "";}
.fa-icon-cc-jcb:before {content: "";}
.fa-icon-cc-diners-club:before {content: "";}
.fa-icon-clone:before {content: "";}
.fa-icon-balance-scale:before {content: "";}
.fa-icon-hourglass-o:before {content: "";}
.fa-icon-hourglass-1:before, .fa-icon-hourglass-start:before {content: "";}
.fa-icon-hourglass-2:before, .fa-icon-hourglass-half:before {content: "";}
.fa-icon-hourglass-3:before, .fa-icon-hourglass-end:before {content: "";}
.fa-icon-hourglass:before {content: "";}
.fa-icon-hand-grab-o:before, .fa-icon-hand-rock-o:before {content: "";}
.fa-icon-hand-stop-o:before, .fa-icon-hand-paper-o:before {content: "";}
.fa-icon-hand-scissors-o:before {content: "";}
.fa-icon-hand-lizard-o:before {content: "";}
.fa-icon-hand-spock-o:before {content: "";}
.fa-icon-hand-pointer-o:before {content: "";}
.fa-icon-hand-peace-o:before {content: "";}
.fa-icon-trademark:before {content: "";}
.fa-icon-registered:before {content: "";}
.fa-icon-creative-commons:before {content: "";}
.fa-icon-gg:before {content: "";}
.fa-icon-gg-circle:before {content: "";}
.fa-icon-tripadvisor:before {content: "";}
.fa-icon-odnoklassniki:before {content: "";}
.fa-icon-odnoklassniki-square:before {content: "";}
.fa-icon-get-pocket:before {content: "";}
.fa-icon-wikipedia-w:before {content: "";}
.fa-icon-safari:before {content: "";}
.fa-icon-chrome:before {content: "";}
.fa-icon-firefox:before {content: "";}
.fa-icon-opera:before {content: "";}
.fa-icon-internet-explorer:before {content: "";}
.fa-icon-tv:before, .fa-icon-television:before {content: "";}
.fa-icon-contao:before {content: "";}
.fa-icon-500px:before {content: "";}
.fa-icon-amazon:before {content: "";}
.fa-icon-calendar-plus-o:before {content: "";}
.fa-icon-calendar-minus-o:before {content: "";}
.fa-icon-calendar-times-o:before {content: "";}
.fa-icon-calendar-check-o:before {content: "";}
.fa-icon-industry:before {content: "";}
.fa-icon-map-pin:before {content: "";}
.fa-icon-map-signs:before {content: "";}
.fa-icon-map-o:before {content: "";}
.fa-icon-map:before {content: "";}
.fa-icon-commenting:before {content: "";}
.fa-icon-commenting-o:before {content: "";}
.fa-icon-houzz:before {content: "";}
.fa-icon-vimeo:before {content: "";}
.fa-icon-black-tie:before {content: "";}
.fa-icon-fonticons:before {content: "";}
.fa-icon-reddit-alien:before {content: "";}
.fa-icon-edge:before {content: "";}
.fa-icon-credit-card-alt:before {content: "";}
.fa-icon-codiepie:before {content: "";}
.fa-icon-modx:before {content: "";}
.fa-icon-fort-awesome:before {content: "";}
.fa-icon-usb:before {content: "";}
.fa-icon-product-hunt:before {content: "";}
.fa-icon-mixcloud:before {content: "";}
.fa-icon-scribd:before {content: "";}
.fa-icon-pause-circle:before {content: "";}
.fa-icon-pause-circle-o:before {content: "";}
.fa-icon-stop-circle:before {content: "";}
.fa-icon-stop-circle-o:before {content: "";}
.fa-icon-shopping-bag:before {content: "";}
.fa-icon-shopping-basket:before {content: "";}
.fa-icon-hashtag:before {content: "";}
.fa-icon-bluetooth:before {content: "";}
.fa-icon-bluetooth-b:before {content: "";}
.fa-icon-percent:before {content: "";}
.fa-icon-gitlab:before {content: "";}
.fa-icon-wpbeginner:before {content: "";}
.fa-icon-wpforms:before {content: "";}
.fa-icon-envira:before {content: "";}
.fa-icon-universal-access:before {content: "";}
.fa-icon-wheelchair-alt:before {content: "";}
.fa-icon-question-circle-o:before {content: "";}
.fa-icon-blind:before {content: "";}
.fa-icon-audio-description:before {content: "";}
.fa-icon-volume-control-phone:before {content: "";}
.fa-icon-braille:before {content: "";}
.fa-icon-assistive-listening-systems:before {content: "";}
.fa-icon-asl-interpreting:before, .fa-icon-american-sign-language-interpreting:before {content: "";}
.fa-icon-deafness:before, .fa-icon-hard-of-hearing:before, .fa-icon-deaf:before {content: "";}
.fa-icon-glide:before {content: "";}
.fa-icon-glide-g:before {content: "";}
.fa-icon-signing:before, .fa-icon-sign-language:before {content: "";}
.fa-icon-low-vision:before {content: "";}
.fa-icon-viadeo:before {content: "";}
.fa-icon-viadeo-square:before {content: "";}
.fa-icon-snapchat:before {content: "";}
.fa-icon-snapchat-ghost:before {content: "";}
.fa-icon-snapchat-square:before {content: "";}
.fa-icon-pied-piper:before {content: "";}
.fa-icon-first-order:before {content: "";}
.fa-icon-yoast:before {content: "";}
.fa-icon-themeisle:before {content: "";}
.fa-icon-google-plus-circle:before, .fa-icon-google-plus-official:before {content: "";}
.fa-icon-fa:before, .fa-icon-font-awesome:before {content: "";}
.fa-icon-handshake-o:before {content: "";}
.fa-icon-envelope-open:before {content: "";}
.fa-icon-envelope-open-o:before {content: "";}
.fa-icon-linode:before {content: "";}
.fa-icon-address-book:before {content: "";}
.fa-icon-address-book-o:before {content: "";}
.fa-icon-vcard:before, .fa-icon-address-card:before {content: "";}
.fa-icon-vcard-o:before, .fa-icon-address-card-o:before {content: "";}
.fa-icon-user-circle:before {content: "";}
.fa-icon-user-circle-o:before {content: "";}
.fa-icon-user-o:before {content: "";}
.fa-icon-id-badge:before {content: "";}
.fa-icon-drivers-license:before, .fa-icon-id-card:before {content: "";}
.fa-icon-drivers-license-o:before, .fa-icon-id-card-o:before {content: "";}
.fa-icon-quora:before {content: "";}
.fa-icon-free-code-camp:before {content: "";}
.fa-icon-telegram:before {content: "";}
.fa-icon-thermometer-4:before, .fa-icon-thermometer:before, .fa-icon-thermometer-full:before {content: "";}
.fa-icon-thermometer-3:before, .fa-icon-thermometer-three-quarters:before {content: "";}
.fa-icon-thermometer-2:before, .fa-icon-thermometer-half:before {content: "";}
.fa-icon-thermometer-1:before, .fa-icon-thermometer-quarter:before {content: "";}
.fa-icon-thermometer-0:before, .fa-icon-thermometer-empty:before {content: "";}
.fa-icon-shower:before {content: "";}
.fa-icon-bathtub:before, .fa-icon-s15:before, .fa-icon-bath:before {content: "";}
.fa-icon-podcast:before {content: "";}
.fa-icon-window-maximize:before {content: "";}
.fa-icon-window-minimize:before {content: "";}
.fa-icon-window-restore:before {content: "";}
.fa-icon-times-rectangle:before, .fa-icon-window-close:before {content: "";}
.fa-icon-times-rectangle-o:before, .fa-icon-window-close-o:before {content: "";}
.fa-icon-bandcamp:before {content: "";}
.fa-icon-grav:before {content: "";}
.fa-icon-etsy:before {content: "";}
.fa-icon-imdb:before {content: "";}
.fa-icon-ravelry:before {content: "";}
.fa-icon-eercast:before {content: "";}
.fa-icon-microchip:before {content: "";}
.fa-icon-snowflake-o:before {content: "";}
.fa-icon-superpowers:before {content: "";}
.fa-icon-wpexplorer:before {content: "";}
.fa-icon-meetup:before {content: "";}
.sr-only {position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip: rect(0,0,0,0);border: 0;}
.sr-only-focusable:active, .sr-only-focusable:focus {position: static;width: auto;height: auto;margin: 0;overflow: visible;clip: auto;}
@font-face {font-family: FontVinsofts;src: url("/wp-content/themes/fo-child/common/fonts_vin/HKNova-LightNarrow.otf");}
@font-face {font-family: FontVinsofts-bold;src: url("/wp-content/themes/fo-child/common/fonts_vin/HKNova-BoldNarrow.otf");}
@font-face {font-family: FontVinsofts-medium;src: url("/wp-content/themes/fo-child/common/fonts_vin/HKNova-MediumNarrow.otf");}
@font-face {font-family: FontVinsofts-regular;src: url("/wp-content/themes/fo-child/common/fonts_vin/HKNova-Regular.otf");}
@font-face {font-family: FontVinsofts-SemiBold;src: url("/wp-content/themes/fo-child/common/fonts_vin/HKNova-SemiBoldNarrow.otf");}
body::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);border-radius: 0px;background-color: #f5f5f5;}
body::-webkit-scrollbar {width: 10px;background-color: #f5f5f5;}
body::-webkit-scrollbar-thumb {border-radius: 0px;-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);background-color: #3d9ae3;}
body .themesflat-boxed, .themesflat-boxed p, .themesflat-boxed a, .themesflat-boxed input, .themesflat-boxed textarea, .themesflat-boxed button, .themesflat-boxed
select {font-family: FontVinsofts;}
h1, h2, h3, h4, h5, h6 {font-family: FontVinsofts-bold;}
p {letter-spacing: 0px;}
input, button, a, button:focus {outline: none !important;}
.footer {padding-top: 40px;padding-bottom: 40px;border-bottom: 1px solid rgba(119,106,106,.33);}
.bottom {padding: 10px 0;}
.themesflat-boxed input[type="file"] {margin-bottom: 15px;}
#header .logo img, #header .logo
svg {width: auto;}
#mainnav>ul>li>a {font-family: FontVinsofts-bold;font-weight: 400;}
#mainnav ul.sub-menu>li>a {font-family: FontVinsofts;}
.themesflat_iconbox.transparent .title a, .portfolio-filter li
a {font-family: FontVinsofts-bold;}
#mainnav>ul>li {margin-left: 30px;}
.themesflat-boxed .themesflat-top .content-right {line-height: 45px;}
.themesflat-boxed .themesflat-top .content-left {line-height: 44px;}
.themesflat-boxed .themesflat-top .content-left ul
li {margin-top: 0px;}
.themesflat-boxed .themesflat-top .themesflat-socials {margin-top: 0px;}
.header.header-sticky {box-shadow: 0 3px 2px rgba(0,0,0,.1);}
#mainnav #menu-main>.current-menu-ancestor>a, #menu-footer_service>.current-menu-item>a, #menu-footer_service>.current-menu-item::before {color: #3d9be9;}
.breadcrumb-trail.breadcrumbs span.trail-end {color: #3d9be9 !important;}
#mainnav #menu-main .current-menu-ancestor .sub-menu .current-menu-item
a {background: #3d9be9;}
.themesflat-boxed .page-title {padding-top: 0px;}
.themesflat-boxed .page-title .breadcrumb-trail.breadcrumbs {margin-bottom: 15px;}
.themesflat-boxed .page-title .breadcrumb-trail.breadcrumbs a:hover {color: #3d9be9 !important;}
.page-title
h1 {text-transform: uppercase;}
.themesflat-boxed .content-area-front-page .themesflat_counter .counter-content-left {width: 50%;text-align: center;font-family: FontVinsofts-bold;padding: 0;padding-top: 10px;padding-right: 10px;}
.themesflat_header_wrap .show-search
a {margin: 30px 0 18px;}
.themesflat_header_wrap .header.header-sticky .show-search
a {margin: 18px 0 18px;}
.themesflat-boxed .themesflat_counter
span {font-size: 60px;}
.themesflat-boxed .themesflat_counter .counter-content-right a, .themesflat-boxed .themesflat_counter .counter-content-right p, .themesflat-boxed .themesflat-portfolio .item .category-post
a {font-family: FontVinsofts-bold;}
.themesflat-boxed .portfolio-filter li
a {line-height: 50px;}
.themesflat-boxed .wpcf7 input, .themesflat-boxed .wpcf7
textarea {color: #000;}
.admin-bar .themesflat-boxed .popup #myModal2 .modal-dialog {margin-top: 60px;}
.themesflat-boxed .popup #myModal2
form {font-family: FontVinsofts;}
.themesflat-boxed .popup #myModal2 h4.modal-title {text-align: center;color: #fff;}
.themesflat-boxed .popup #myModal2 form input, .themesflat-boxed .popup #myModal2 form
select {line-height: 0;border-radius: 3px;color: #000;font-family: FontVinsofts;}
.themesflat-boxed .popup #myModal2 form input.wpcf7-submit {color: #fff;float: right;}
.themesflat-boxed .popup #myModal2 form
textarea {border-radius: 3px;width: 100% !important;min-height: 50px;max-height: 250px;margin-bottom: 15px !important;}
.themesflat-boxed .popup #myModal2 form
p {margin-bottom: 0px;}
.themesflat-boxed .popup #myModal2 .modal-header {padding: 20px 15px;background: #3d9be9;}
.themesflat-boxed .popup #myModal2 .modal-header
.close {margin-top: -4px;width: 30px;height: 30px;opacity: .7;color: #fff;}
.themesflat-boxed .popup #myModal2 .modal-header .close:hover {background: #f00;}
.themesflat-boxed .popup #myModal2 form .form-group
label {color: #000;font-family: FontVinsofts;font-size: 13px;}
.themesflat-boxed .popup #myModal2 form .form-group label
span {color: red;}
.themesflat-boxed .popup #myModal2 form .form-group .wpcf7-submit {color: #fff;font-weight: bold;font-family: FontVinsofts-bold;padding: 8px 20px;font-size: 15px;letter-spacing: 1px;}
.themesflat-boxed .popup #myModal2 form .form-group .wpcf7-submit:hover {background: #000;}
.themesflat-top .themesflat-socials li a.title
span {display: none;}
.blog-grid .featured-post.post-home-page {height: 100%;display: flex;align-items: center;min-height: 150px;max-height: 200px;}
.captcha-form-vins .wpcf7-mathcaptcha {width: 50px;height: 45px;margin-bottom: 15px;margin-left: 5px;}
.themesflat-portfolio .item .portfolio-details .title-post {height: 46px;overflow: hidden;}
.themesflat-portfolio .item .portfolio-details .title-post
a {color: #3d9be9;}
.themesflat-portfolio .item .portfolio-details .title-post a:hover {color: #3d9be9;}
.themesflat-portfolio .item .portfolio-details .category-post
a {color: rgba(108,117,123,.87);}
.themesflat-portfolio .item .portfolio-details .category-post a:hover {color: #000;}
.themesflat-portfolio .one-four
.item {margin-bottom: 15px;}
#custom_equal_height
.wpb_wrapper {height: 100%;}
#custom_equal_height .wpb_wrapper
.themesflat_counter {height: 85%;}
#custom_equal_height .wpb_wrapper .themesflat_counter .counter-content-right {border: none;}
#custom_equal_height .wpb_wrapper .themesflat_counter .counter-icon
.icon {background-color: #3d9be9;}
.link-contact-us {width: 200px;margin: 15px auto;text-align: center;display: block;}
.link-contact-us
a {padding: 10px 15px;width: 100%;background: #3d9be9;border-radius: 5px;font-size: 15px;color: #fff;display: block;}
.link-contact-us a:hover {background: #000;}
.themesflat-boxed .themesflat-button.themesflat-archive.btn-readmore::after {font-family: FontAwesome;content: "";padding-left: 3px;font-size: 11px;-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;-o-transition: all .3s;transition: all .3s;}
.wpcf7-form .custom_form
h3 {margin-top: 18px;letter-spacing: .4px;margin-bottom: 20px;color: #fff;}
a.themesflat-button:focus {color: #fff;}
input::placeholder, textarea::placeholder {color: #999;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: #999;}
input::-moz-placeholder, textarea::-moz-placeholder {color: #999;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color: #999;}
input:-moz-placeholder, textarea:-moz-placeholder {color: #999;}
.themesflat-boxed .footer-widgets .widget.widget_mc4wp_form_widget
input {color: #fff;}
.imagebox, .themesflat_imagebox.style2 .imagebox-desc, .footer-widgets
.widget {margin-bottom: 0 !important;}
.footer_background .content-register-footer {padding: 25px 0;}
.footer_background .content-register-footer
p {margin-bottom: 5px;font-size: 13px;color: #888;}
#text-2.widget.widget_text .textwidget
p {margin-bottom: 40px;}
#text-2.widget.widget_text
.textwidget {margin-top: -24px;}
.footer-widgets .widget-title {margin-top: 56px;}
.header.header-style1.header-sticky #mainnav .info-top-right.border-left {float: left;height: 75px;padding-left: 15px;padding-top: 17px;}
.header.header-style1.header-sticky #mainnav .info-top-right.border-left
.appoinment {float: left;padding: 0 18px;text-transform: initial;display: flex;align-items: center;justify-content: center;font-size: 13px;height: 36px;margin-top: 2px;}
.header.header-style1.header-sticky #mainnav .info-top-right.border-left .hotline-header {float: left;padding-left: 30px;line-height: 41px;}
.header.header-style1.header-sticky .show-search {margin-left: 10px;}
.header.header-style1.header-sticky #mainnav .info-top-right
span {margin-right: 0px;font-weight: bold;}
.header.header-style1.header-sticky #mainnav .fa.fa-phone {position: absolute;font-size: 19px;margin-left: -17px;line-height: 43px;}
#mainnav
ul {float: left;}
#popup-team-member
#myModa1 {padding-right: 0 !important;padding-top: 86px;z-index: 99999;}
#popup-team-member #myModa1 .modal-header {border: none;}
#popup-team-member #myModa1 .modal-header
.close {left: 15px;left: 6px;position: absolute;width: 30px;height: 30px;opacity: .8;color: #fff;top: 6px;}
#popup-team-member #myModa1 .modal-header .close:hover {background: #f00;}
#popup-team-member #myModa1 .modal-content .image-members-full
.image {text-align: center;width: 100%;}
#popup-team-member #myModa1 .modal-content .image-members-full .image .social-links {margin-top: 12px;}
#popup-team-member #myModa1 .modal-content .image-members-full .image .themesflat-button {display: none;}
.themesflat-team.themesflat-hover .team-desc, #popup-team-member #myModa1 .modal-content .image-members-full .image .social-links, #popup-team-member #myModa1 .modal-content .modal-header .social-content
span {display: none;}
#popup-team-member #myModa1 .modal-content .modal-header .social-content
.fa {font-size: 15px;margin: 0 1px;color: #444;}
#popup-team-member #myModa1 .modal-content .image-members-full .image .social-links {}
#popup-team-member #myModa1 .modal-content .image-members-full .image .image-member {display: inline-block;text-align: center;}
#popup-team-member #myModa1 .modal-content {border-radius: 0;padding: 5% 10% 5%;box-shadow: none;border-color: transparent;}
#popup-team-member #myModa1 .modal-content::before {content: "";position: absolute;border-top: 0px solid #8d6dc4;border-bottom: 77px solid transparent;border-left: 77px solid #81bdf2;top: 0;left: 0px;}
#popup-team-member #myModa1 .modal-content::after {content: "";position: absolute;border-top: 0px solid #8d6dc4;border-bottom: 77px solid #81bdf2;border-right: 0 solid transparent;border-left: 77px solid transparent;bottom: 0;right: 0;}
#popup-team-member #myModa1 .modal-content .image-members-full .image .image-member::after {content: "";position: absolute;border-top: 0px solid #8d6dc4;border-bottom: 77px solid transparent;border-right: 41px solid transparent;border-left: 77px solid #3d9be9;top: 0;left: 0px;}
#popup-team-member #myModa1 .modal-content .line-color {border: 1px solid #3d9be9;width: 160px;margin-left: 15px;display: inline-block;}
#popup-team-member #myModa1 .modal-content .title-modal
.title {height: 210px;background: #fff;background: #e1f1ff;padding: 6% 17%;padding-top: 60px;border-radius: 75px 5px 75px 5px;color: #fff;width: 92%;border: 1px solid #edf6fe;float: right;}
#popup-team-member #myModa1 .modal-content .title-modal .title .modal-title {color: #3d9be9;line-height: 24px;}
#popup-team-member #myModa1 .modal-content .title-modal .title .social-content {margin-top: 10px;}
#popup-team-member #myModa1 .modal-content .title-modal .title
span {font-weight: normal;color: #888;font-size: 13px;margin-top: -4px;}
#popup-team-member #myModa1::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);border-radius: 0px;background-color: #f5f5f5;}
#popup-team-member #myModa1::-webkit-scrollbar {width: 10px;background-color: #f5f5f5;}
#popup-team-member #myModa1::-webkit-scrollbar-thumb {border-radius: 0px;-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);background-color: #3d9ae3;}
#popup-team-member #myModa1 .modal-body .content-member {font-size: 13px;line-height: 23px;text-align: justify;}
.header-sticky .logo svg, .header-sticky .logo
img {max-height: 75%;}
.logo {padding-top: 15px;}
.themesflat-top .content-left ul.language-chooser li a::after, .themesflat-top .content-left ul.language-chooser li
.qtranxs_text.qtranxs_text_en {}
.themesflat-top .content-left ul.language-chooser {}
.go-top.show {bottom: 45px;}
@media only screen and (max-width: 420px) {.go-top.show {bottom: 50px;}}
.imagebox, .themesflat_imagebox.style2 .imagebox-desc, .footer-widgets
.widget {margin-bottom: 0 !important;}
.logo img, .logo
svg {width: auto;}
#text-2.widget.widget_text
.textwidget {margin-top: -20px;}
@media (max-width: 767px) {.footer-widgets .widget-title {margin-bottom: 10px;}}
.themesflat-boxed .popup #myModal2 form input::placeholder {line-height: initial;}
.page-title h1, a, h1, h2, h3 {line-height: normal;}
#comments {display: none;}
.page-header
.nothing {color: #3d9be9;margin-top: -25px;}
.error404 .error-404 .sub-title-404 {color: #3d9be9;margin-bottom: 15px;}
.content-area.fullwidth-404 .themesflat-button {margin-top: 50px;}
.footer_background .content-register-footer
a {color: #aac9ce;}
.footer_background .content-register-footer a:hover {color: #fff;}
.page-title-container
h1 {font-size: 28px;}
#text-2.widget.widget_text
.textwidget {margin-top: 0 !important;}
#text-2.widget.widget_text .textwidget
p {margin-bottom: 16px !important;}
.footer_background .content-register-footer
img {width: 156px;}
.footer-widgets #text-5 {text-align: justify;}
@media only screen and (max-width: 480px) {.themesflat-boxed .themesflat-top .content-right {justify-content: center;display: flex;align-items: center;}
	.themesflat-boxed .themesflat-top .content-right .info-top-right
a.appoinment {height: auto;line-height: inherit;justify-content: center;display: flex;align-items: center;}
	.rev_slider_wrapper .rev_slider .tp-revslider-mainul li:first-child .tp-bgimg.defaultimg {margin-top: -32px;}}
@media (max-width:1200px) {.go-top.show {bottom: 15px;left: 15px;}}
#popup-team-member #myModa1 .modal-body .content-member
.fa {color: #3d9be9;width: 16px;text-align: center;}
#popup-team-member #myModa1 .modal-content .title-modal .title .modal-title {color: #5da6e2;}
.footer-widgets .themesflat-shortcode-socials
i {position: absolute;top: 2px;font-size: 20px;width: 28px;left: -3px;text-align: center;padding: 5px 0px;color: #fff;border-radius: 5px;}
.footer-widgets .themesflat-shortcode-socials i.fa-facebook {background: #3b5998;}
.footer-widgets .themesflat-shortcode-socials i.fa-youtube {background: #f00;}
.footer-widgets .themesflat-shortcode-socials i.fa-youtube {background: #f00;}
@media (max-width: 600px) {.themesflat-top .content-left ul.language-chooser {z-index: 9999;}
	.admin-bar .themesflat-top .content-left ul.language-chooser {z-index: 9999;}}
body::-webkit-scrollbar-thumb, .themesflat-boxed .popup #myModal2 .modal-header {background-color: #377493 !important;}
.themesflat-portfolio .item .portfolio-details .title-post
a {color: #21536c !important;}
.bottom .copyright
a {color: #aac9ce;}
.portfolio-filter li:first-of-type, .portfolio-filter li:nth-child(3), .portfolio-filter li:first-of-type, .portfolio-filter li:nth-child(4) {float: left;}
.themesflat_iconbox .sub-title {margin-top: 0px;}
.footer_background .content-register-footer p, .footer-widgets #text-5
p {color: #fff !important;}
#mainnav #menu-main .current-menu-ancestor .sub-menu .current-menu-item a, .widget-brochures ul li
a {color: #fff !important;}
#mainnav #menu-main>.current-menu-ancestor>a, #menu-footer_service>.current-menu-item>a, #menu-footer_service>.current-menu-item::before {color: #377493;}
#custom_equal_height .wpb_wrapper .themesflat_counter .counter-icon .icon, .link-contact-us
a {background-color: #377493;}
.themesflat-top .content-left ul.language-chooser li.active a, .themesflat-top .content-left ul.language-chooser li a:hover, .breadcrumb-trail.breadcrumbs span.trail-end {color: #377493 !important;}
#mainnav #menu-main .current-menu-ancestor .sub-menu .current-menu-item
a {background: #aac9ce !important;}
.themesflat_counter .counter-content-left {color: #565454 !important;height: 60px;line-height: 67px;position: relative;display: block;margin: 0 auto;margin-bottom: 20px;margin-top: -20px;}
.themesflat_counter.style2 .counter-content-left .numb-count {font-size: 26px !important;font-weight: bold;}
.sidebar .widget.widget_nav_menu ul li.current-menu-item a:before, .sidebar .widget.widget_nav_menu ul li a:hover:before, .widget-brochures ul
li {background-color: #21536c;}
.wpcf7-form
.custom_form {background: #21536c;}
@media (min-width: 992px) {.footer_background .content-register-footer
.right {padding-left: 48px;padding-top: 10px;}
	.footer_background .content-register-footer
.left {width: 110%;padding-top: 10px;}}
@media (max-width: 1200px) {.themesflat-boxed .themesflat-top .content-left {width: 100%;display: grid;}}
@media (max-width: 991px) {.themesflat_header_wrap .header.header-sticky .show-search
a {margin: 28px 0 18px;}
	.themesflat-top .content-left
ul {line-height: 30px;}
	.page-title
h1 {text-transform: initial;line-height: normal;}
	#primary h1, #primary h2, #primary h3, #primary h4, #primary h5, #primary
h5 {line-height: normal;}}
@media (max-width: 767px) {.themesflat-boxed .page-wrap {}
	.themesflat-boxed .page-title .breadcrumb-trail.breadcrumbs {margin-bottom: 5px;}
	.themesflat-boxed
.header {}
	#header
.nav {padding: 0 15px;}}
@media (max-width: 480px) {.rev_slider_wrapper .rev_slider .tp-revslider-mainul li:first-child .tp-bgimg.defaultimg {background-size: auto 88% !important;background-position: 20% center !important;}
	.themesflat-boxed .themesflat-top .content-right .info-top-right.border-left
span {display: none;}
	.themesflat-boxed .themesflat-top .content-left {width: 100%;display: grid;}
	.themesflat-top .content-left ul.language-chooser {margin-right: 0;}
	#popup-team-member #myModa1 .modal-content .title-modal
.title {width: 100%;padding: 18% 6%;height: auto;}}
@font-face {font-family: typicons;font-weight: 400;font-style: normal;src: url("/wp-content/plugins/js_composer/assets/css/lib/typicons/src/font/typicons.eot");src: url("/wp-content/plugins/js_composer/assets/css/lib/typicons/src/font/typicons.eot#iefix") format("embedded-opentype"),url("/wp-content/plugins/js_composer/assets/css/lib/typicons/src/font/typicons.woff") format("woff"),url("/wp-content/plugins/js_composer/assets/css/lib/typicons/src/font/typicons.ttf") format("truetype"),url("/wp-content/plugins/js_composer/assets/css/lib/typicons/src/font/typicons.svg#typicons") format("svg");}
.typcn:before {font-family: typicons;font-style: normal;font-weight: 400;speak: none;display: inline-block;text-decoration: inherit;width: 1em;height: 1em;font-size: 1em;text-align: center;-webkit-font-smoothing: antialiased;font-smoothing: antialiased;text-rendering: optimizeLegibility;}
.typcn-adjust-brightness:before {content: "";}
.typcn-adjust-contrast:before {content: "";}
.typcn-anchor-outline:before {content: "";}
.typcn-anchor:before {content: "";}
.typcn-archive:before {content: "";}
.typcn-arrow-back-outline:before {content: "";}
.typcn-arrow-back:before {content: "";}
.typcn-arrow-down-outline:before {content: "";}
.typcn-arrow-down-thick:before {content: "";}
.typcn-arrow-down:before {content: "";}
.typcn-arrow-forward-outline:before {content: "";}
.typcn-arrow-forward:before {content: "";}
.typcn-arrow-left-outline:before {content: "";}
.typcn-arrow-left-thick:before {content: "";}
.typcn-arrow-left:before {content: "";}
.typcn-arrow-loop-outline:before {content: "";}
.typcn-arrow-loop:before {content: "";}
.typcn-arrow-maximise-outline:before {content: "";}
.typcn-arrow-maximise:before {content: "";}
.typcn-arrow-minimise-outline:before {content: "";}
.typcn-arrow-minimise:before {content: "";}
.typcn-arrow-move-outline:before {content: "";}
.typcn-arrow-move:before {content: "";}
.typcn-arrow-repeat-outline:before {content: "";}
.typcn-arrow-repeat:before {content: "";}
.typcn-arrow-right-outline:before {content: "";}
.typcn-arrow-right-thick:before {content: "";}
.typcn-arrow-right:before {content: "";}
.typcn-arrow-shuffle:before {content: "";}
.typcn-arrow-sorted-down:before {content: "";}
.typcn-arrow-sorted-up:before {content: "";}
.typcn-arrow-sync-outline:before {content: "";}
.typcn-arrow-sync:before {content: "";}
.typcn-arrow-unsorted:before {content: "";}
.typcn-arrow-up-outline:before {content: "";}
.typcn-arrow-up-thick:before {content: "";}
.typcn-arrow-up:before {content: "";}
.typcn-at:before {content: "";}
.typcn-attachment-outline:before {content: "";}
.typcn-attachment:before {content: "";}
.typcn-backspace-outline:before {content: "";}
.typcn-backspace:before {content: "";}
.typcn-battery-charge:before {content: "";}
.typcn-battery-full:before {content: "";}
.typcn-battery-high:before {content: "";}
.typcn-battery-low:before {content: "";}
.typcn-battery-mid:before {content: "";}
.typcn-beaker:before {content: "";}
.typcn-beer:before {content: "";}
.typcn-bell:before {content: "";}
.typcn-book:before {content: "";}
.typcn-bookmark:before {content: "";}
.typcn-briefcase:before {content: "";}
.typcn-brush:before {content: "";}
.typcn-business-card:before {content: "";}
.typcn-calculator:before {content: "";}
.typcn-calendar-outline:before {content: "";}
.typcn-calendar:before {content: "";}
.typcn-camera-outline:before {content: "";}
.typcn-camera:before {content: "";}
.typcn-cancel-outline:before {content: "";}
.typcn-cancel:before {content: "";}
.typcn-chart-area-outline:before {content: "";}
.typcn-chart-area:before {content: "";}
.typcn-chart-bar-outline:before {content: "";}
.typcn-chart-bar:before {content: "";}
.typcn-chart-line-outline:before {content: "";}
.typcn-chart-line:before {content: "";}
.typcn-chart-pie-outline:before {content: "";}
.typcn-chart-pie:before {content: "";}
.typcn-chevron-left-outline:before {content: "";}
.typcn-chevron-left:before {content: "";}
.typcn-chevron-right-outline:before {content: "";}
.typcn-chevron-right:before {content: "";}
.typcn-clipboard:before {content: "";}
.typcn-cloud-storage:before {content: "";}
.typcn-cloud-storage-outline:before {content: "";}
.typcn-code-outline:before {content: "";}
.typcn-code:before {content: "";}
.typcn-coffee:before {content: "";}
.typcn-cog-outline:before {content: "";}
.typcn-cog:before {content: "";}
.typcn-compass:before {content: "";}
.typcn-contacts:before {content: "";}
.typcn-credit-card:before {content: "";}
.typcn-css3:before {content: "";}
.typcn-database:before {content: "";}
.typcn-delete-outline:before {content: "";}
.typcn-delete:before {content: "";}
.typcn-device-desktop:before {content: "";}
.typcn-device-laptop:before {content: "";}
.typcn-device-phone:before {content: "";}
.typcn-device-tablet:before {content: "";}
.typcn-directions:before {content: "";}
.typcn-divide-outline:before {content: "";}
.typcn-divide:before {content: "";}
.typcn-document-add:before {content: "";}
.typcn-document-delete:before {content: "";}
.typcn-document-text:before {content: "";}
.typcn-document:before {content: "";}
.typcn-download-outline:before {content: "";}
.typcn-download:before {content: "";}
.typcn-dropbox:before {content: "";}
.typcn-edit:before {content: "";}
.typcn-eject-outline:before {content: "";}
.typcn-eject:before {content: "";}
.typcn-equals-outline:before {content: "";}
.typcn-equals:before {content: "";}
.typcn-export-outline:before {content: "";}
.typcn-export:before {content: "";}
.typcn-eye-outline:before {content: "";}
.typcn-eye:before {content: "";}
.typcn-feather:before {content: "";}
.typcn-film:before {content: "";}
.typcn-filter:before {content: "";}
.typcn-flag-outline:before {content: "";}
.typcn-flag:before {content: "";}
.typcn-flash-outline:before {content: "";}
.typcn-flash:before {content: "";}
.typcn-flow-children:before {content: "";}
.typcn-flow-merge:before {content: "";}
.typcn-flow-parallel:before {content: "";}
.typcn-flow-switch:before {content: "";}
.typcn-folder-add:before {content: "";}
.typcn-folder-delete:before {content: "";}
.typcn-folder-open:before {content: "";}
.typcn-folder:before {content: "";}
.typcn-gift:before {content: "";}
.typcn-globe-outline:before {content: "";}
.typcn-globe:before {content: "";}
.typcn-group-outline:before {content: "";}
.typcn-group:before {content: "";}
.typcn-headphones:before {content: "";}
.typcn-heart-full-outline:before {content: "";}
.typcn-heart-half-outline:before {content: "";}
.typcn-heart-outline:before {content: "";}
.typcn-heart:before {content: "";}
.typcn-home-outline:before {content: "";}
.typcn-home:before {content: "";}
.typcn-html5:before {content: "";}
.typcn-image-outline:before {content: "";}
.typcn-image:before {content: "";}
.typcn-infinity-outline:before {content: "";}
.typcn-infinity:before {content: "";}
.typcn-info-large-outline:before {content: "";}
.typcn-info-large:before {content: "";}
.typcn-info-outline:before {content: "";}
.typcn-info:before {content: "";}
.typcn-input-checked-outline:before {content: "";}
.typcn-input-checked:before {content: "";}
.typcn-key-outline:before {content: "";}
.typcn-key:before {content: "";}
.typcn-keyboard:before {content: "";}
.typcn-leaf:before {content: "";}
.typcn-lightbulb:before {content: "";}
.typcn-link-outline:before {content: "";}
.typcn-link:before {content: "";}
.typcn-location-arrow-outline:before {content: "";}
.typcn-location-arrow:before {content: "";}
.typcn-location-outline:before {content: "";}
.typcn-location:before {content: "";}
.typcn-lock-closed-outline:before {content: "";}
.typcn-lock-closed:before {content: "";}
.typcn-lock-open-outline:before {content: "";}
.typcn-lock-open:before {content: "";}
.typcn-mail:before {content: "";}
.typcn-map:before {content: "";}
.typcn-media-eject-outline:before {content: "";}
.typcn-media-eject:before {content: "";}
.typcn-media-fast-forward-outline:before {content: "";}
.typcn-media-fast-forward:before {content: "";}
.typcn-media-pause-outline:before {content: "";}
.typcn-media-pause:before {content: "";}
.typcn-media-play-outline:before {content: "";}
.typcn-media-play-reverse-outline:before {content: "";}
.typcn-media-play-reverse:before {content: "";}
.typcn-media-play:before {content: "";}
.typcn-media-record-outline:before {content: "";}
.typcn-media-record:before {content: "";}
.typcn-media-rewind-outline:before {content: "";}
.typcn-media-rewind:before {content: "";}
.typcn-media-stop-outline:before {content: "";}
.typcn-media-stop:before {content: "";}
.typcn-message-typing:before {content: "";}
.typcn-message:before {content: "";}
.typcn-messages:before {content: "";}
.typcn-microphone-outline:before {content: "";}
.typcn-microphone:before {content: "";}
.typcn-minus-outline:before {content: "";}
.typcn-minus:before {content: "";}
.typcn-mortar-board:before {content: "";}
.typcn-news:before {content: "";}
.typcn-notes-outline:before {content: "";}
.typcn-notes:before {content: "";}
.typcn-pen:before {content: "";}
.typcn-pencil:before {content: "";}
.typcn-phone-outline:before {content: "";}
.typcn-phone:before {content: "";}
.typcn-pi-outline:before {content: "";}
.typcn-pi:before {content: "";}
.typcn-pin-outline:before {content: "";}
.typcn-pin:before {content: "";}
.typcn-pipette:before {content: "";}
.typcn-plane-outline:before {content: "";}
.typcn-plane:before {content: "";}
.typcn-plug:before {content: "";}
.typcn-plus-outline:before {content: "";}
.typcn-plus:before {content: "";}
.typcn-point-of-interest-outline:before {content: "";}
.typcn-point-of-interest:before {content: "";}
.typcn-power-outline:before {content: "";}
.typcn-power:before {content: "";}
.typcn-printer:before {content: "";}
.typcn-puzzle-outline:before {content: "";}
.typcn-puzzle:before {content: "";}
.typcn-radar-outline:before {content: "";}
.typcn-radar:before {content: "";}
.typcn-refresh-outline:before {content: "";}
.typcn-refresh:before {content: "";}
.typcn-rss-outline:before {content: "";}
.typcn-rss:before {content: "";}
.typcn-scissors-outline:before {content: "";}
.typcn-scissors:before {content: "";}
.typcn-shopping-bag:before {content: "";}
.typcn-shopping-cart:before {content: "";}
.typcn-social-at-circular:before {content: "";}
.typcn-social-dribbble-circular:before {content: "";}
.typcn-social-dribbble:before {content: "";}
.typcn-social-facebook-circular:before {content: "";}
.typcn-social-facebook:before {content: "";}
.typcn-social-flickr-circular:before {content: "";}
.typcn-social-flickr:before {content: "";}
.typcn-social-github-circular:before {content: "";}
.typcn-social-github:before {content: "";}
.typcn-social-google-plus-circular:before {content: "";}
.typcn-social-google-plus:before {content: "";}
.typcn-social-instagram-circular:before {content: "";}
.typcn-social-instagram:before {content: "";}
.typcn-social-last-fm-circular:before {content: "";}
.typcn-social-last-fm:before {content: "";}
.typcn-social-linkedin-circular:before {content: "";}
.typcn-social-linkedin:before {content: "";}
.typcn-social-pinterest-circular:before {content: "";}
.typcn-social-pinterest:before {content: "";}
.typcn-social-skype-outline:before {content: "";}
.typcn-social-skype:before {content: "";}
.typcn-social-tumbler-circular:before {content: "";}
.typcn-social-tumbler:before {content: "";}
.typcn-social-twitter-circular:before {content: "";}
.typcn-social-twitter:before {content: "";}
.typcn-social-vimeo-circular:before {content: "";}
.typcn-social-vimeo:before {content: "";}
.typcn-social-youtube-circular:before {content: "";}
.typcn-social-youtube:before {content: "";}
.typcn-sort-alphabetically-outline:before {content: "";}
.typcn-sort-alphabetically:before {content: "";}
.typcn-sort-numerically-outline:before {content: "";}
.typcn-sort-numerically:before {content: "";}
.typcn-spanner-outline:before {content: "";}
.typcn-spanner:before {content: "";}
.typcn-spiral:before {content: "";}
.typcn-star-full-outline:before {content: "";}
.typcn-star-half-outline:before {content: "";}
.typcn-star-half:before {content: "";}
.typcn-star-outline:before {content: "";}
.typcn-star:before {content: "";}
.typcn-starburst-outline:before {content: "";}
.typcn-starburst:before {content: "";}
.typcn-stopwatch:before {content: "";}
.typcn-support:before {content: "";}
.typcn-tabs-outline:before {content: "";}
.typcn-tag:before {content: "";}
.typcn-tags:before {content: "";}
.typcn-th-large-outline:before {content: "";}
.typcn-th-large:before {content: "";}
.typcn-th-list-outline:before {content: "";}
.typcn-th-list:before {content: "";}
.typcn-th-menu-outline:before {content: "";}
.typcn-th-menu:before {content: "";}
.typcn-th-small-outline:before {content: "";}
.typcn-th-small:before {content: "";}
.typcn-thermometer:before {content: "";}
.typcn-thumbs-down:before {content: "";}
.typcn-thumbs-ok:before {content: "";}
.typcn-thumbs-up:before {content: "";}
.typcn-tick-outline:before {content: "";}
.typcn-tick:before {content: "";}
.typcn-ticket:before {content: "";}
.typcn-time:before {content: "";}
.typcn-times-outline:before {content: "";}
.typcn-times:before {content: "";}
.typcn-trash:before {content: "";}
.typcn-tree:before {content: "";}
.typcn-upload-outline:before {content: "";}
.typcn-upload:before {content: "";}
.typcn-user-add-outline:before {content: "";}
.typcn-user-add:before {content: "";}
.typcn-user-delete-outline:before {content: "";}
.typcn-user-delete:before {content: "";}
.typcn-user-outline:before {content: "";}
.typcn-user:before {content: "";}
.typcn-vendor-android:before {content: "";}
.typcn-vendor-apple:before {content: "";}
.typcn-vendor-microsoft:before {content: "";}
.typcn-video-outline:before {content: "";}
.typcn-video:before {content: "";}
.typcn-volume-down:before {content: "";}
.typcn-volume-mute:before {content: "";}
.typcn-volume-up:before {content: "";}
.typcn-volume:before {content: "";}
.typcn-warning-outline:before {content: "";}
.typcn-warning:before {content: "";}
.typcn-watch:before {content: "";}
.typcn-waves-outline:before {content: "";}
.typcn-waves:before {content: "";}
.typcn-weather-cloudy:before {content: "";}
.typcn-weather-downpour:before {content: "";}
.typcn-weather-night:before {content: "";}
.typcn-weather-partly-sunny:before {content: "";}
.typcn-weather-shower:before {content: "";}
.typcn-weather-snow:before {content: "";}
.typcn-weather-stormy:before {content: "";}
.typcn-weather-sunny:before {content: "";}
.typcn-weather-windy-cloudy:before {content: "";}
.typcn-weather-windy:before {content: "";}
.typcn-wi-fi-outline:before {content: "";}
.typcn-wi-fi:before {content: "";}
.typcn-wine:before {content: "";}
.typcn-world-outline:before {content: "";}
.typcn-world:before {content: "";}
.typcn-zoom-in-outline:before {content: "";}
.typcn-zoom-in:before {content: "";}
.typcn-zoom-out-outline:before {content: "";}
.typcn-zoom-out:before {content: "";}
.typcn-zoom-outline:before {content: "";}
.typcn-zoom:before {content: "";}