@charset 'UTF-8';
@font-face{font-family:'FontAwesome';src:url(/wp-content/plugins/revslider/public/assets/fonts/font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0);src:url(/wp-content/plugins/revslider/public/assets/fonts/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0) format('embedded-opentype'), url(/wp-content/plugins/revslider/public/assets/fonts/font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0) format('woff2'), url(/wp-content/plugins/revslider/public/assets/fonts/font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0) format('woff'), url(/wp-content/plugins/revslider/public/assets/fonts/font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0) format('truetype'), url(/wp-content/plugins/revslider/public/assets/fonts/font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular) format('svg');font-weight:normal;font-style:normal;}
[class^="fa-icon-"], [class*=" fa-icon-"]{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.fa-icon-lg{font-size:1.33333333em;line-height:0.75em;vertical-align:-15%;}
.fa-icon-2x{font-size:2em;}
.fa-icon-3x{font-size:3em;}
.fa-icon-4x{font-size:4em;}
.fa-icon-5x{font-size:5em;}
.fa-icon-fw{width:1.28571429em;text-align:center;}
.fa-icon-ul{padding-left:0;margin-left:2.14285714em;list-style-type:none;}
.fa-icon-ul > li{position:relative;}
.fa-icon-li{position:absolute;left:-2.14285714em;width:2.14285714em;top:0.14285714em;text-align:center;}
.fa-icon-li.fa-icon-lg{left:-1.85714286em;}
.fa-icon-border{padding:.2em .25em .15em;border:solid 0.08em #eeeeee;border-radius:.1em;}
.fa-icon-pull-left{float:left;}
.fa-icon-pull-right{float:right;}
.fa.fa-icon-pull-left{margin-right:.3em;}
.fa.fa-icon-pull-right{margin-left:.3em;}
.pull-right{float:right;}
.pull-left{float:left;}
.fa.pull-left{margin-right:.3em;}
.fa.pull-right{margin-left:.3em;}
.fa-icon-spin{-webkit-animation:fa-spin 2s infinite linear;animation:fa-spin 2s infinite linear;}
.fa-icon-pulse{-webkit-animation:fa-spin 1s infinite steps(8);animation:fa-spin 1s infinite steps(8);}
@-webkit-keyframes fa-spin {
0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
100%{-webkit-transform:rotate(359deg);transform:rotate(359deg);}
}
@keyframes fa-spin {
0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
100%{-webkit-transform:rotate(359deg);transform:rotate(359deg);}
}
.fa-icon-rotate-90{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg);}
.fa-icon-rotate-180{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg);}
.fa-icon-rotate-270{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";-webkit-transform:rotate(270deg);-ms-transform:rotate(270deg);transform:rotate(270deg);}
.fa-icon-flip-horizontal{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";-webkit-transform:scale(-1, 1);-ms-transform:scale(-1, 1);transform:scale(-1, 1);}
.fa-icon-flip-vertical{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";-webkit-transform:scale(1, -1);-ms-transform:scale(1, -1);transform:scale(1, -1);}:root .fa-icon-rotate-90,
:root .fa-icon-rotate-180,
:root .fa-icon-rotate-270,
:root .fa-icon-flip-horizontal,
:root .fa-icon-flip-vertical{filter:none;}
.fa-icon-stack{position:relative;display:inline-block;width:2em;height:2em;line-height:2em;vertical-align:middle;}
.fa-icon-stack-1x,
.fa-icon-stack-2x{position:absolute;left:0;width:100%;text-align:center;}
.fa-icon-stack-1x{line-height:inherit;}
.fa-icon-stack-2x{font-size:2em;}
.fa-icon-inverse{color:#ffffff;}
.fa-icon-glass:before{content:"\f000";}
.fa-icon-music:before{content:"\f001";}
.fa-icon-search:before{content:"\f002";}
.fa-icon-envelope-o:before{content:"\f003";}
.fa-icon-heart:before{content:"\f004";}
.fa-icon-star:before{content:"\f005";}
.fa-icon-star-o:before{content:"\f006";}
.fa-icon-user:before{content:"\f007";}
.fa-icon-film:before{content:"\f008";}
.fa-icon-th-large:before{content:"\f009";}
.fa-icon-th:before{content:"\f00a";}
.fa-icon-th-list:before{content:"\f00b";}
.fa-icon-check:before{content:"\f00c";}
.fa-icon-remove:before,
.fa-icon-close:before,
.fa-icon-times:before{content:"\f00d";}
.fa-icon-search-plus:before{content:"\f00e";}
.fa-icon-search-minus:before{content:"\f010";}
.fa-icon-power-off:before{content:"\f011";}
.fa-icon-signal:before{content:"\f012";}
.fa-icon-gear:before,
.fa-icon-cog:before{content:"\f013";}
.fa-icon-trash-o:before{content:"\f014";}
.fa-icon-home:before{content:"\f015";}
.fa-icon-file-o:before{content:"\f016";}
.fa-icon-clock-o:before{content:"\f017";}
.fa-icon-road:before{content:"\f018";}
.fa-icon-download:before{content:"\f019";}
.fa-icon-arrow-circle-o-down:before{content:"\f01a";}
.fa-icon-arrow-circle-o-up:before{content:"\f01b";}
.fa-icon-inbox:before{content:"\f01c";}
.fa-icon-play-circle-o:before{content:"\f01d";}
.fa-icon-rotate-right:before,
.fa-icon-repeat:before{content:"\f01e";}
.fa-icon-refresh:before{content:"\f021";}
.fa-icon-list-alt:before{content:"\f022";}
.fa-icon-lock:before{content:"\f023";}
.fa-icon-flag:before{content:"\f024";}
.fa-icon-headphones:before{content:"\f025";}
.fa-icon-volume-off:before{content:"\f026";}
.fa-icon-volume-down:before{content:"\f027";}
.fa-icon-volume-up:before{content:"\f028";}
.fa-icon-qrcode:before{content:"\f029";}
.fa-icon-barcode:before{content:"\f02a";}
.fa-icon-tag:before{content:"\f02b";}
.fa-icon-tags:before{content:"\f02c";}
.fa-icon-book:before{content:"\f02d";}
.fa-icon-bookmark:before{content:"\f02e";}
.fa-icon-print:before{content:"\f02f";}
.fa-icon-camera:before{content:"\f030";}
.fa-icon-font:before{content:"\f031";}
.fa-icon-bold:before{content:"\f032";}
.fa-icon-italic:before{content:"\f033";}
.fa-icon-text-height:before{content:"\f034";}
.fa-icon-text-width:before{content:"\f035";}
.fa-icon-align-left:before{content:"\f036";}
.fa-icon-align-center:before{content:"\f037";}
.fa-icon-align-right:before{content:"\f038";}
.fa-icon-align-justify:before{content:"\f039";}
.fa-icon-list:before{content:"\f03a";}
.fa-icon-dedent:before,
.fa-icon-outdent:before{content:"\f03b";}
.fa-icon-indent:before{content:"\f03c";}
.fa-icon-video-camera:before{content:"\f03d";}
.fa-icon-photo:before,
.fa-icon-image:before,
.fa-icon-picture-o:before{content:"\f03e";}
.fa-icon-pencil:before{content:"\f040";}
.fa-icon-map-marker:before{content:"\f041";}
.fa-icon-adjust:before{content:"\f042";}
.fa-icon-tint:before{content:"\f043";}
.fa-icon-edit:before,
.fa-icon-pencil-square-o:before{content:"\f044";}
.fa-icon-share-square-o:before{content:"\f045";}
.fa-icon-check-square-o:before{content:"\f046";}
.fa-icon-arrows:before{content:"\f047";}
.fa-icon-step-backward:before{content:"\f048";}
.fa-icon-fast-backward:before{content:"\f049";}
.fa-icon-backward:before{content:"\f04a";}
.fa-icon-play:before{content:"\f04b";}
.fa-icon-pause:before{content:"\f04c";}
.fa-icon-stop:before{content:"\f04d";}
.fa-icon-forward:before{content:"\f04e";}
.fa-icon-fast-forward:before{content:"\f050";}
.fa-icon-step-forward:before{content:"\f051";}
.fa-icon-eject:before{content:"\f052";}
.fa-icon-chevron-left:before{content:"\f053";}
.fa-icon-chevron-right:before{content:"\f054";}
.fa-icon-plus-circle:before{content:"\f055";}
.fa-icon-minus-circle:before{content:"\f056";}
.fa-icon-times-circle:before{content:"\f057";}
.fa-icon-check-circle:before{content:"\f058";}
.fa-icon-question-circle:before{content:"\f059";}
.fa-icon-info-circle:before{content:"\f05a";}
.fa-icon-crosshairs:before{content:"\f05b";}
.fa-icon-times-circle-o:before{content:"\f05c";}
.fa-icon-check-circle-o:before{content:"\f05d";}
.fa-icon-ban:before{content:"\f05e";}
.fa-icon-arrow-left:before{content:"\f060";}
.fa-icon-arrow-right:before{content:"\f061";}
.fa-icon-arrow-up:before{content:"\f062";}
.fa-icon-arrow-down:before{content:"\f063";}
.fa-icon-mail-forward:before,
.fa-icon-share:before{content:"\f064";}
.fa-icon-expand:before{content:"\f065";}
.fa-icon-compress:before{content:"\f066";}
.fa-icon-plus:before{content:"\f067";}
.fa-icon-minus:before{content:"\f068";}
.fa-icon-asterisk:before{content:"\f069";}
.fa-icon-exclamation-circle:before{content:"\f06a";}
.fa-icon-gift:before{content:"\f06b";}
.fa-icon-leaf:before{content:"\f06c";}
.fa-icon-fire:before{content:"\f06d";}
.fa-icon-eye:before{content:"\f06e";}
.fa-icon-eye-slash:before{content:"\f070";}
.fa-icon-warning:before,
.fa-icon-exclamation-triangle:before{content:"\f071";}
.fa-icon-plane:before{content:"\f072";}
.fa-icon-calendar:before{content:"\f073";}
.fa-icon-random:before{content:"\f074";}
.fa-icon-comment:before{content:"\f075";}
.fa-icon-magnet:before{content:"\f076";}
.fa-icon-chevron-up:before{content:"\f077";}
.fa-icon-chevron-down:before{content:"\f078";}
.fa-icon-retweet:before{content:"\f079";}
.fa-icon-shopping-cart:before{content:"\f07a";}
.fa-icon-folder:before{content:"\f07b";}
.fa-icon-folder-open:before{content:"\f07c";}
.fa-icon-arrows-v:before{content:"\f07d";}
.fa-icon-arrows-h:before{content:"\f07e";}
.fa-icon-bar-chart-o:before,
.fa-icon-bar-chart:before{content:"\f080";}
.fa-icon-twitter-square:before{content:"\f081";}
.fa-icon-facebook-square:before{content:"\f082";}
.fa-icon-camera-retro:before{content:"\f083";}
.fa-icon-key:before{content:"\f084";}
.fa-icon-gears:before,
.fa-icon-cogs:before{content:"\f085";}
.fa-icon-comments:before{content:"\f086";}
.fa-icon-thumbs-o-up:before{content:"\f087";}
.fa-icon-thumbs-o-down:before{content:"\f088";}
.fa-icon-star-half:before{content:"\f089";}
.fa-icon-heart-o:before{content:"\f08a";}
.fa-icon-sign-out:before{content:"\f08b";}
.fa-icon-linkedin-square:before{content:"\f08c";}
.fa-icon-thumb-tack:before{content:"\f08d";}
.fa-icon-external-link:before{content:"\f08e";}
.fa-icon-sign-in:before{content:"\f090";}
.fa-icon-trophy:before{content:"\f091";}
.fa-icon-github-square:before{content:"\f092";}
.fa-icon-upload:before{content:"\f093";}
.fa-icon-lemon-o:before{content:"\f094";}
.fa-icon-phone:before{content:"\f095";}
.fa-icon-square-o:before{content:"\f096";}
.fa-icon-bookmark-o:before{content:"\f097";}
.fa-icon-phone-square:before{content:"\f098";}
.fa-icon-twitter:before{content:"\f099";}
.fa-icon-facebook-f:before,
.fa-icon-facebook:before{content:"\f09a";}
.fa-icon-github:before{content:"\f09b";}
.fa-icon-unlock:before{content:"\f09c";}
.fa-icon-credit-card:before{content:"\f09d";}
.fa-icon-feed:before,
.fa-icon-rss:before{content:"\f09e";}
.fa-icon-hdd-o:before{content:"\f0a0";}
.fa-icon-bullhorn:before{content:"\f0a1";}
.fa-icon-bell:before{content:"\f0f3";}
.fa-icon-certificate:before{content:"\f0a3";}
.fa-icon-hand-o-right:before{content:"\f0a4";}
.fa-icon-hand-o-left:before{content:"\f0a5";}
.fa-icon-hand-o-up:before{content:"\f0a6";}
.fa-icon-hand-o-down:before{content:"\f0a7";}
.fa-icon-arrow-circle-left:before{content:"\f0a8";}
.fa-icon-arrow-circle-right:before{content:"\f0a9";}
.fa-icon-arrow-circle-up:before{content:"\f0aa";}
.fa-icon-arrow-circle-down:before{content:"\f0ab";}
.fa-icon-globe:before{content:"\f0ac";}
.fa-icon-wrench:before{content:"\f0ad";}
.fa-icon-tasks:before{content:"\f0ae";}
.fa-icon-filter:before{content:"\f0b0";}
.fa-icon-briefcase:before{content:"\f0b1";}
.fa-icon-arrows-alt:before{content:"\f0b2";}
.fa-icon-group:before,
.fa-icon-users:before{content:"\f0c0";}
.fa-icon-chain:before,
.fa-icon-link:before{content:"\f0c1";}
.fa-icon-cloud:before{content:"\f0c2";}
.fa-icon-flask:before{content:"\f0c3";}
.fa-icon-cut:before,
.fa-icon-scissors:before{content:"\f0c4";}
.fa-icon-copy:before,
.fa-icon-files-o:before{content:"\f0c5";}
.fa-icon-paperclip:before{content:"\f0c6";}
.fa-icon-save:before,
.fa-icon-floppy-o:before{content:"\f0c7";}
.fa-icon-square:before{content:"\f0c8";}
.fa-icon-navicon:before,
.fa-icon-reorder:before,
.fa-icon-bars:before{content:"\f0c9";}
.fa-icon-list-ul:before{content:"\f0ca";}
.fa-icon-list-ol:before{content:"\f0cb";}
.fa-icon-strikethrough:before{content:"\f0cc";}
.fa-icon-underline:before{content:"\f0cd";}
.fa-icon-table:before{content:"\f0ce";}
.fa-icon-magic:before{content:"\f0d0";}
.fa-icon-truck:before{content:"\f0d1";}
.fa-icon-pinterest:before{content:"\f0d2";}
.fa-icon-pinterest-square:before{content:"\f0d3";}
.fa-icon-google-plus-square:before{content:"\f0d4";}
.fa-icon-google-plus:before{content:"\f0d5";}
.fa-icon-money:before{content:"\f0d6";}
.fa-icon-caret-down:before{content:"\f0d7";}
.fa-icon-caret-up:before{content:"\f0d8";}
.fa-icon-caret-left:before{content:"\f0d9";}
.fa-icon-caret-right:before{content:"\f0da";}
.fa-icon-columns:before{content:"\f0db";}
.fa-icon-unsorted:before,
.fa-icon-sort:before{content:"\f0dc";}
.fa-icon-sort-down:before,
.fa-icon-sort-desc:before{content:"\f0dd";}
.fa-icon-sort-up:before,
.fa-icon-sort-asc:before{content:"\f0de";}
.fa-icon-envelope:before{content:"\f0e0";}
.fa-icon-linkedin:before{content:"\f0e1";}
.fa-icon-rotate-left:before,
.fa-icon-undo:before{content:"\f0e2";}
.fa-icon-legal:before,
.fa-icon-gavel:before{content:"\f0e3";}
.fa-icon-dashboard:before,
.fa-icon-tachometer:before{content:"\f0e4";}
.fa-icon-comment-o:before{content:"\f0e5";}
.fa-icon-comments-o:before{content:"\f0e6";}
.fa-icon-flash:before,
.fa-icon-bolt:before{content:"\f0e7";}
.fa-icon-sitemap:before{content:"\f0e8";}
.fa-icon-umbrella:before{content:"\f0e9";}
.fa-icon-paste:before,
.fa-icon-clipboard:before{content:"\f0ea";}
.fa-icon-lightbulb-o:before{content:"\f0eb";}
.fa-icon-exchange:before{content:"\f0ec";}
.fa-icon-cloud-download:before{content:"\f0ed";}
.fa-icon-cloud-upload:before{content:"\f0ee";}
.fa-icon-user-md:before{content:"\f0f0";}
.fa-icon-stethoscope:before{content:"\f0f1";}
.fa-icon-suitcase:before{content:"\f0f2";}
.fa-icon-bell-o:before{content:"\f0a2";}
.fa-icon-coffee:before{content:"\f0f4";}
.fa-icon-cutlery:before{content:"\f0f5";}
.fa-icon-file-text-o:before{content:"\f0f6";}
.fa-icon-building-o:before{content:"\f0f7";}
.fa-icon-hospital-o:before{content:"\f0f8";}
.fa-icon-ambulance:before{content:"\f0f9";}
.fa-icon-medkit:before{content:"\f0fa";}
.fa-icon-fighter-jet:before{content:"\f0fb";}
.fa-icon-beer:before{content:"\f0fc";}
.fa-icon-h-square:before{content:"\f0fd";}
.fa-icon-plus-square:before{content:"\f0fe";}
.fa-icon-angle-double-left:before{content:"\f100";}
.fa-icon-angle-double-right:before{content:"\f101";}
.fa-icon-angle-double-up:before{content:"\f102";}
.fa-icon-angle-double-down:before{content:"\f103";}
.fa-icon-angle-left:before{content:"\f104";}
.fa-icon-angle-right:before{content:"\f105";}
.fa-icon-angle-up:before{content:"\f106";}
.fa-icon-angle-down:before{content:"\f107";}
.fa-icon-desktop:before{content:"\f108";}
.fa-icon-laptop:before{content:"\f109";}
.fa-icon-tablet:before{content:"\f10a";}
.fa-icon-mobile-phone:before,
.fa-icon-mobile:before{content:"\f10b";}
.fa-icon-circle-o:before{content:"\f10c";}
.fa-icon-quote-left:before{content:"\f10d";}
.fa-icon-quote-right:before{content:"\f10e";}
.fa-icon-spinner:before{content:"\f110";}
.fa-icon-circle:before{content:"\f111";}
.fa-icon-mail-reply:before,
.fa-icon-reply:before{content:"\f112";}
.fa-icon-github-alt:before{content:"\f113";}
.fa-icon-folder-o:before{content:"\f114";}
.fa-icon-folder-open-o:before{content:"\f115";}
.fa-icon-smile-o:before{content:"\f118";}
.fa-icon-frown-o:before{content:"\f119";}
.fa-icon-meh-o:before{content:"\f11a";}
.fa-icon-gamepad:before{content:"\f11b";}
.fa-icon-keyboard-o:before{content:"\f11c";}
.fa-icon-flag-o:before{content:"\f11d";}
.fa-icon-flag-checkered:before{content:"\f11e";}
.fa-icon-terminal:before{content:"\f120";}
.fa-icon-code:before{content:"\f121";}
.fa-icon-mail-reply-all:before,
.fa-icon-reply-all:before{content:"\f122";}
.fa-icon-star-half-empty:before,
.fa-icon-star-half-full:before,
.fa-icon-star-half-o:before{content:"\f123";}
.fa-icon-location-arrow:before{content:"\f124";}
.fa-icon-crop:before{content:"\f125";}
.fa-icon-code-fork:before{content:"\f126";}
.fa-icon-unlink:before,
.fa-icon-chain-broken:before{content:"\f127";}
.fa-icon-question:before{content:"\f128";}
.fa-icon-info:before{content:"\f129";}
.fa-icon-exclamation:before{content:"\f12a";}
.fa-icon-superscript:before{content:"\f12b";}
.fa-icon-subscript:before{content:"\f12c";}
.fa-icon-eraser:before{content:"\f12d";}
.fa-icon-puzzle-piece:before{content:"\f12e";}
.fa-icon-microphone:before{content:"\f130";}
.fa-icon-microphone-slash:before{content:"\f131";}
.fa-icon-shield:before{content:"\f132";}
.fa-icon-calendar-o:before{content:"\f133";}
.fa-icon-fire-extinguisher:before{content:"\f134";}
.fa-icon-rocket:before{content:"\f135";}
.fa-icon-maxcdn:before{content:"\f136";}
.fa-icon-chevron-circle-left:before{content:"\f137";}
.fa-icon-chevron-circle-right:before{content:"\f138";}
.fa-icon-chevron-circle-up:before{content:"\f139";}
.fa-icon-chevron-circle-down:before{content:"\f13a";}
.fa-icon-html5:before{content:"\f13b";}
.fa-icon-css3:before{content:"\f13c";}
.fa-icon-anchor:before{content:"\f13d";}
.fa-icon-unlock-alt:before{content:"\f13e";}
.fa-icon-bullseye:before{content:"\f140";}
.fa-icon-ellipsis-h:before{content:"\f141";}
.fa-icon-ellipsis-v:before{content:"\f142";}
.fa-icon-rss-square:before{content:"\f143";}
.fa-icon-play-circle:before{content:"\f144";}
.fa-icon-ticket:before{content:"\f145";}
.fa-icon-minus-square:before{content:"\f146";}
.fa-icon-minus-square-o:before{content:"\f147";}
.fa-icon-level-up:before{content:"\f148";}
.fa-icon-level-down:before{content:"\f149";}
.fa-icon-check-square:before{content:"\f14a";}
.fa-icon-pencil-square:before{content:"\f14b";}
.fa-icon-external-link-square:before{content:"\f14c";}
.fa-icon-share-square:before{content:"\f14d";}
.fa-icon-compass:before{content:"\f14e";}
.fa-icon-toggle-down:before,
.fa-icon-caret-square-o-down:before{content:"\f150";}
.fa-icon-toggle-up:before,
.fa-icon-caret-square-o-up:before{content:"\f151";}
.fa-icon-toggle-right:before,
.fa-icon-caret-square-o-right:before{content:"\f152";}
.fa-icon-euro:before,
.fa-icon-eur:before{content:"\f153";}
.fa-icon-gbp:before{content:"\f154";}
.fa-icon-dollar:before,
.fa-icon-usd:before{content:"\f155";}
.fa-icon-rupee:before,
.fa-icon-inr:before{content:"\f156";}
.fa-icon-cny:before,
.fa-icon-rmb:before,
.fa-icon-yen:before,
.fa-icon-jpy:before{content:"\f157";}
.fa-icon-ruble:before,
.fa-icon-rouble:before,
.fa-icon-rub:before{content:"\f158";}
.fa-icon-won:before,
.fa-icon-krw:before{content:"\f159";}
.fa-icon-bitcoin:before,
.fa-icon-btc:before{content:"\f15a";}
.fa-icon-file:before{content:"\f15b";}
.fa-icon-file-text:before{content:"\f15c";}
.fa-icon-sort-alpha-asc:before{content:"\f15d";}
.fa-icon-sort-alpha-desc:before{content:"\f15e";}
.fa-icon-sort-amount-asc:before{content:"\f160";}
.fa-icon-sort-amount-desc:before{content:"\f161";}
.fa-icon-sort-numeric-asc:before{content:"\f162";}
.fa-icon-sort-numeric-desc:before{content:"\f163";}
.fa-icon-thumbs-up:before{content:"\f164";}
.fa-icon-thumbs-down:before{content:"\f165";}
.fa-icon-youtube-square:before{content:"\f166";}
.fa-icon-youtube:before{content:"\f167";}
.fa-icon-xing:before{content:"\f168";}
.fa-icon-xing-square:before{content:"\f169";}
.fa-icon-youtube-play:before{content:"\f16a";}
.fa-icon-dropbox:before{content:"\f16b";}
.fa-icon-stack-overflow:before{content:"\f16c";}
.fa-icon-instagram:before{content:"\f16d";}
.fa-icon-flickr:before{content:"\f16e";}
.fa-icon-adn:before{content:"\f170";}
.fa-icon-bitbucket:before{content:"\f171";}
.fa-icon-bitbucket-square:before{content:"\f172";}
.fa-icon-tumblr:before{content:"\f173";}
.fa-icon-tumblr-square:before{content:"\f174";}
.fa-icon-long-arrow-down:before{content:"\f175";}
.fa-icon-long-arrow-up:before{content:"\f176";}
.fa-icon-long-arrow-left:before{content:"\f177";}
.fa-icon-long-arrow-right:before{content:"\f178";}
.fa-icon-apple:before{content:"\f179";}
.fa-icon-windows:before{content:"\f17a";}
.fa-icon-android:before{content:"\f17b";}
.fa-icon-linux:before{content:"\f17c";}
.fa-icon-dribbble:before{content:"\f17d";}
.fa-icon-skype:before{content:"\f17e";}
.fa-icon-foursquare:before{content:"\f180";}
.fa-icon-trello:before{content:"\f181";}
.fa-icon-female:before{content:"\f182";}
.fa-icon-male:before{content:"\f183";}
.fa-icon-gittip:before,
.fa-icon-gratipay:before{content:"\f184";}
.fa-icon-sun-o:before{content:"\f185";}
.fa-icon-moon-o:before{content:"\f186";}
.fa-icon-archive:before{content:"\f187";}
.fa-icon-bug:before{content:"\f188";}
.fa-icon-vk:before{content:"\f189";}
.fa-icon-weibo:before{content:"\f18a";}
.fa-icon-renren:before{content:"\f18b";}
.fa-icon-pagelines:before{content:"\f18c";}
.fa-icon-stack-exchange:before{content:"\f18d";}
.fa-icon-arrow-circle-o-right:before{content:"\f18e";}
.fa-icon-arrow-circle-o-left:before{content:"\f190";}
.fa-icon-toggle-left:before,
.fa-icon-caret-square-o-left:before{content:"\f191";}
.fa-icon-dot-circle-o:before{content:"\f192";}
.fa-icon-wheelchair:before{content:"\f193";}
.fa-icon-vimeo-square:before{content:"\f194";}
.fa-icon-turkish-lira:before,
.fa-icon-try:before{content:"\f195";}
.fa-icon-plus-square-o:before{content:"\f196";}
.fa-icon-space-shuttle:before{content:"\f197";}
.fa-icon-slack:before{content:"\f198";}
.fa-icon-envelope-square:before{content:"\f199";}
.fa-icon-wordpress:before{content:"\f19a";}
.fa-icon-openid:before{content:"\f19b";}
.fa-icon-institution:before,
.fa-icon-bank:before,
.fa-icon-university:before{content:"\f19c";}
.fa-icon-mortar-board:before,
.fa-icon-graduation-cap:before{content:"\f19d";}
.fa-icon-yahoo:before{content:"\f19e";}
.fa-icon-google:before{content:"\f1a0";}
.fa-icon-reddit:before{content:"\f1a1";}
.fa-icon-reddit-square:before{content:"\f1a2";}
.fa-icon-stumbleupon-circle:before{content:"\f1a3";}
.fa-icon-stumbleupon:before{content:"\f1a4";}
.fa-icon-delicious:before{content:"\f1a5";}
.fa-icon-digg:before{content:"\f1a6";}
.fa-icon-pied-piper-pp:before{content:"\f1a7";}
.fa-icon-pied-piper-alt:before{content:"\f1a8";}
.fa-icon-drupal:before{content:"\f1a9";}
.fa-icon-joomla:before{content:"\f1aa";}
.fa-icon-language:before{content:"\f1ab";}
.fa-icon-fax:before{content:"\f1ac";}
.fa-icon-building:before{content:"\f1ad";}
.fa-icon-child:before{content:"\f1ae";}
.fa-icon-paw:before{content:"\f1b0";}
.fa-icon-spoon:before{content:"\f1b1";}
.fa-icon-cube:before{content:"\f1b2";}
.fa-icon-cubes:before{content:"\f1b3";}
.fa-icon-behance:before{content:"\f1b4";}
.fa-icon-behance-square:before{content:"\f1b5";}
.fa-icon-steam:before{content:"\f1b6";}
.fa-icon-steam-square:before{content:"\f1b7";}
.fa-icon-recycle:before{content:"\f1b8";}
.fa-icon-automobile:before,
.fa-icon-car:before{content:"\f1b9";}
.fa-icon-cab:before,
.fa-icon-taxi:before{content:"\f1ba";}
.fa-icon-tree:before{content:"\f1bb";}
.fa-icon-spotify:before{content:"\f1bc";}
.fa-icon-deviantart:before{content:"\f1bd";}
.fa-icon-soundcloud:before{content:"\f1be";}
.fa-icon-database:before{content:"\f1c0";}
.fa-icon-file-pdf-o:before{content:"\f1c1";}
.fa-icon-file-word-o:before{content:"\f1c2";}
.fa-icon-file-excel-o:before{content:"\f1c3";}
.fa-icon-file-powerpoint-o:before{content:"\f1c4";}
.fa-icon-file-photo-o:before,
.fa-icon-file-picture-o:before,
.fa-icon-file-image-o:before{content:"\f1c5";}
.fa-icon-file-zip-o:before,
.fa-icon-file-archive-o:before{content:"\f1c6";}
.fa-icon-file-sound-o:before,
.fa-icon-file-audio-o:before{content:"\f1c7";}
.fa-icon-file-movie-o:before,
.fa-icon-file-video-o:before{content:"\f1c8";}
.fa-icon-file-code-o:before{content:"\f1c9";}
.fa-icon-vine:before{content:"\f1ca";}
.fa-icon-codepen:before{content:"\f1cb";}
.fa-icon-jsfiddle:before{content:"\f1cc";}
.fa-icon-life-bouy:before,
.fa-icon-life-buoy:before,
.fa-icon-life-saver:before,
.fa-icon-support:before,
.fa-icon-life-ring:before{content:"\f1cd";}
.fa-icon-circle-o-notch:before{content:"\f1ce";}
.fa-icon-ra:before,
.fa-icon-resistance:before,
.fa-icon-rebel:before{content:"\f1d0";}
.fa-icon-ge:before,
.fa-icon-empire:before{content:"\f1d1";}
.fa-icon-git-square:before{content:"\f1d2";}
.fa-icon-git:before{content:"\f1d3";}
.fa-icon-y-combinator-square:before,
.fa-icon-yc-square:before,
.fa-icon-hacker-news:before{content:"\f1d4";}
.fa-icon-tencent-weibo:before{content:"\f1d5";}
.fa-icon-qq:before{content:"\f1d6";}
.fa-icon-wechat:before,
.fa-icon-weixin:before{content:"\f1d7";}
.fa-icon-send:before,
.fa-icon-paper-plane:before{content:"\f1d8";}
.fa-icon-send-o:before,
.fa-icon-paper-plane-o:before{content:"\f1d9";}
.fa-icon-history:before{content:"\f1da";}
.fa-icon-circle-thin:before{content:"\f1db";}
.fa-icon-header:before{content:"\f1dc";}
.fa-icon-paragraph:before{content:"\f1dd";}
.fa-icon-sliders:before{content:"\f1de";}
.fa-icon-share-alt:before{content:"\f1e0";}
.fa-icon-share-alt-square:before{content:"\f1e1";}
.fa-icon-bomb:before{content:"\f1e2";}
.fa-icon-soccer-ball-o:before,
.fa-icon-futbol-o:before{content:"\f1e3";}
.fa-icon-tty:before{content:"\f1e4";}
.fa-icon-binoculars:before{content:"\f1e5";}
.fa-icon-plug:before{content:"\f1e6";}
.fa-icon-slideshare:before{content:"\f1e7";}
.fa-icon-twitch:before{content:"\f1e8";}
.fa-icon-yelp:before{content:"\f1e9";}
.fa-icon-newspaper-o:before{content:"\f1ea";}
.fa-icon-wifi:before{content:"\f1eb";}
.fa-icon-calculator:before{content:"\f1ec";}
.fa-icon-paypal:before{content:"\f1ed";}
.fa-icon-google-wallet:before{content:"\f1ee";}
.fa-icon-cc-visa:before{content:"\f1f0";}
.fa-icon-cc-mastercard:before{content:"\f1f1";}
.fa-icon-cc-discover:before{content:"\f1f2";}
.fa-icon-cc-amex:before{content:"\f1f3";}
.fa-icon-cc-paypal:before{content:"\f1f4";}
.fa-icon-cc-stripe:before{content:"\f1f5";}
.fa-icon-bell-slash:before{content:"\f1f6";}
.fa-icon-bell-slash-o:before{content:"\f1f7";}
.fa-icon-trash:before{content:"\f1f8";}
.fa-icon-copyright:before{content:"\f1f9";}
.fa-icon-at:before{content:"\f1fa";}
.fa-icon-eyedropper:before{content:"\f1fb";}
.fa-icon-paint-brush:before{content:"\f1fc";}
.fa-icon-birthday-cake:before{content:"\f1fd";}
.fa-icon-area-chart:before{content:"\f1fe";}
.fa-icon-pie-chart:before{content:"\f200";}
.fa-icon-line-chart:before{content:"\f201";}
.fa-icon-lastfm:before{content:"\f202";}
.fa-icon-lastfm-square:before{content:"\f203";}
.fa-icon-toggle-off:before{content:"\f204";}
.fa-icon-toggle-on:before{content:"\f205";}
.fa-icon-bicycle:before{content:"\f206";}
.fa-icon-bus:before{content:"\f207";}
.fa-icon-ioxhost:before{content:"\f208";}
.fa-icon-angellist:before{content:"\f209";}
.fa-icon-cc:before{content:"\f20a";}
.fa-icon-shekel:before,
.fa-icon-sheqel:before,
.fa-icon-ils:before{content:"\f20b";}
.fa-icon-meanpath:before{content:"\f20c";}
.fa-icon-buysellads:before{content:"\f20d";}
.fa-icon-connectdevelop:before{content:"\f20e";}
.fa-icon-dashcube:before{content:"\f210";}
.fa-icon-forumbee:before{content:"\f211";}
.fa-icon-leanpub:before{content:"\f212";}
.fa-icon-sellsy:before{content:"\f213";}
.fa-icon-shirtsinbulk:before{content:"\f214";}
.fa-icon-simplybuilt:before{content:"\f215";}
.fa-icon-skyatlas:before{content:"\f216";}
.fa-icon-cart-plus:before{content:"\f217";}
.fa-icon-cart-arrow-down:before{content:"\f218";}
.fa-icon-diamond:before{content:"\f219";}
.fa-icon-ship:before{content:"\f21a";}
.fa-icon-user-secret:before{content:"\f21b";}
.fa-icon-motorcycle:before{content:"\f21c";}
.fa-icon-street-view:before{content:"\f21d";}
.fa-icon-heartbeat:before{content:"\f21e";}
.fa-icon-venus:before{content:"\f221";}
.fa-icon-mars:before{content:"\f222";}
.fa-icon-mercury:before{content:"\f223";}
.fa-icon-intersex:before,
.fa-icon-transgender:before{content:"\f224";}
.fa-icon-transgender-alt:before{content:"\f225";}
.fa-icon-venus-double:before{content:"\f226";}
.fa-icon-mars-double:before{content:"\f227";}
.fa-icon-venus-mars:before{content:"\f228";}
.fa-icon-mars-stroke:before{content:"\f229";}
.fa-icon-mars-stroke-v:before{content:"\f22a";}
.fa-icon-mars-stroke-h:before{content:"\f22b";}
.fa-icon-neuter:before{content:"\f22c";}
.fa-icon-genderless:before{content:"\f22d";}
.fa-icon-facebook-official:before{content:"\f230";}
.fa-icon-pinterest-p:before{content:"\f231";}
.fa-icon-whatsapp:before{content:"\f232";}
.fa-icon-server:before{content:"\f233";}
.fa-icon-user-plus:before{content:"\f234";}
.fa-icon-user-times:before{content:"\f235";}
.fa-icon-hotel:before,
.fa-icon-bed:before{content:"\f236";}
.fa-icon-viacoin:before{content:"\f237";}
.fa-icon-train:before{content:"\f238";}
.fa-icon-subway:before{content:"\f239";}
.fa-icon-medium:before{content:"\f23a";}
.fa-icon-yc:before,
.fa-icon-y-combinator:before{content:"\f23b";}
.fa-icon-optin-monster:before{content:"\f23c";}
.fa-icon-opencart:before{content:"\f23d";}
.fa-icon-expeditedssl:before{content:"\f23e";}
.fa-icon-battery-4:before,
.fa-icon-battery:before,
.fa-icon-battery-full:before{content:"\f240";}
.fa-icon-battery-3:before,
.fa-icon-battery-three-quarters:before{content:"\f241";}
.fa-icon-battery-2:before,
.fa-icon-battery-half:before{content:"\f242";}
.fa-icon-battery-1:before,
.fa-icon-battery-quarter:before{content:"\f243";}
.fa-icon-battery-0:before,
.fa-icon-battery-empty:before{content:"\f244";}
.fa-icon-mouse-pointer:before{content:"\f245";}
.fa-icon-i-cursor:before{content:"\f246";}
.fa-icon-object-group:before{content:"\f247";}
.fa-icon-object-ungroup:before{content:"\f248";}
.fa-icon-sticky-note:before{content:"\f249";}
.fa-icon-sticky-note-o:before{content:"\f24a";}
.fa-icon-cc-jcb:before{content:"\f24b";}
.fa-icon-cc-diners-club:before{content:"\f24c";}
.fa-icon-clone:before{content:"\f24d";}
.fa-icon-balance-scale:before{content:"\f24e";}
.fa-icon-hourglass-o:before{content:"\f250";}
.fa-icon-hourglass-1:before,
.fa-icon-hourglass-start:before{content:"\f251";}
.fa-icon-hourglass-2:before,
.fa-icon-hourglass-half:before{content:"\f252";}
.fa-icon-hourglass-3:before,
.fa-icon-hourglass-end:before{content:"\f253";}
.fa-icon-hourglass:before{content:"\f254";}
.fa-icon-hand-grab-o:before,
.fa-icon-hand-rock-o:before{content:"\f255";}
.fa-icon-hand-stop-o:before,
.fa-icon-hand-paper-o:before{content:"\f256";}
.fa-icon-hand-scissors-o:before{content:"\f257";}
.fa-icon-hand-lizard-o:before{content:"\f258";}
.fa-icon-hand-spock-o:before{content:"\f259";}
.fa-icon-hand-pointer-o:before{content:"\f25a";}
.fa-icon-hand-peace-o:before{content:"\f25b";}
.fa-icon-trademark:before{content:"\f25c";}
.fa-icon-registered:before{content:"\f25d";}
.fa-icon-creative-commons:before{content:"\f25e";}
.fa-icon-gg:before{content:"\f260";}
.fa-icon-gg-circle:before{content:"\f261";}
.fa-icon-tripadvisor:before{content:"\f262";}
.fa-icon-odnoklassniki:before{content:"\f263";}
.fa-icon-odnoklassniki-square:before{content:"\f264";}
.fa-icon-get-pocket:before{content:"\f265";}
.fa-icon-wikipedia-w:before{content:"\f266";}
.fa-icon-safari:before{content:"\f267";}
.fa-icon-chrome:before{content:"\f268";}
.fa-icon-firefox:before{content:"\f269";}
.fa-icon-opera:before{content:"\f26a";}
.fa-icon-internet-explorer:before{content:"\f26b";}
.fa-icon-tv:before,
.fa-icon-television:before{content:"\f26c";}
.fa-icon-contao:before{content:"\f26d";}
.fa-icon-500px:before{content:"\f26e";}
.fa-icon-amazon:before{content:"\f270";}
.fa-icon-calendar-plus-o:before{content:"\f271";}
.fa-icon-calendar-minus-o:before{content:"\f272";}
.fa-icon-calendar-times-o:before{content:"\f273";}
.fa-icon-calendar-check-o:before{content:"\f274";}
.fa-icon-industry:before{content:"\f275";}
.fa-icon-map-pin:before{content:"\f276";}
.fa-icon-map-signs:before{content:"\f277";}
.fa-icon-map-o:before{content:"\f278";}
.fa-icon-map:before{content:"\f279";}
.fa-icon-commenting:before{content:"\f27a";}
.fa-icon-commenting-o:before{content:"\f27b";}
.fa-icon-houzz:before{content:"\f27c";}
.fa-icon-vimeo:before{content:"\f27d";}
.fa-icon-black-tie:before{content:"\f27e";}
.fa-icon-fonticons:before{content:"\f280";}
.fa-icon-reddit-alien:before{content:"\f281";}
.fa-icon-edge:before{content:"\f282";}
.fa-icon-credit-card-alt:before{content:"\f283";}
.fa-icon-codiepie:before{content:"\f284";}
.fa-icon-modx:before{content:"\f285";}
.fa-icon-fort-awesome:before{content:"\f286";}
.fa-icon-usb:before{content:"\f287";}
.fa-icon-product-hunt:before{content:"\f288";}
.fa-icon-mixcloud:before{content:"\f289";}
.fa-icon-scribd:before{content:"\f28a";}
.fa-icon-pause-circle:before{content:"\f28b";}
.fa-icon-pause-circle-o:before{content:"\f28c";}
.fa-icon-stop-circle:before{content:"\f28d";}
.fa-icon-stop-circle-o:before{content:"\f28e";}
.fa-icon-shopping-bag:before{content:"\f290";}
.fa-icon-shopping-basket:before{content:"\f291";}
.fa-icon-hashtag:before{content:"\f292";}
.fa-icon-bluetooth:before{content:"\f293";}
.fa-icon-bluetooth-b:before{content:"\f294";}
.fa-icon-percent:before{content:"\f295";}
.fa-icon-gitlab:before{content:"\f296";}
.fa-icon-wpbeginner:before{content:"\f297";}
.fa-icon-wpforms:before{content:"\f298";}
.fa-icon-envira:before{content:"\f299";}
.fa-icon-universal-access:before{content:"\f29a";}
.fa-icon-wheelchair-alt:before{content:"\f29b";}
.fa-icon-question-circle-o:before{content:"\f29c";}
.fa-icon-blind:before{content:"\f29d";}
.fa-icon-audio-description:before{content:"\f29e";}
.fa-icon-volume-control-phone:before{content:"\f2a0";}
.fa-icon-braille:before{content:"\f2a1";}
.fa-icon-assistive-listening-systems:before{content:"\f2a2";}
.fa-icon-asl-interpreting:before,
.fa-icon-american-sign-language-interpreting:before{content:"\f2a3";}
.fa-icon-deafness:before,
.fa-icon-hard-of-hearing:before,
.fa-icon-deaf:before{content:"\f2a4";}
.fa-icon-glide:before{content:"\f2a5";}
.fa-icon-glide-g:before{content:"\f2a6";}
.fa-icon-signing:before,
.fa-icon-sign-language:before{content:"\f2a7";}
.fa-icon-low-vision:before{content:"\f2a8";}
.fa-icon-viadeo:before{content:"\f2a9";}
.fa-icon-viadeo-square:before{content:"\f2aa";}
.fa-icon-snapchat:before{content:"\f2ab";}
.fa-icon-snapchat-ghost:before{content:"\f2ac";}
.fa-icon-snapchat-square:before{content:"\f2ad";}
.fa-icon-pied-piper:before{content:"\f2ae";}
.fa-icon-first-order:before{content:"\f2b0";}
.fa-icon-yoast:before{content:"\f2b1";}
.fa-icon-themeisle:before{content:"\f2b2";}
.fa-icon-google-plus-circle:before,
.fa-icon-google-plus-official:before{content:"\f2b3";}
.fa-icon-fa:before,
.fa-icon-font-awesome:before{content:"\f2b4";}
.fa-icon-handshake-o:before{content:"\f2b5";}
.fa-icon-envelope-open:before{content:"\f2b6";}
.fa-icon-envelope-open-o:before{content:"\f2b7";}
.fa-icon-linode:before{content:"\f2b8";}
.fa-icon-address-book:before{content:"\f2b9";}
.fa-icon-address-book-o:before{content:"\f2ba";}
.fa-icon-vcard:before,
.fa-icon-address-card:before{content:"\f2bb";}
.fa-icon-vcard-o:before,
.fa-icon-address-card-o:before{content:"\f2bc";}
.fa-icon-user-circle:before{content:"\f2bd";}
.fa-icon-user-circle-o:before{content:"\f2be";}
.fa-icon-user-o:before{content:"\f2c0";}
.fa-icon-id-badge:before{content:"\f2c1";}
.fa-icon-drivers-license:before,
.fa-icon-id-card:before{content:"\f2c2";}
.fa-icon-drivers-license-o:before,
.fa-icon-id-card-o:before{content:"\f2c3";}
.fa-icon-quora:before{content:"\f2c4";}
.fa-icon-free-code-camp:before{content:"\f2c5";}
.fa-icon-telegram:before{content:"\f2c6";}
.fa-icon-thermometer-4:before,
.fa-icon-thermometer:before,
.fa-icon-thermometer-full:before{content:"\f2c7";}
.fa-icon-thermometer-3:before,
.fa-icon-thermometer-three-quarters:before{content:"\f2c8";}
.fa-icon-thermometer-2:before,
.fa-icon-thermometer-half:before{content:"\f2c9";}
.fa-icon-thermometer-1:before,
.fa-icon-thermometer-quarter:before{content:"\f2ca";}
.fa-icon-thermometer-0:before,
.fa-icon-thermometer-empty:before{content:"\f2cb";}
.fa-icon-shower:before{content:"\f2cc";}
.fa-icon-bathtub:before,
.fa-icon-s15:before,
.fa-icon-bath:before{content:"\f2cd";}
.fa-icon-podcast:before{content:"\f2ce";}
.fa-icon-window-maximize:before{content:"\f2d0";}
.fa-icon-window-minimize:before{content:"\f2d1";}
.fa-icon-window-restore:before{content:"\f2d2";}
.fa-icon-times-rectangle:before,
.fa-icon-window-close:before{content:"\f2d3";}
.fa-icon-times-rectangle-o:before,
.fa-icon-window-close-o:before{content:"\f2d4";}
.fa-icon-bandcamp:before{content:"\f2d5";}
.fa-icon-grav:before{content:"\f2d6";}
.fa-icon-etsy:before{content:"\f2d7";}
.fa-icon-imdb:before{content:"\f2d8";}
.fa-icon-ravelry:before{content:"\f2d9";}
.fa-icon-eercast:before{content:"\f2da";}
.fa-icon-microchip:before{content:"\f2db";}
.fa-icon-snowflake-o:before{content:"\f2dc";}
.fa-icon-superpowers:before{content:"\f2dd";}
.fa-icon-wpexplorer:before{content:"\f2de";}
.fa-icon-meetup:before{content:"\f2e0";}
.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);border:0;}
.sr-only-focusable:active,
.sr-only-focusable:focus {
position: static;
width: auto;
height: auto;
margin: 0;
overflow: visible;
clip: auto;
}@font-face{font-family:FontVinsofts;src:url(/wp-content/themes/fo-child/common/fonts_vin/HKNova-LightNarrow.otf);}
@font-face{font-family:FontVinsofts-bold;src:url(/wp-content/themes/fo-child/common/fonts_vin/HKNova-BoldNarrow.otf);}
@font-face{font-family:FontVinsofts-medium;src:url(/wp-content/themes/fo-child/common/fonts_vin/HKNova-MediumNarrow.otf);}
@font-face{font-family:FontVinsofts-regular;src:url(/wp-content/themes/fo-child/common/fonts_vin/HKNova-Regular.otf);}
@font-face{font-family:FontVinsofts-SemiBold;src:url(/wp-content/themes/fo-child/common/fonts_vin/HKNova-SemiBoldNarrow.otf);}
body::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);border-radius:0px;background-color:#F5F5F5;}
body::-webkit-scrollbar{width:10px;background-color:#F5F5F5;}
body::-webkit-scrollbar-thumb{border-radius:0px;-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);background-color:#3D9AE3;}
body .themesflat-boxed, 
.themesflat-boxed p, 
.themesflat-boxed a,
.themesflat-boxed input,
.themesflat-boxed textarea,
.themesflat-boxed button,
.themesflat-boxed select{font-family:FontVinsofts;}
h1, h2, h3, h4, h5, h6 {
font-family: FontVinsofts-bold;
} p{letter-spacing:0px;}
input, button, a, button:focus{outline:none !important;}
.footer{padding-top:40px;padding-bottom:40px;border-bottom:1px solid #776a6a54;}
.bottom{padding:10px 0;}
.themesflat-boxed input[type="file"]{margin-bottom:15px;}
#header .logo img, #header .logo svg{width:auto;}
#mainnav > ul > li > a{font-family:FontVinsofts-bold;font-weight:400;}
#mainnav ul.sub-menu > li > a{font-family:FontVinsofts;}
.themesflat_iconbox.transparent .title a,
.portfolio-filter li a{font-family:FontVinsofts-bold;}
#mainnav > ul > li{margin-left:30px;}
.themesflat-boxed .themesflat-top .content-right{line-height:45px;}
.themesflat-boxed .themesflat-top .content-left{line-height:44px;}
.themesflat-boxed .themesflat-top .content-left ul li{margin-top:0px;}
.themesflat-boxed .themesflat-top .themesflat-socials{margin-top:0px;}
.header.header-sticky{box-shadow:0 3px 2px rgba(0, 0, 0, 0.1);}
#mainnav #menu-main>.current-menu-ancestor>a,
#menu-footer_service>.current-menu-item>a,
#menu-footer_service>.current-menu-item::before{color:#3d9be9;}
.breadcrumb-trail.breadcrumbs span.trail-end{color:#3d9be9 !important;}
#mainnav #menu-main .current-menu-ancestor .sub-menu .current-menu-item a{background:#3d9be9;}
.themesflat-boxed .page-title{padding-top:0px;}
.themesflat-boxed .page-title .breadcrumb-trail.breadcrumbs{margin-bottom:15px;}
.themesflat-boxed .page-title .breadcrumb-trail.breadcrumbs a:hover{color:#3d9be9 !important;}
.page-title h1{text-transform:uppercase;}
.themesflat-boxed .content-area-front-page .themesflat_counter .counter-content-left{width:50%;text-align:center;font-family:FontVinsofts-bold;padding:0;padding-top:10px;padding-right:10px;}
.themesflat_header_wrap .show-search a{margin:30px 0 18px;}
.themesflat_header_wrap .header.header-sticky .show-search a{margin:18px 0 18px;}
.themesflat-boxed .themesflat_counter span{font-size:60px;}
.themesflat-boxed .themesflat_counter .counter-content-right a,
.themesflat-boxed .themesflat_counter .counter-content-right p,
.themesflat-boxed .themesflat-portfolio .item .category-post a{font-family:FontVinsofts-bold;}
.themesflat-boxed .portfolio-filter li a{line-height:50px;}
.themesflat-boxed .wpcf7 input,
.themesflat-boxed .wpcf7 textarea{color:#000;}
.admin-bar .themesflat-boxed .popup #myModal2 .modal-dialog{margin-top:60px;}
.themesflat-boxed .popup #myModal2 form{font-family:FontVinsofts;}
.themesflat-boxed .popup #myModal2 h4.modal-title{text-align:center;color:#fff;}
.themesflat-boxed .popup #myModal2 form input,
.themesflat-boxed .popup #myModal2 form select{line-height:0;border-radius:3px;color:#000;font-family:FontVinsofts;}
.themesflat-boxed .popup #myModal2 form input.wpcf7-submit{color:#fff;float:right;}
.themesflat-boxed .popup #myModal2 form textarea{border-radius:3px;width:100% !important;min-height:50px;max-height:250px;margin-bottom:15px !important;}
.themesflat-boxed .popup #myModal2 form p{margin-bottom:0px;}
.themesflat-boxed .popup #myModal2 .modal-header{padding:20px 15px;background:#3d9be9;}
.themesflat-boxed .popup #myModal2 .modal-header .close{margin-top:-4px;width:30px;height:30px;opacity:0.7;color:#fff;}
.themesflat-boxed .popup #myModal2 .modal-header .close:hover{background:#ff0000;}
.themesflat-boxed .popup #myModal2 form .form-group label{color:#000;font-family:FontVinsofts;font-size:13px;}
.themesflat-boxed .popup #myModal2 form .form-group label span{color:red;}
.themesflat-boxed .popup #myModal2 form .form-group .wpcf7-submit{color:#fff;font-weight:bold;font-family:FontVinsofts-bold;padding:8px 20px;font-size:15px;letter-spacing:1px;}
.themesflat-boxed .popup #myModal2 form .form-group .wpcf7-submit:hover{background:#000;}
.themesflat-top .themesflat-socials li a.title span{display:none;}
.blog-grid .featured-post.post-home-page{height:100%;display:flex;align-items:center;min-height:150px;max-height:200px;}
.captcha-form-vins .wpcf7-mathcaptcha{width:50px;height:45px;margin-bottom:15px;margin-left:5px;}
.themesflat-portfolio .item .portfolio-details .title-post{height:46px;overflow:hidden;}
.themesflat-portfolio .item .portfolio-details .title-post a{color:#3D9BE9;}
.themesflat-portfolio .item .portfolio-details .title-post a:hover{color:#3D9BE9;}
.themesflat-portfolio .item .portfolio-details .category-post a{color:#6c757bde;}
.themesflat-portfolio .item .portfolio-details .category-post a:hover{color:#000;}
.themesflat-portfolio .one-four .item{margin-bottom:15px;}
#custom_equal_height .wpb_wrapper{height:100%;}
#custom_equal_height .wpb_wrapper .themesflat_counter{height:85%;}
#custom_equal_height .wpb_wrapper .themesflat_counter .counter-content-right{border:none;}
#custom_equal_height .wpb_wrapper .themesflat_counter .counter-icon .icon{background-color:#3d9be9;}
.link-contact-us{width:200px;margin:15px auto;text-align:center;display:block;}
.link-contact-us a{padding:10px 15px;width:100%;background:#3d9be9;border-radius:5px;font-size:15px;color:#fff;display:block;}
.link-contact-us a:hover{background:#000;}
.themesflat-boxed .themesflat-button.themesflat-archive.btn-readmore::after{font-family:FontAwesome;content:"\f054";padding-left:3px;font-size:11px;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-ms-transition:all 0.3s;-o-transition:all 0.3s;transition:all 0.3s;}
.wpcf7-form .custom_form h3{margin-top:18px;letter-spacing:0.4px;margin-bottom:20px;color:#fff;}
a.themesflat-button:focus{color:#fff;}
input::placeholder,textarea::placeholder{color:#999;}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#999;}
input::-moz-placeholder,textarea::-moz-placeholder{color:#999;}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#999;}
input:-moz-placeholder,textarea:-moz-placeholder{color:#999;}
.themesflat-boxed .footer-widgets .widget.widget_mc4wp_form_widget input{color:#fff;}
.imagebox, .themesflat_imagebox.style2 .imagebox-desc, .footer-widgets .widget{margin-bottom:0 !important;}
.footer_background .content-register-footer{padding:25px 0;}
.footer_background .content-register-footer p{margin-bottom:5px;font-size:13px;color:#888;}
#text-2.widget.widget_text .textwidget p{margin-bottom:40px;}
#text-2.widget.widget_text .textwidget{margin-top:-24px;}
.footer-widgets .widget-title{margin-top:56px;}
.header.header-style1.header-sticky #mainnav .info-top-right.border-left{float:left;height:75px;padding-left:15px;padding-top:17px}
.header.header-style1.header-sticky #mainnav .info-top-right.border-left .appoinment{float:left;padding:0 18px;text-transform:initial;display:flex;align-items:center;justify-content:center;font-size:13px;height:36px;margin-top:2px;}
.header.header-style1.header-sticky #mainnav .info-top-right.border-left .hotline-header{float:left;padding-left:30px;line-height:41px;}
.header.header-style1.header-sticky .show-search{margin-left:10px;}
.header.header-style1.header-sticky #mainnav .info-top-right span{margin-right:0px;font-weight:bold;}
.header.header-style1.header-sticky #mainnav .fa.fa-phone{position:absolute;font-size:19px;margin-left:-17px;line-height:43px;}
#mainnav ul{float:left;}
#popup-team-member #myModa1{padding-right:0 !important;padding-top:86px;z-index:99999;}
#popup-team-member #myModa1 .modal-header{border:none;}
#popup-team-member #myModa1 .modal-header .close{left:15px;position:absolute;width:30px;height:30px;opacity:0.8;color:#fff;top:6px;left:6px;}
#popup-team-member #myModa1 .modal-header .close:hover{background:#ff0000;}
#popup-team-member #myModa1 .modal-content .image-members-full .image{text-align:center;width:100%;}
#popup-team-member #myModa1 .modal-content .image-members-full .image .social-links{margin-top:12px;}
#popup-team-member #myModa1 .modal-content .image-members-full .image .themesflat-button{display:none;}
.themesflat-team.themesflat-hover .team-desc,
#popup-team-member #myModa1 .modal-content .image-members-full .image .social-links,
#popup-team-member #myModa1 .modal-content .modal-header .social-content span{display:none;}
#popup-team-member #myModa1 .modal-content .modal-header .social-content .fa{font-size:15px;margin:0 1px;color:#444444;}
#popup-team-member #myModa1 .modal-content .image-members-full .image .social-links{}
#popup-team-member #myModa1 .modal-content .image-members-full .image .image-member{display:inline-block;text-align:center;}
#popup-team-member #myModa1 .modal-content{border-radius:0;padding:5% 10% 5%;box-shadow:none;border-color:transparent;}
#popup-team-member #myModa1 .modal-content::before{content:'';position:absolute;border-top:0px solid #8d6dc4;border-bottom:77px solid transparent;border-left:77px solid #81BDF2;top:0;left:0px;}
#popup-team-member #myModa1 .modal-content::after{content:'';position:absolute;border-top:0px solid #8d6dc4;border-bottom:77px solid #81BDF2;border-right:0 solid transparent;border-left:77px solid transparent;bottom:0;right:0;}
#popup-team-member #myModa1 .modal-content .image-members-full .image .image-member::after{content:'';position:absolute;border-top:0px solid #8d6dc4;border-bottom:77px solid transparent;border-right:41px solid transparent;border-left:77px solid #3d9be9;top:0;left:0px;}
#popup-team-member #myModa1 .modal-content .line-color{border:1px solid #3d9be9;width:160px;margin-left:15px;display:inline-block;}
#popup-team-member #myModa1 .modal-content .title-modal .title{height:210px;background:#fff;padding:6% 17%;padding-top:60px;border-radius:75px 5px 75px 5px;color:#fff;background:#e1f1ff;width:92%;border:1px solid #EDF6FE;float:right;}
#popup-team-member #myModa1 .modal-content .title-modal .title .modal-title{color:#3D9BE9;line-height:24px;}
#popup-team-member #myModa1 .modal-content .title-modal .title .social-content{margin-top:10px;}
#popup-team-member #myModa1 .modal-content .title-modal .title span{font-weight:normal;color:#888888;font-size:13px;margin-top:-4px;}
#popup-team-member #myModa1::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);border-radius:0px;background-color:#F5F5F5;}
#popup-team-member #myModa1::-webkit-scrollbar{width:10px;background-color:#F5F5F5;}
#popup-team-member #myModa1::-webkit-scrollbar-thumb{border-radius:0px;-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);background-color:#3D9AE3;}
#popup-team-member #myModa1 .modal-body .content-member{font-size:13px;line-height:23px;text-align:justify;}
.header-sticky .logo svg, .header-sticky .logo img{max-height:75%;}
.logo{padding-top:15px;}
.themesflat-top .content-left ul.language-chooser li a::after,
.themesflat-top .content-left ul.language-chooser li .qtranxs_text.qtranxs_text_en{}
.themesflat-top .content-left ul.language-chooser{}
.go-top.show{bottom:45px;}
@media only screen and (max-width: 420px){.go-top.show{bottom:50px;}
}
.imagebox, .themesflat_imagebox.style2 .imagebox-desc, .footer-widgets .widget{margin-bottom:0 !important;}
.logo img, .logo svg{width:auto;}
#text-2.widget.widget_text .textwidget{margin-top:-20px;}
@media(max-width:767px){
.footer-widgets .widget-title{margin-bottom:10px;}
}
.themesflat-boxed .popup #myModal2 form input::placeholder{line-height:initial;}
.page-title h1,a,h1, h2,h3{line-height:normal;}
#comments{display:none;}
.page-header .nothing{color:#3d9be9;margin-top:-25px;}
.error404 .error-404 .sub-title-404{color:#3d9be9;margin-bottom:15px;}
.content-area.fullwidth-404 .themesflat-button{margin-top:50px;}
.footer_background .content-register-footer a{color:#aac9ce;}
.footer_background .content-register-footer a:hover{color:#fff;}
.page-title-container h1{font-size:28px;}
#text-2.widget.widget_text .textwidget{margin-top:0 !important;}
#text-2.widget.widget_text .textwidget p{margin-bottom:16px !important;}
.footer_background .content-register-footer img{width:156px;}
.footer-widgets #text-5{text-align:justify;}
@media only screen and (max-width: 480px){
.themesflat-boxed .themesflat-top .content-right{justify-content:center;display:flex;align-items:center;}
.themesflat-boxed .themesflat-top .content-right .info-top-right a.appoinment{height:auto;line-height:inherit;justify-content:center;display:flex;align-items:center;}
.rev_slider_wrapper .rev_slider .tp-revslider-mainul li:first-child .tp-bgimg.defaultimg{margin-top:-32px;}
}
@media(max-width:1200px){
.go-top.show{bottom:15px;left:15px;}
}
#popup-team-member #myModa1 .modal-body .content-member .fa{color:#3D9BE9;width:16px;text-align:center;}
#popup-team-member #myModa1 .modal-content .title-modal .title .modal-title{color:#5da6e2;}
.footer-widgets .themesflat-shortcode-socials i{position:absolute;top:2px;font-size:20px;width:28px;left:-3px;text-align:center;padding:5px 0px;color:#fff;border-radius:5px;}
.footer-widgets .themesflat-shortcode-socials i.fa-facebook{background:#3b5998;}
.footer-widgets .themesflat-shortcode-socials i.fa-youtube{background:#ff0000;}
.footer-widgets .themesflat-shortcode-socials i.fa-youtube{background:#ff0000;}
@media(max-width:600px){
.themesflat-top .content-left ul.language-chooser{z-index:9999;}
.admin-bar .themesflat-top .content-left ul.language-chooser{z-index:9999;}
}
body::-webkit-scrollbar-thumb
, .themesflat-boxed .popup #myModal2 .modal-header{background-color:#377493 !important;}
.themesflat-portfolio .item .portfolio-details .title-post a{color:#21536c !important}
.bottom .copyright a{color:#aac9ce;}
.portfolio-filter li:first-of-type, .portfolio-filter li:nth-child(3),.portfolio-filter li:first-of-type, .portfolio-filter li:nth-child(4){float:left;}
.themesflat_iconbox .sub-title{margin-top:0px;}
.footer_background .content-register-footer p,.footer-widgets #text-5 p{color:#fff !important;}
#mainnav #menu-main .current-menu-ancestor .sub-menu .current-menu-item a, .widget-brochures ul li a{color:#fff !important;}
#mainnav #menu-main>.current-menu-ancestor>a, #menu-footer_service>.current-menu-item>a, #menu-footer_service>.current-menu-item::before{color:#377493;}
#custom_equal_height .wpb_wrapper .themesflat_counter .counter-icon .icon, .link-contact-us a{background-color:#377493;}
.themesflat-top .content-left ul.language-chooser li.active a, .themesflat-top .content-left ul.language-chooser li a:hover, .breadcrumb-trail.breadcrumbs span.trail-end{color:#377493 !important;}
#mainnav #menu-main .current-menu-ancestor .sub-menu .current-menu-item a{background:#aac9ce!important;}
.themesflat_counter .counter-content-left{color:#565454 !important;height:60px;line-height:67px;position:relative;display:block;margin:0 auto;margin-bottom:20px;margin-top:-20px;}
.themesflat_counter.style2 .counter-content-left .numb-count{font-size:26px !important;font-weight:bold;}
.sidebar .widget.widget_nav_menu ul li.current-menu-item a:before, .sidebar .widget.widget_nav_menu ul li a:hover:before, .widget-brochures ul li{background-color:#21536c;}
.wpcf7-form .custom_form{background:#21536c;}
@media(min-width:992px){
.footer_background .content-register-footer .right{padding-left:48px;padding-top:10px;}
.footer_background .content-register-footer .left{width:110%;padding-top:10px;}
}
@media(max-width:1200px){
.themesflat-boxed .themesflat-top .content-left{width:100%;display:grid;}
}
@media(max-width:991px){
.themesflat_header_wrap .header.header-sticky .show-search a{margin:28px 0 18px;}
.themesflat-top .content-left ul{line-height:30px;}
.page-title h1{text-transform:initial;line-height:normal;}
#primary h1, 
#primary h2, 
#primary h3, 
#primary h4, 
#primary h5, 
#primary h5{line-height:normal;}
}
@media(max-width:767px){
.themesflat-boxed .page-wrap{}
.themesflat-boxed .page-title .breadcrumb-trail.breadcrumbs{margin-bottom:5px;}
.themesflat-boxed .header{}
#header .nav{padding:0 15px;}
}
@media(max-width:480px){
.rev_slider_wrapper .rev_slider .tp-revslider-mainul li:first-child .tp-bgimg.defaultimg {
background-size: auto 88% !important;
background-position: 20% center !important;
}
.themesflat-boxed .themesflat-top .content-right .info-top-right.border-left span{
display: none;
}
.themesflat-boxed .themesflat-top .content-left {
width: 100%;
display: grid;
}
.themesflat-top .content-left ul.language-chooser {
margin-right: 0;
}
#popup-team-member #myModa1 .modal-content .title-modal .title {
width: 100%; 
padding: 18% 6%;
height: auto;
}
}
@font-face{font-family:typicons;font-weight:400;font-style:normal;src:url(/wp-content/plugins/js_composer/assets/css/lib/typicons/src/font/typicons.eot);src:url(/wp-content/plugins/js_composer/assets/css/lib/typicons/src/font/typicons.eot?#iefix) format('embedded-opentype'),url(/wp-content/plugins/js_composer/assets/css/lib/typicons/src/font/typicons.woff) format('woff'),url(/wp-content/plugins/js_composer/assets/css/lib/typicons/src/font/typicons.ttf) format('truetype'),url(/wp-content/plugins/js_composer/assets/css/lib/typicons/src/font/typicons.svg#typicons) format('svg')}.typcn:before{font-family:typicons;font-style:normal;font-weight:400;speak:none;display:inline-block;text-decoration:inherit;width:1em;height:1em;font-size:1em;text-align:center;-webkit-font-smoothing:antialiased;font-smoothing:antialiased;text-rendering:optimizeLegibility}.typcn-adjust-brightness:before{content:'\e000'}.typcn-adjust-contrast:before{content:'\e001'}.typcn-anchor-outline:before{content:'\e002'}.typcn-anchor:before{content:'\e003'}.typcn-archive:before{content:'\e004'}.typcn-arrow-back-outline:before{content:'\e005'}.typcn-arrow-back:before{content:'\e006'}.typcn-arrow-down-outline:before{content:'\e007'}.typcn-arrow-down-thick:before{content:'\e008'}.typcn-arrow-down:before{content:'\e009'}.typcn-arrow-forward-outline:before{content:'\e00a'}.typcn-arrow-forward:before{content:'\e00b'}.typcn-arrow-left-outline:before{content:'\e00c'}.typcn-arrow-left-thick:before{content:'\e00d'}.typcn-arrow-left:before{content:'\e00e'}.typcn-arrow-loop-outline:before{content:'\e00f'}.typcn-arrow-loop:before{content:'\e010'}.typcn-arrow-maximise-outline:before{content:'\e011'}.typcn-arrow-maximise:before{content:'\e012'}.typcn-arrow-minimise-outline:before{content:'\e013'}.typcn-arrow-minimise:before{content:'\e014'}.typcn-arrow-move-outline:before{content:'\e015'}.typcn-arrow-move:before{content:'\e016'}.typcn-arrow-repeat-outline:before{content:'\e017'}.typcn-arrow-repeat:before{content:'\e018'}.typcn-arrow-right-outline:before{content:'\e019'}.typcn-arrow-right-thick:before{content:'\e01a'}.typcn-arrow-right:before{content:'\e01b'}.typcn-arrow-shuffle:before{content:'\e01c'}.typcn-arrow-sorted-down:before{content:'\e01d'}.typcn-arrow-sorted-up:before{content:'\e01e'}.typcn-arrow-sync-outline:before{content:'\e01f'}.typcn-arrow-sync:before{content:'\e020'}.typcn-arrow-unsorted:before{content:'\e021'}.typcn-arrow-up-outline:before{content:'\e022'}.typcn-arrow-up-thick:before{content:'\e023'}.typcn-arrow-up:before{content:'\e024'}.typcn-at:before{content:'\e025'}.typcn-attachment-outline:before{content:'\e026'}.typcn-attachment:before{content:'\e027'}.typcn-backspace-outline:before{content:'\e028'}.typcn-backspace:before{content:'\e029'}.typcn-battery-charge:before{content:'\e02a'}.typcn-battery-full:before{content:'\e02b'}.typcn-battery-high:before{content:'\e02c'}.typcn-battery-low:before{content:'\e02d'}.typcn-battery-mid:before{content:'\e02e'}.typcn-beaker:before{content:'\e02f'}.typcn-beer:before{content:'\e030'}.typcn-bell:before{content:'\e031'}.typcn-book:before{content:'\e032'}.typcn-bookmark:before{content:'\e033'}.typcn-briefcase:before{content:'\e034'}.typcn-brush:before{content:'\e035'}.typcn-business-card:before{content:'\e036'}.typcn-calculator:before{content:'\e037'}.typcn-calendar-outline:before{content:'\e038'}.typcn-calendar:before{content:'\e039'}.typcn-camera-outline:before{content:'\e03a'}.typcn-camera:before{content:'\e03b'}.typcn-cancel-outline:before{content:'\e03c'}.typcn-cancel:before{content:'\e03d'}.typcn-chart-area-outline:before{content:'\e03e'}.typcn-chart-area:before{content:'\e03f'}.typcn-chart-bar-outline:before{content:'\e040'}.typcn-chart-bar:before{content:'\e041'}.typcn-chart-line-outline:before{content:'\e042'}.typcn-chart-line:before{content:'\e043'}.typcn-chart-pie-outline:before{content:'\e044'}.typcn-chart-pie:before{content:'\e045'}.typcn-chevron-left-outline:before{content:'\e046'}.typcn-chevron-left:before{content:'\e047'}.typcn-chevron-right-outline:before{content:'\e048'}.typcn-chevron-right:before{content:'\e049'}.typcn-clipboard:before{content:'\e04a'}.typcn-cloud-storage:before{content:'\e04b'}.typcn-cloud-storage-outline:before{content:'\e054'}.typcn-code-outline:before{content:'\e04c'}.typcn-code:before{content:'\e04d'}.typcn-coffee:before{content:'\e04e'}.typcn-cog-outline:before{content:'\e04f'}.typcn-cog:before{content:'\e050'}.typcn-compass:before{content:'\e051'}.typcn-contacts:before{content:'\e052'}.typcn-credit-card:before{content:'\e053'}.typcn-css3:before{content:'\e055'}.typcn-database:before{content:'\e056'}.typcn-delete-outline:before{content:'\e057'}.typcn-delete:before{content:'\e058'}.typcn-device-desktop:before{content:'\e059'}.typcn-device-laptop:before{content:'\e05a'}.typcn-device-phone:before{content:'\e05b'}.typcn-device-tablet:before{content:'\e05c'}.typcn-directions:before{content:'\e05d'}.typcn-divide-outline:before{content:'\e05e'}.typcn-divide:before{content:'\e05f'}.typcn-document-add:before{content:'\e060'}.typcn-document-delete:before{content:'\e061'}.typcn-document-text:before{content:'\e062'}.typcn-document:before{content:'\e063'}.typcn-download-outline:before{content:'\e064'}.typcn-download:before{content:'\e065'}.typcn-dropbox:before{content:'\e066'}.typcn-edit:before{content:'\e067'}.typcn-eject-outline:before{content:'\e068'}.typcn-eject:before{content:'\e069'}.typcn-equals-outline:before{content:'\e06a'}.typcn-equals:before{content:'\e06b'}.typcn-export-outline:before{content:'\e06c'}.typcn-export:before{content:'\e06d'}.typcn-eye-outline:before{content:'\e06e'}.typcn-eye:before{content:'\e06f'}.typcn-feather:before{content:'\e070'}.typcn-film:before{content:'\e071'}.typcn-filter:before{content:'\e072'}.typcn-flag-outline:before{content:'\e073'}.typcn-flag:before{content:'\e074'}.typcn-flash-outline:before{content:'\e075'}.typcn-flash:before{content:'\e076'}.typcn-flow-children:before{content:'\e077'}.typcn-flow-merge:before{content:'\e078'}.typcn-flow-parallel:before{content:'\e079'}.typcn-flow-switch:before{content:'\e07a'}.typcn-folder-add:before{content:'\e07b'}.typcn-folder-delete:before{content:'\e07c'}.typcn-folder-open:before{content:'\e07d'}.typcn-folder:before{content:'\e07e'}.typcn-gift:before{content:'\e07f'}.typcn-globe-outline:before{content:'\e080'}.typcn-globe:before{content:'\e081'}.typcn-group-outline:before{content:'\e082'}.typcn-group:before{content:'\e083'}.typcn-headphones:before{content:'\e084'}.typcn-heart-full-outline:before{content:'\e085'}.typcn-heart-half-outline:before{content:'\e086'}.typcn-heart-outline:before{content:'\e087'}.typcn-heart:before{content:'\e088'}.typcn-home-outline:before{content:'\e089'}.typcn-home:before{content:'\e08a'}.typcn-html5:before{content:'\e08b'}.typcn-image-outline:before{content:'\e08c'}.typcn-image:before{content:'\e08d'}.typcn-infinity-outline:before{content:'\e08e'}.typcn-infinity:before{content:'\e08f'}.typcn-info-large-outline:before{content:'\e090'}.typcn-info-large:before{content:'\e091'}.typcn-info-outline:before{content:'\e092'}.typcn-info:before{content:'\e093'}.typcn-input-checked-outline:before{content:'\e094'}.typcn-input-checked:before{content:'\e095'}.typcn-key-outline:before{content:'\e096'}.typcn-key:before{content:'\e097'}.typcn-keyboard:before{content:'\e098'}.typcn-leaf:before{content:'\e099'}.typcn-lightbulb:before{content:'\e09a'}.typcn-link-outline:before{content:'\e09b'}.typcn-link:before{content:'\e09c'}.typcn-location-arrow-outline:before{content:'\e09d'}.typcn-location-arrow:before{content:'\e09e'}.typcn-location-outline:before{content:'\e09f'}.typcn-location:before{content:'\e0a0'}.typcn-lock-closed-outline:before{content:'\e0a1'}.typcn-lock-closed:before{content:'\e0a2'}.typcn-lock-open-outline:before{content:'\e0a3'}.typcn-lock-open:before{content:'\e0a4'}.typcn-mail:before{content:'\e0a5'}.typcn-map:before{content:'\e0a6'}.typcn-media-eject-outline:before{content:'\e0a7'}.typcn-media-eject:before{content:'\e0a8'}.typcn-media-fast-forward-outline:before{content:'\e0a9'}.typcn-media-fast-forward:before{content:'\e0aa'}.typcn-media-pause-outline:before{content:'\e0ab'}.typcn-media-pause:before{content:'\e0ac'}.typcn-media-play-outline:before{content:'\e0ad'}.typcn-media-play-reverse-outline:before{content:'\e0ae'}.typcn-media-play-reverse:before{content:'\e0af'}.typcn-media-play:before{content:'\e0b0'}.typcn-media-record-outline:before{content:'\e0b1'}.typcn-media-record:before{content:'\e0b2'}.typcn-media-rewind-outline:before{content:'\e0b3'}.typcn-media-rewind:before{content:'\e0b4'}.typcn-media-stop-outline:before{content:'\e0b5'}.typcn-media-stop:before{content:'\e0b6'}.typcn-message-typing:before{content:'\e0b7'}.typcn-message:before{content:'\e0b8'}.typcn-messages:before{content:'\e0b9'}.typcn-microphone-outline:before{content:'\e0ba'}.typcn-microphone:before{content:'\e0bb'}.typcn-minus-outline:before{content:'\e0bc'}.typcn-minus:before{content:'\e0bd'}.typcn-mortar-board:before{content:'\e0be'}.typcn-news:before{content:'\e0bf'}.typcn-notes-outline:before{content:'\e0c0'}.typcn-notes:before{content:'\e0c1'}.typcn-pen:before{content:'\e0c2'}.typcn-pencil:before{content:'\e0c3'}.typcn-phone-outline:before{content:'\e0c4'}.typcn-phone:before{content:'\e0c5'}.typcn-pi-outline:before{content:'\e0c6'}.typcn-pi:before{content:'\e0c7'}.typcn-pin-outline:before{content:'\e0c8'}.typcn-pin:before{content:'\e0c9'}.typcn-pipette:before{content:'\e0ca'}.typcn-plane-outline:before{content:'\e0cb'}.typcn-plane:before{content:'\e0cc'}.typcn-plug:before{content:'\e0cd'}.typcn-plus-outline:before{content:'\e0ce'}.typcn-plus:before{content:'\e0cf'}.typcn-point-of-interest-outline:before{content:'\e0d0'}.typcn-point-of-interest:before{content:'\e0d1'}.typcn-power-outline:before{content:'\e0d2'}.typcn-power:before{content:'\e0d3'}.typcn-printer:before{content:'\e0d4'}.typcn-puzzle-outline:before{content:'\e0d5'}.typcn-puzzle:before{content:'\e0d6'}.typcn-radar-outline:before{content:'\e0d7'}.typcn-radar:before{content:'\e0d8'}.typcn-refresh-outline:before{content:'\e0d9'}.typcn-refresh:before{content:'\e0da'}.typcn-rss-outline:before{content:'\e0db'}.typcn-rss:before{content:'\e0dc'}.typcn-scissors-outline:before{content:'\e0dd'}.typcn-scissors:before{content:'\e0de'}.typcn-shopping-bag:before{content:'\e0df'}.typcn-shopping-cart:before{content:'\e0e0'}.typcn-social-at-circular:before{content:'\e0e1'}.typcn-social-dribbble-circular:before{content:'\e0e2'}.typcn-social-dribbble:before{content:'\e0e3'}.typcn-social-facebook-circular:before{content:'\e0e4'}.typcn-social-facebook:before{content:'\e0e5'}.typcn-social-flickr-circular:before{content:'\e0e6'}.typcn-social-flickr:before{content:'\e0e7'}.typcn-social-github-circular:before{content:'\e0e8'}.typcn-social-github:before{content:'\e0e9'}.typcn-social-google-plus-circular:before{content:'\e0ea'}.typcn-social-google-plus:before{content:'\e0eb'}.typcn-social-instagram-circular:before{content:'\e0ec'}.typcn-social-instagram:before{content:'\e0ed'}.typcn-social-last-fm-circular:before{content:'\e0ee'}.typcn-social-last-fm:before{content:'\e0ef'}.typcn-social-linkedin-circular:before{content:'\e0f0'}.typcn-social-linkedin:before{content:'\e0f1'}.typcn-social-pinterest-circular:before{content:'\e0f2'}.typcn-social-pinterest:before{content:'\e0f3'}.typcn-social-skype-outline:before{content:'\e0f4'}.typcn-social-skype:before{content:'\e0f5'}.typcn-social-tumbler-circular:before{content:'\e0f6'}.typcn-social-tumbler:before{content:'\e0f7'}.typcn-social-twitter-circular:before{content:'\e0f8'}.typcn-social-twitter:before{content:'\e0f9'}.typcn-social-vimeo-circular:before{content:'\e0fa'}.typcn-social-vimeo:before{content:'\e0fb'}.typcn-social-youtube-circular:before{content:'\e0fc'}.typcn-social-youtube:before{content:'\e0fd'}.typcn-sort-alphabetically-outline:before{content:'\e0fe'}.typcn-sort-alphabetically:before{content:'\e0ff'}.typcn-sort-numerically-outline:before{content:'\e100'}.typcn-sort-numerically:before{content:'\e101'}.typcn-spanner-outline:before{content:'\e102'}.typcn-spanner:before{content:'\e103'}.typcn-spiral:before{content:'\e104'}.typcn-star-full-outline:before{content:'\e105'}.typcn-star-half-outline:before{content:'\e106'}.typcn-star-half:before{content:'\e107'}.typcn-star-outline:before{content:'\e108'}.typcn-star:before{content:'\e109'}.typcn-starburst-outline:before{content:'\e10a'}.typcn-starburst:before{content:'\e10b'}.typcn-stopwatch:before{content:'\e10c'}.typcn-support:before{content:'\e10d'}.typcn-tabs-outline:before{content:'\e10e'}.typcn-tag:before{content:'\e10f'}.typcn-tags:before{content:'\e110'}.typcn-th-large-outline:before{content:'\e111'}.typcn-th-large:before{content:'\e112'}.typcn-th-list-outline:before{content:'\e113'}.typcn-th-list:before{content:'\e114'}.typcn-th-menu-outline:before{content:'\e115'}.typcn-th-menu:before{content:'\e116'}.typcn-th-small-outline:before{content:'\e117'}.typcn-th-small:before{content:'\e118'}.typcn-thermometer:before{content:'\e119'}.typcn-thumbs-down:before{content:'\e11a'}.typcn-thumbs-ok:before{content:'\e11b'}.typcn-thumbs-up:before{content:'\e11c'}.typcn-tick-outline:before{content:'\e11d'}.typcn-tick:before{content:'\e11e'}.typcn-ticket:before{content:'\e11f'}.typcn-time:before{content:'\e120'}.typcn-times-outline:before{content:'\e121'}.typcn-times:before{content:'\e122'}.typcn-trash:before{content:'\e123'}.typcn-tree:before{content:'\e124'}.typcn-upload-outline:before{content:'\e125'}.typcn-upload:before{content:'\e126'}.typcn-user-add-outline:before{content:'\e127'}.typcn-user-add:before{content:'\e128'}.typcn-user-delete-outline:before{content:'\e129'}.typcn-user-delete:before{content:'\e12a'}.typcn-user-outline:before{content:'\e12b'}.typcn-user:before{content:'\e12c'}.typcn-vendor-android:before{content:'\e12d'}.typcn-vendor-apple:before{content:'\e12e'}.typcn-vendor-microsoft:before{content:'\e12f'}.typcn-video-outline:before{content:'\e130'}.typcn-video:before{content:'\e131'}.typcn-volume-down:before{content:'\e132'}.typcn-volume-mute:before{content:'\e133'}.typcn-volume-up:before{content:'\e134'}.typcn-volume:before{content:'\e135'}.typcn-warning-outline:before{content:'\e136'}.typcn-warning:before{content:'\e137'}.typcn-watch:before{content:'\e138'}.typcn-waves-outline:before{content:'\e139'}.typcn-waves:before{content:'\e13a'}.typcn-weather-cloudy:before{content:'\e13b'}.typcn-weather-downpour:before{content:'\e13c'}.typcn-weather-night:before{content:'\e13d'}.typcn-weather-partly-sunny:before{content:'\e13e'}.typcn-weather-shower:before{content:'\e13f'}.typcn-weather-snow:before{content:'\e140'}.typcn-weather-stormy:before{content:'\e141'}.typcn-weather-sunny:before{content:'\e142'}.typcn-weather-windy-cloudy:before{content:'\e143'}.typcn-weather-windy:before{content:'\e144'}.typcn-wi-fi-outline:before{content:'\e145'}.typcn-wi-fi:before{content:'\e146'}.typcn-wine:before{content:'\e147'}.typcn-world-outline:before{content:'\e148'}.typcn-world:before{content:'\e149'}.typcn-zoom-in-outline:before{content:'\e14a'}.typcn-zoom-in:before{content:'\e14b'}.typcn-zoom-out-outline:before{content:'\e14c'}.typcn-zoom-out:before{content:'\e14d'}.typcn-zoom-outline:before{content:'\e14e'}.typcn-zoom:before{content:'\e14f'}