input, button, select, option{outline:none !important;}
body::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);border-radius:0px;background-color:#F5F5F5;}
body::-webkit-scrollbar{width:10px;background-color:#F5F5F5;}
body::-webkit-scrollbar-thumb{border-radius:0px;-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);background-color:#3D9AE3;}
@font-face{font-family:FontVinsofts;src:url(/wp-content/themes/fo-child/common/fonts_vin/HKNova-LightNarrow.otf);}
@font-face{font-family:FontVinsofts-bold;src:url(/wp-content/themes/fo-child/common/fonts_vin/HKNova-BoldNarrow.otf);}
@font-face{font-family:FontVinsofts-medium;src:url(/wp-content/themes/fo-child/common/fonts_vin/HKNova-MediumNarrow.otf);}
@font-face{font-family:FontVinsofts-regular;src:url(/wp-content/themes/fo-child/common/fonts_vin/HKNova-Regular.otf);}
@font-face{font-family:FontVinsofts-SemiBold;src:url(/wp-content/themes/fo-child/common/fonts_vin/HKNova-SemiBoldNarrow.otf);}
body{font-family:FontVinsofts;font-family:arial !important;}
body .full-content-landing, 
.full-content-landing p, 
.full-content-landing a,
.full-content-landing input,
.full-content-landing textarea,
.full-content-landing button,
.full-content-landing select{font-family:FontVinsofts;font-family:arial !important;}
h1, h2, h3, h4, h5, h6 {
font-family: FontVinsofts-bold;
font-family: arial !important;
} p{letter-spacing:0px;}
input, button, a, button:focus{outline:none !important;}
.full-content-landing{overflow:hidden;}
.full-content-landing .container{margin:0 auto;}
.full-content-landing .full-width{background-repeat:no-repeat;background-size:cover;}
.full-content-landing #section1,
.full-content-landing #section2,
.full-content-landing #section3,
.full-content-landing #section4,
.full-content-landing #section5,
.full-content-landing #section6,
.full-content-landing #section7,
.full-content-landing #section8,
.full-content-landing #section9,
.full-content-landing #section10{padding-top:55px;}
.full-content-landing .last-section{background:linear-gradient(to right, #0458a5, #404a84, #733e69);background:#fff;padding-top:25px;padding-bottom:25px;}
.full-content-landing .header-landing-page .menu{}
.full-content-landing .header-landing-page{position:fixed;background:#0b0d0e;z-index:999999;top:35%;transition:all 4s ease-in-out 0s;border-radius:5px;border-top-left-radius:0;border-bottom-left-radius:0;width:6px;overflow:hidden;cursor:pointer;}
.full-content-landing .header-landing-page:hover{width:150px;transition:all 0.5s ease-in-out 0s}
.full-content-landing .header-landing-page .menu ul{margin:0;list-style:none;}
.full-content-landing .header-landing-page .menu ul li{padding:10px;text-align:center;border-bottom:1px solid #3c9be9;}
.full-content-landing .header-landing-page .menu ul li:last-child{border-bottom:none;}
.full-content-landing .header-landing-page .menu ul li a{font-weight:bold;color:#fff;font-size:15px;}
.full-content-landing .header-landing-page .menu ul li a:before{}
.full-content-landing .header-landing-page .menu ul li a.active,
.full-content-landing .header-landing-page .menu ul li a:hover{color:#3c9be9;}
.full-content-landing .header-landing-page .menu ul li a:hover::before{}
.full-content-landing .form .wpcf7-form{background:#fff;padding:35px;border-radius:15px;}
.full-content-landing .contact-landing-page-1 .title-form{text-align:center;line-height:27px;font-style:italic;}
.full-content-landing .contact-landing-page-1 .title-form h2{color:#3c9be9;margin-bottom:15px;}
.full-content-landing .contact-landing-page-1 .meta-input input{margin-bottom:25px;height:50px;border-radius:5px;color:#000;}
.full-content-landing .contact-landing-page-1 .btn-form button{width:100%;background:#ff0000;color:#fff;font-weight:bold;font-size:18px;line-height:55px;transition:all 0.8s ease-in-out 0s;text-transform:uppercase;height:auto;border-radius:5px;}
.full-content-landing .btn1-click-input,
.full-content-landing .btn1-click-scroll{background:#ff0000;color:#fff;font-weight:bold;font-size:18px;line-height:55px;text-transform:uppercase;height:auto;border-radius:5px;transition:all 0.8s ease-in-out 0s;}
.full-content-landing .contact-landing-page-1 .btn-form button:hover,
.full-content-landing .btn1-click-input:hover,
.full-content-landing .btn1-click-scroll:hover{background:#3c9be9;color:#fff;}
#user-col .item-user .vc_column-inner>.wpb_wrapper{background:#fff;border:#d6c9c9 solid 1px;margin:3px;height:100%;padding:20px;border-radius:10px;box-shadow:0 0 5px rgba(0,0,0,.1);}
#user-col .item-user .vc_column-inner>.wpb_wrapper .vc_single_image-wrapper{box-shadow:none;}
#user-col .item-user .vc_column-inner>.wpb_wrapper .vc_single_image-wrapper img{border-radius:50%;width:50%;}
.full-content-landing .quick-action{position:fixed;bottom:40%;z-index:9;right:5px;width:46px;}
#phone{background:#fff url(/wp-content/themes/fo-child/common/images/hotline.png) no-repeat center;}
#facebook{background:#fff url(/wp-content/themes/fo-child/common/images/facebook.png) no-repeat center;}
#register{background:#fff url(/wp-content/themes/fo-child/common/images/dangky.png) no-repeat center;}
@media(min-width:768px){
.full-content-landing .quick-register-des{overflow:hidden;position:absolute;top:0;right:46px;width:0px;transition:width 0.8s;-webkit-transition:width 0.8s;-moz-transition:width 0.8s;-o-transition:width 0.8s;}
.full-content-landing .view-d{display:block;}
#register .register-text{white-space:nowrap;background:linear-gradient(to left, #07a4ed, #0959c7);background:-moz-linear-gradient(to left, #07a4ed, #0959c7);background:-o-linear-gradient(to left, #07a4ed, #0959c7);background:-webkit-linear-gradient(to left, #07a4ed, #0959c7);color:#fff;height:30px;border-bottom-left-radius:30px;border-top-left-radius:30px;padding:5px 15px;text-transform:uppercase;font-size:14px;font-family:RobotoMedium;}
#register:hover .quick-register-des{width:157px;}
}
.full-content-landing .quick-action-item{width:40px;height:40px;border-radius:30px;box-shadow:0px 2px 7px 1px #ccc;-moz-box-shadow:0px 2px 7px 1px #ccc;-webkit-box-shadow:0px 2px 7px 1px #ccc;-o-box-shadow:0px 2px 7px 1px #ccc;margin:0 auto;margin-bottom:10px;cursor:pointer;}
.full-content-landing #back-top{position:fixed;bottom:30px;right:20px;z-index:99999;}
.full-content-landing #back-top a{display:block;text-align:center;font:11px/100% Arial, Helvetica, sans-serif;text-transform:uppercase;text-decoration:none;color:#bbb;-webkit-transition:1s;-moz-transition:1s;transition:1s;}
.full-content-landing #back-top a:hover{color:#000;}
.full-content-landing #back-top span{width:50px;height:50px;display:block;margin-bottom:7px;background:#ddd url(/wp-content/themes/fo-child/common/images/arrow_up_alt1-512.png) no-repeat center center;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;background-size:60%;-webkit-transition:1s;-moz-transition:1s;transition:1s;}
.full-content-landing #back-top a:hover span{background-color:#d2bebe;}
.full-content-landing .form .wpcf7-validation-errors{font-style:italic;}
@media(max-width:991px){
.full-content-landing .form .vc_column-inner{padding:0;}
}
@media(max-width:767px){
.full-content-landing .quick-register-des.view-d{
display: none;
}
.full-content-landing .form .wpcf7-form {
padding: 15px;
}
.full-content-landing .header-landing-page{
display: none;
}
}