@font-face{font-family:FontVinsofts;src:url(/wp-content/themes/fo-child/common/fonts_vin/HKNova-LightNarrow.otf);}
@font-face{font-family:FontVinsofts-bold;src:url(/wp-content/themes/fo-child/common/fonts_vin/HKNova-BoldNarrow.otf);}
@font-face{font-family:FontVinsofts-medium;src:url(/wp-content/themes/fo-child/common/fonts_vin/HKNova-MediumNarrow.otf);}
@font-face{font-family:FontVinsofts-regular;src:url(/wp-content/themes/fo-child/common/fonts_vin/HKNova-Regular.otf);}
@font-face{font-family:FontVinsofts-SemiBold;src:url(/wp-content/themes/fo-child/common/fonts_vin/HKNova-SemiBoldNarrow.otf);}
body::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);border-radius:0px;background-color:#F5F5F5;}
body::-webkit-scrollbar{width:10px;background-color:#F5F5F5;}
body::-webkit-scrollbar-thumb{border-radius:0px;-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);background-color:#3D9AE3;}
body .themesflat-boxed, 
.themesflat-boxed p, 
.themesflat-boxed a,
.themesflat-boxed input,
.themesflat-boxed textarea,
.themesflat-boxed button,
.themesflat-boxed select{font-family:FontVinsofts;}
h1, h2, h3, h4, h5, h6 {
font-family: FontVinsofts-bold;
} p{letter-spacing:0px;}
input, button, a, button:focus{outline:none !important;}
.footer{padding-top:40px;padding-bottom:40px;border-bottom:1px solid #776a6a54;}
.bottom{padding:10px 0;}
.themesflat-boxed input[type="file"]{margin-bottom:15px;}
#header .logo img, #header .logo svg{width:auto;}
#mainnav > ul > li > a{font-family:FontVinsofts-bold;font-weight:400;}
#mainnav ul.sub-menu > li > a{font-family:FontVinsofts;}
.themesflat_iconbox.transparent .title a,
.portfolio-filter li a{font-family:FontVinsofts-bold;}
#mainnav > ul > li{margin-left:30px;}
.themesflat-boxed .themesflat-top .content-right{line-height:45px;}
.themesflat-boxed .themesflat-top .content-left{line-height:44px;}
.themesflat-boxed .themesflat-top .content-left ul li{margin-top:0px;}
.themesflat-boxed .themesflat-top .themesflat-socials{margin-top:0px;}
.header.header-sticky{box-shadow:0 3px 2px rgba(0, 0, 0, 0.1);}
#mainnav #menu-main>.current-menu-ancestor>a,
#menu-footer_service>.current-menu-item>a,
#menu-footer_service>.current-menu-item::before{color:#3d9be9;}
.breadcrumb-trail.breadcrumbs span.trail-end{color:#3d9be9 !important;}
#mainnav #menu-main .current-menu-ancestor .sub-menu .current-menu-item a{background:#3d9be9;}
.themesflat-boxed .page-title{padding-top:0px;}
.themesflat-boxed .page-title .breadcrumb-trail.breadcrumbs{margin-bottom:15px;}
.themesflat-boxed .page-title .breadcrumb-trail.breadcrumbs a:hover{color:#3d9be9 !important;}
.page-title h1{text-transform:uppercase;}
.themesflat-boxed .content-area-front-page .themesflat_counter .counter-content-left{width:50%;text-align:center;font-family:FontVinsofts-bold;padding:0;padding-top:10px;padding-right:10px;}
.themesflat_header_wrap .show-search a{margin:30px 0 18px;}
.themesflat_header_wrap .header.header-sticky .show-search a{margin:18px 0 18px;}
.themesflat-boxed .themesflat_counter span{font-size:60px;}
.themesflat-boxed .themesflat_counter .counter-content-right a,
.themesflat-boxed .themesflat_counter .counter-content-right p,
.themesflat-boxed .themesflat-portfolio .item .category-post a{font-family:FontVinsofts-bold;}
.themesflat-boxed .portfolio-filter li a{line-height:50px;}
.themesflat-boxed .wpcf7 input,
.themesflat-boxed .wpcf7 textarea{color:#000;}
.admin-bar .themesflat-boxed .popup #myModal2 .modal-dialog{margin-top:60px;}
.themesflat-boxed .popup #myModal2 form{font-family:FontVinsofts;}
.themesflat-boxed .popup #myModal2 h4.modal-title{text-align:center;color:#fff;}
.themesflat-boxed .popup #myModal2 form input,
.themesflat-boxed .popup #myModal2 form select{line-height:0;border-radius:3px;color:#000;font-family:FontVinsofts;}
.themesflat-boxed .popup #myModal2 form input.wpcf7-submit{color:#fff;float:right;}
.themesflat-boxed .popup #myModal2 form textarea{border-radius:3px;width:100% !important;min-height:50px;max-height:250px;margin-bottom:15px !important;}
.themesflat-boxed .popup #myModal2 form p{margin-bottom:0px;}
.themesflat-boxed .popup #myModal2 .modal-header{padding:20px 15px;background:#3d9be9;}
.themesflat-boxed .popup #myModal2 .modal-header .close{margin-top:-4px;width:30px;height:30px;opacity:0.7;color:#fff;}
.themesflat-boxed .popup #myModal2 .modal-header .close:hover{background:#ff0000;}
.themesflat-boxed .popup #myModal2 form .form-group label{color:#000;font-family:FontVinsofts;font-size:13px;}
.themesflat-boxed .popup #myModal2 form .form-group label span{color:red;}
.themesflat-boxed .popup #myModal2 form .form-group .wpcf7-submit{color:#fff;font-weight:bold;font-family:FontVinsofts-bold;padding:8px 20px;font-size:15px;letter-spacing:1px;}
.themesflat-boxed .popup #myModal2 form .form-group .wpcf7-submit:hover{background:#000;}
.themesflat-top .themesflat-socials li a.title span{display:none;}
.blog-grid .featured-post.post-home-page{height:100%;display:flex;align-items:center;min-height:150px;max-height:200px;}
.captcha-form-vins .wpcf7-mathcaptcha{width:50px;height:45px;margin-bottom:15px;margin-left:5px;}
.themesflat-portfolio .item .portfolio-details .title-post{height:46px;overflow:hidden;}
.themesflat-portfolio .item .portfolio-details .title-post a{color:#3D9BE9;}
.themesflat-portfolio .item .portfolio-details .title-post a:hover{color:#3D9BE9;}
.themesflat-portfolio .item .portfolio-details .category-post a{color:#6c757bde;}
.themesflat-portfolio .item .portfolio-details .category-post a:hover{color:#000;}
.themesflat-portfolio .one-four .item{margin-bottom:15px;}
#custom_equal_height .wpb_wrapper{height:100%;}
#custom_equal_height .wpb_wrapper .themesflat_counter{height:85%;}
#custom_equal_height .wpb_wrapper .themesflat_counter .counter-content-right{border:none;}
#custom_equal_height .wpb_wrapper .themesflat_counter .counter-icon .icon{background-color:#3d9be9;}
.link-contact-us{width:200px;margin:15px auto;text-align:center;display:block;}
.link-contact-us a{padding:10px 15px;width:100%;background:#3d9be9;border-radius:5px;font-size:15px;color:#fff;display:block;}
.link-contact-us a:hover{background:#000;}
.themesflat-boxed .themesflat-button.themesflat-archive.btn-readmore::after{font-family:FontAwesome;content:"\f054";padding-left:3px;font-size:11px;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-ms-transition:all 0.3s;-o-transition:all 0.3s;transition:all 0.3s;}
.wpcf7-form .custom_form h3{margin-top:18px;letter-spacing:0.4px;margin-bottom:20px;color:#fff;}
a.themesflat-button:focus{color:#fff;}
input::placeholder,textarea::placeholder{color:#999;}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#999;}
input::-moz-placeholder,textarea::-moz-placeholder{color:#999;}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#999;}
input:-moz-placeholder,textarea:-moz-placeholder{color:#999;}
.themesflat-boxed .footer-widgets .widget.widget_mc4wp_form_widget input{color:#fff;}
.imagebox, .themesflat_imagebox.style2 .imagebox-desc, .footer-widgets .widget{margin-bottom:0 !important;}
.footer_background .content-register-footer{padding:25px 0;}
.footer_background .content-register-footer p{margin-bottom:5px;font-size:13px;color:#888;}
#text-2.widget.widget_text .textwidget p{margin-bottom:40px;}
#text-2.widget.widget_text .textwidget{margin-top:-24px;}
.footer-widgets .widget-title{margin-top:56px;}
.header.header-style1.header-sticky #mainnav .info-top-right.border-left{float:left;height:75px;padding-left:15px;padding-top:17px}
.header.header-style1.header-sticky #mainnav .info-top-right.border-left .appoinment{float:left;padding:0 18px;text-transform:initial;display:flex;align-items:center;justify-content:center;font-size:13px;height:36px;margin-top:2px;}
.header.header-style1.header-sticky #mainnav .info-top-right.border-left .hotline-header{float:left;padding-left:30px;line-height:41px;}
.header.header-style1.header-sticky .show-search{margin-left:10px;}
.header.header-style1.header-sticky #mainnav .info-top-right span{margin-right:0px;font-weight:bold;}
.header.header-style1.header-sticky #mainnav .fa.fa-phone{position:absolute;font-size:19px;margin-left:-17px;line-height:43px;}
#mainnav ul{float:left;}
#popup-team-member #myModa1{padding-right:0 !important;padding-top:86px;z-index:99999;}
#popup-team-member #myModa1 .modal-header{border:none;}
#popup-team-member #myModa1 .modal-header .close{left:15px;position:absolute;width:30px;height:30px;opacity:0.8;color:#fff;top:6px;left:6px;}
#popup-team-member #myModa1 .modal-header .close:hover{background:#ff0000;}
#popup-team-member #myModa1 .modal-content .image-members-full .image{text-align:center;width:100%;}
#popup-team-member #myModa1 .modal-content .image-members-full .image .social-links{margin-top:12px;}
#popup-team-member #myModa1 .modal-content .image-members-full .image .themesflat-button{display:none;}
.themesflat-team.themesflat-hover .team-desc,
#popup-team-member #myModa1 .modal-content .image-members-full .image .social-links,
#popup-team-member #myModa1 .modal-content .modal-header .social-content span{display:none;}
#popup-team-member #myModa1 .modal-content .modal-header .social-content .fa{font-size:15px;margin:0 1px;color:#444444;}
#popup-team-member #myModa1 .modal-content .image-members-full .image .social-links{}
#popup-team-member #myModa1 .modal-content .image-members-full .image .image-member{display:inline-block;text-align:center;}
#popup-team-member #myModa1 .modal-content{border-radius:0;padding:5% 10% 5%;box-shadow:none;border-color:transparent;}
#popup-team-member #myModa1 .modal-content::before{content:'';position:absolute;border-top:0px solid #8d6dc4;border-bottom:77px solid transparent;border-left:77px solid #81BDF2;top:0;left:0px;}
#popup-team-member #myModa1 .modal-content::after{content:'';position:absolute;border-top:0px solid #8d6dc4;border-bottom:77px solid #81BDF2;border-right:0 solid transparent;border-left:77px solid transparent;bottom:0;right:0;}
#popup-team-member #myModa1 .modal-content .image-members-full .image .image-member::after{content:'';position:absolute;border-top:0px solid #8d6dc4;border-bottom:77px solid transparent;border-right:41px solid transparent;border-left:77px solid #3d9be9;top:0;left:0px;}
#popup-team-member #myModa1 .modal-content .line-color{border:1px solid #3d9be9;width:160px;margin-left:15px;display:inline-block;}
#popup-team-member #myModa1 .modal-content .title-modal .title{height:210px;background:#fff;padding:6% 17%;padding-top:60px;border-radius:75px 5px 75px 5px;color:#fff;background:#e1f1ff;width:92%;border:1px solid #EDF6FE;float:right;}
#popup-team-member #myModa1 .modal-content .title-modal .title .modal-title{color:#3D9BE9;line-height:24px;}
#popup-team-member #myModa1 .modal-content .title-modal .title .social-content{margin-top:10px;}
#popup-team-member #myModa1 .modal-content .title-modal .title span{font-weight:normal;color:#888888;font-size:13px;margin-top:-4px;}
#popup-team-member #myModa1::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);border-radius:0px;background-color:#F5F5F5;}
#popup-team-member #myModa1::-webkit-scrollbar{width:10px;background-color:#F5F5F5;}
#popup-team-member #myModa1::-webkit-scrollbar-thumb{border-radius:0px;-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);background-color:#3D9AE3;}
#popup-team-member #myModa1 .modal-body .content-member{font-size:13px;line-height:23px;text-align:justify;}
.header-sticky .logo svg, .header-sticky .logo img{max-height:75%;}
.logo{padding-top:15px;}
.themesflat-top .content-left ul.language-chooser li a::after,
.themesflat-top .content-left ul.language-chooser li .qtranxs_text.qtranxs_text_en{}
.themesflat-top .content-left ul.language-chooser{}
.go-top.show{bottom:45px;}
@media only screen and (max-width: 420px){.go-top.show{bottom:50px;}
}
.imagebox, .themesflat_imagebox.style2 .imagebox-desc, .footer-widgets .widget{margin-bottom:0 !important;}
.logo img, .logo svg{width:auto;}
#text-2.widget.widget_text .textwidget{margin-top:-20px;}
@media(max-width:767px){
.footer-widgets .widget-title{margin-bottom:10px;}
}
.themesflat-boxed .popup #myModal2 form input::placeholder{line-height:initial;}
.page-title h1,a,h1, h2,h3{line-height:normal;}
#comments{display:none;}
.page-header .nothing{color:#3d9be9;margin-top:-25px;}
.error404 .error-404 .sub-title-404{color:#3d9be9;margin-bottom:15px;}
.content-area.fullwidth-404 .themesflat-button{margin-top:50px;}
.footer_background .content-register-footer a{color:#aac9ce;}
.footer_background .content-register-footer a:hover{color:#fff;}
.page-title-container h1{font-size:28px;}
#text-2.widget.widget_text .textwidget{margin-top:0 !important;}
#text-2.widget.widget_text .textwidget p{margin-bottom:16px !important;}
.footer_background .content-register-footer img{width:156px;}
.footer-widgets #text-5{text-align:justify;}
@media only screen and (max-width: 480px){
.themesflat-boxed .themesflat-top .content-right{justify-content:center;display:flex;align-items:center;}
.themesflat-boxed .themesflat-top .content-right .info-top-right a.appoinment{height:auto;line-height:inherit;justify-content:center;display:flex;align-items:center;}
.rev_slider_wrapper .rev_slider .tp-revslider-mainul li:first-child .tp-bgimg.defaultimg{margin-top:-32px;}
}
@media(max-width:1200px){
.go-top.show{bottom:15px;left:15px;}
}
#popup-team-member #myModa1 .modal-body .content-member .fa{color:#3D9BE9;width:16px;text-align:center;}
#popup-team-member #myModa1 .modal-content .title-modal .title .modal-title{color:#5da6e2;}
.footer-widgets .themesflat-shortcode-socials i{position:absolute;top:2px;font-size:20px;width:28px;left:-3px;text-align:center;padding:5px 0px;color:#fff;border-radius:5px;}
.footer-widgets .themesflat-shortcode-socials i.fa-facebook{background:#3b5998;}
.footer-widgets .themesflat-shortcode-socials i.fa-youtube{background:#ff0000;}
.footer-widgets .themesflat-shortcode-socials i.fa-youtube{background:#ff0000;}
@media(max-width:600px){
.themesflat-top .content-left ul.language-chooser{z-index:9999;}
.admin-bar .themesflat-top .content-left ul.language-chooser{z-index:9999;}
}
body::-webkit-scrollbar-thumb
, .themesflat-boxed .popup #myModal2 .modal-header{background-color:#377493 !important;}
.themesflat-portfolio .item .portfolio-details .title-post a{color:#21536c !important}
.bottom .copyright a{color:#aac9ce;}
.portfolio-filter li:first-of-type, .portfolio-filter li:nth-child(3),.portfolio-filter li:first-of-type, .portfolio-filter li:nth-child(4){float:left;}
.themesflat_iconbox .sub-title{margin-top:0px;}
.footer_background .content-register-footer p,.footer-widgets #text-5 p{color:#fff !important;}
#mainnav #menu-main .current-menu-ancestor .sub-menu .current-menu-item a, .widget-brochures ul li a{color:#fff !important;}
#mainnav #menu-main>.current-menu-ancestor>a, #menu-footer_service>.current-menu-item>a, #menu-footer_service>.current-menu-item::before{color:#377493;}
#custom_equal_height .wpb_wrapper .themesflat_counter .counter-icon .icon, .link-contact-us a{background-color:#377493;}
.themesflat-top .content-left ul.language-chooser li.active a, .themesflat-top .content-left ul.language-chooser li a:hover, .breadcrumb-trail.breadcrumbs span.trail-end{color:#377493 !important;}
#mainnav #menu-main .current-menu-ancestor .sub-menu .current-menu-item a{background:#aac9ce!important;}
.themesflat_counter .counter-content-left{color:#565454 !important;height:60px;line-height:67px;position:relative;display:block;margin:0 auto;margin-bottom:20px;margin-top:-20px;}
.themesflat_counter.style2 .counter-content-left .numb-count{font-size:26px !important;font-weight:bold;}
.sidebar .widget.widget_nav_menu ul li.current-menu-item a:before, .sidebar .widget.widget_nav_menu ul li a:hover:before, .widget-brochures ul li{background-color:#21536c;}
.wpcf7-form .custom_form{background:#21536c;}
@media(min-width:992px){
.footer_background .content-register-footer .right{padding-left:48px;padding-top:10px;}
.footer_background .content-register-footer .left{width:110%;padding-top:10px;}
}
@media(max-width:1200px){
.themesflat-boxed .themesflat-top .content-left{width:100%;display:grid;}
}
@media(max-width:991px){
.themesflat_header_wrap .header.header-sticky .show-search a{margin:28px 0 18px;}
.themesflat-top .content-left ul{line-height:30px;}
.page-title h1{text-transform:initial;line-height:normal;}
#primary h1, 
#primary h2, 
#primary h3, 
#primary h4, 
#primary h5, 
#primary h5{line-height:normal;}
}
@media(max-width:767px){
.themesflat-boxed .page-wrap{}
.themesflat-boxed .page-title .breadcrumb-trail.breadcrumbs{margin-bottom:5px;}
.themesflat-boxed .header{}
#header .nav{padding:0 15px;}
}
@media(max-width:480px){
.rev_slider_wrapper .rev_slider .tp-revslider-mainul li:first-child .tp-bgimg.defaultimg {
background-size: auto 88% !important;
background-position: 20% center !important;
}
.themesflat-boxed .themesflat-top .content-right .info-top-right.border-left span{
display: none;
}
.themesflat-boxed .themesflat-top .content-left {
width: 100%;
display: grid;
}
.themesflat-top .content-left ul.language-chooser {
margin-right: 0;
}
#popup-team-member #myModa1 .modal-content .title-modal .title {
width: 100%; 
padding: 18% 6%;
height: auto;
}
}