@font-face{font-family:FontVinsofts;src:url(/wp-content/themes/fo-child/common/fonts_vin/HKNova-LightNarrow.otf);}
@font-face{font-family:FontVinsofts-bold;src:url(/wp-content/themes/fo-child/common/fonts_vin/HKNova-BoldNarrow.otf);}
@font-face{font-family:FontVinsofts-medium;src:url(/wp-content/themes/fo-child/common/fonts_vin/HKNova-MediumNarrow.otf);}
@font-face{font-family:FontVinsofts-regular;src:url(/wp-content/themes/fo-child/common/fonts_vin/HKNova-Regular.otf);}
@font-face{font-family:FontVinsofts-SemiBold;src:url(/wp-content/themes/fo-child/common/fonts_vin/HKNova-SemiBoldNarrow.otf);}
body::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);border-radius:0px;background-color:#F5F5F5;}
body::-webkit-scrollbar{width:10px;background-color:#F5F5F5;}
body::-webkit-scrollbar-thumb{border-radius:0px;-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);background-color:#3D9AE3;}
body .themesflat-boxed, 
.themesflat-boxed p, 
.themesflat-boxed a,
.themesflat-boxed input,
.themesflat-boxed textarea,
.themesflat-boxed button,
.themesflat-boxed select{font-family:FontVinsofts;}
h1, h2, h3, h4, h5, h6 {
font-family: FontVinsofts-bold;
} p{letter-spacing:0px;}
input, button, a, button:focus{outline:none !important;}
.footer{padding-top:40px;padding-bottom:40px;border-bottom:1px solid #776a6a54;}
.bottom{padding:10px 0;}
.themesflat-boxed input[type="file"]{margin-bottom:15px;}
#header .logo img, #header .logo svg{width:auto;}
#mainnav > ul > li > a{font-family:FontVinsofts-bold;font-weight:400;}
#mainnav ul.sub-menu > li > a{font-family:FontVinsofts;}
.themesflat_iconbox.transparent .title a,
.portfolio-filter li a{font-family:FontVinsofts-bold;}
#mainnav > ul > li{margin-left:30px;}
.themesflat-boxed .themesflat-top .content-right{line-height:45px;}
.themesflat-boxed .themesflat-top .content-left{line-height:44px;}
.themesflat-boxed .themesflat-top .content-left ul li{margin-top:0px;}
.themesflat-boxed .themesflat-top .themesflat-socials{margin-top:0px;}
.header.header-sticky{box-shadow:0 3px 2px rgba(0, 0, 0, 0.1);}
#mainnav #menu-main>.current-menu-ancestor>a,
#menu-footer_service>.current-menu-item>a,
#menu-footer_service>.current-menu-item::before{color:#3d9be9;}
.breadcrumb-trail.breadcrumbs span.trail-end{color:#3d9be9 !important;}
#mainnav #menu-main .current-menu-ancestor .sub-menu .current-menu-item a{background:#3d9be9;}
.themesflat-boxed .page-title{padding-top:0px;}
.themesflat-boxed .page-title .breadcrumb-trail.breadcrumbs{margin-bottom:15px;}
.themesflat-boxed .page-title .breadcrumb-trail.breadcrumbs a:hover{color:#3d9be9 !important;}
.page-title h1{text-transform:uppercase;}
.themesflat-boxed .content-area-front-page .themesflat_counter .counter-content-left{width:50%;text-align:center;font-family:FontVinsofts-bold;padding:0;padding-top:10px;padding-right:10px;}
.themesflat_header_wrap .show-search a{margin:30px 0 18px;}
.themesflat_header_wrap .header.header-sticky .show-search a{margin:18px 0 18px;}
.themesflat-boxed .themesflat_counter span{font-size:60px;}
.themesflat-boxed .themesflat_counter .counter-content-right a,
.themesflat-boxed .themesflat_counter .counter-content-right p,
.themesflat-boxed .themesflat-portfolio .item .category-post a{font-family:FontVinsofts-bold;}
.themesflat-boxed .portfolio-filter li a{line-height:50px;}
.themesflat-boxed .wpcf7 input,
.themesflat-boxed .wpcf7 textarea{color:#000;}
.admin-bar .themesflat-boxed .popup #myModal2 .modal-dialog{margin-top:60px;}
.themesflat-boxed .popup #myModal2 form{font-family:FontVinsofts;}
.themesflat-boxed .popup #myModal2 h4.modal-title{text-align:center;color:#fff;}
.themesflat-boxed .popup #myModal2 form input,
.themesflat-boxed .popup #myModal2 form select{line-height:0;border-radius:3px;color:#000;font-family:FontVinsofts;}
.themesflat-boxed .popup #myModal2 form input.wpcf7-submit{color:#fff;float:right;}
.themesflat-boxed .popup #myModal2 form textarea{border-radius:3px;width:100% !important;min-height:50px;max-height:250px;margin-bottom:15px !important;}
.themesflat-boxed .popup #myModal2 form p{margin-bottom:0px;}
.themesflat-boxed .popup #myModal2 .modal-header{padding:20px 15px;background:#3d9be9;}
.themesflat-boxed .popup #myModal2 .modal-header .close{margin-top:-4px;width:30px;height:30px;opacity:0.7;color:#fff;}
.themesflat-boxed .popup #myModal2 .modal-header .close:hover{background:#ff0000;}
.themesflat-boxed .popup #myModal2 form .form-group label{color:#000;font-family:FontVinsofts;font-size:13px;}
.themesflat-boxed .popup #myModal2 form .form-group label span{color:red;}
.themesflat-boxed .popup #myModal2 form .form-group .wpcf7-submit{color:#fff;font-weight:bold;font-family:FontVinsofts-bold;padding:8px 20px;font-size:15px;letter-spacing:1px;}
.themesflat-boxed .popup #myModal2 form .form-group .wpcf7-submit:hover{background:#000;}
.themesflat-top .themesflat-socials li a.title span{display:none;}
.blog-grid .featured-post.post-home-page{height:100%;display:flex;align-items:center;min-height:150px;max-height:200px;}
.captcha-form-vins .wpcf7-mathcaptcha{width:50px;height:45px;margin-bottom:15px;margin-left:5px;}
.themesflat-portfolio .item .portfolio-details .title-post{height:46px;overflow:hidden;}
.themesflat-portfolio .item .portfolio-details .title-post a{color:#3D9BE9;}
.themesflat-portfolio .item .portfolio-details .title-post a:hover{color:#3D9BE9;}
.themesflat-portfolio .item .portfolio-details .category-post a{color:#6c757bde;}
.themesflat-portfolio .item .portfolio-details .category-post a:hover{color:#000;}
.themesflat-portfolio .one-four .item{margin-bottom:15px;}
#custom_equal_height .wpb_wrapper{height:100%;}
#custom_equal_height .wpb_wrapper .themesflat_counter{height:85%;}
#custom_equal_height .wpb_wrapper .themesflat_counter .counter-content-right{border:none;}
#custom_equal_height .wpb_wrapper .themesflat_counter .counter-icon .icon{background-color:#3d9be9;}
.link-contact-us{width:200px;margin:15px auto;text-align:center;display:block;}
.link-contact-us a{padding:10px 15px;width:100%;background:#3d9be9;border-radius:5px;font-size:15px;color:#fff;display:block;}
.link-contact-us a:hover{background:#000;}
.themesflat-boxed .themesflat-button.themesflat-archive.btn-readmore::after{font-family:FontAwesome;content:"\f054";padding-left:3px;font-size:11px;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-ms-transition:all 0.3s;-o-transition:all 0.3s;transition:all 0.3s;}
.wpcf7-form .custom_form h3{margin-top:18px;letter-spacing:0.4px;margin-bottom:20px;color:#fff;}
a.themesflat-button:focus{color:#fff;}
input::placeholder,textarea::placeholder{color:#999;}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#999;}
input::-moz-placeholder,textarea::-moz-placeholder{color:#999;}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#999;}
input:-moz-placeholder,textarea:-moz-placeholder{color:#999;}
.themesflat-boxed .footer-widgets .widget.widget_mc4wp_form_widget input{color:#fff;}
.imagebox, .themesflat_imagebox.style2 .imagebox-desc, .footer-widgets .widget{margin-bottom:0 !important;}
.footer_background .content-register-footer{padding:25px 0;}
.footer_background .content-register-footer p{margin-bottom:5px;font-size:13px;color:#888;}
#text-2.widget.widget_text .textwidget p{margin-bottom:40px;}
#text-2.widget.widget_text .textwidget{margin-top:-24px;}
.footer-widgets .widget-title{margin-top:56px;}
.header.header-style1.header-sticky #mainnav .info-top-right.border-left{float:left;height:75px;padding-left:15px;padding-top:17px}
.header.header-style1.header-sticky #mainnav .info-top-right.border-left .appoinment{float:left;padding:0 18px;text-transform:initial;display:flex;align-items:center;justify-content:center;font-size:13px;height:36px;margin-top:2px;}
.header.header-style1.header-sticky #mainnav .info-top-right.border-left .hotline-header{float:left;padding-left:30px;line-height:41px;}
.header.header-style1.header-sticky .show-search{margin-left:10px;}
.header.header-style1.header-sticky #mainnav .info-top-right span{margin-right:0px;font-weight:bold;}
.header.header-style1.header-sticky #mainnav .fa.fa-phone{position:absolute;font-size:19px;margin-left:-17px;line-height:43px;}
#mainnav ul{float:left;}
#popup-team-member #myModa1{padding-right:0 !important;padding-top:86px;z-index:99999;}
#popup-team-member #myModa1 .modal-header{border:none;}
#popup-team-member #myModa1 .modal-header .close{left:15px;position:absolute;width:30px;height:30px;opacity:0.8;color:#fff;top:6px;left:6px;}
#popup-team-member #myModa1 .modal-header .close:hover{background:#ff0000;}
#popup-team-member #myModa1 .modal-content .image-members-full .image{text-align:center;width:100%;}
#popup-team-member #myModa1 .modal-content .image-members-full .image .social-links{margin-top:12px;}
#popup-team-member #myModa1 .modal-content .image-members-full .image .themesflat-button{display:none;}
.themesflat-team.themesflat-hover .team-desc,
#popup-team-member #myModa1 .modal-content .image-members-full .image .social-links,
#popup-team-member #myModa1 .modal-content .modal-header .social-content span{display:none;}
#popup-team-member #myModa1 .modal-content .modal-header .social-content .fa{font-size:15px;margin:0 1px;color:#444444;}
#popup-team-member #myModa1 .modal-content .image-members-full .image .social-links{}
#popup-team-member #myModa1 .modal-content .image-members-full .image .image-member{display:inline-block;text-align:center;}
#popup-team-member #myModa1 .modal-content{border-radius:0;padding:5% 10% 5%;box-shadow:none;border-color:transparent;}
#popup-team-member #myModa1 .modal-content::before{content:'';position:absolute;border-top:0px solid #8d6dc4;border-bottom:77px solid transparent;border-left:77px solid #81BDF2;top:0;left:0px;}
#popup-team-member #myModa1 .modal-content::after{content:'';position:absolute;border-top:0px solid #8d6dc4;border-bottom:77px solid #81BDF2;border-right:0 solid transparent;border-left:77px solid transparent;bottom:0;right:0;}
#popup-team-member #myModa1 .modal-content .image-members-full .image .image-member::after{content:'';position:absolute;border-top:0px solid #8d6dc4;border-bottom:77px solid transparent;border-right:41px solid transparent;border-left:77px solid #3d9be9;top:0;left:0px;}
#popup-team-member #myModa1 .modal-content .line-color{border:1px solid #3d9be9;width:160px;margin-left:15px;display:inline-block;}
#popup-team-member #myModa1 .modal-content .title-modal .title{height:210px;background:#fff;padding:6% 17%;padding-top:60px;border-radius:75px 5px 75px 5px;color:#fff;background:#e1f1ff;width:92%;border:1px solid #EDF6FE;float:right;}
#popup-team-member #myModa1 .modal-content .title-modal .title .modal-title{color:#3D9BE9;line-height:24px;}
#popup-team-member #myModa1 .modal-content .title-modal .title .social-content{margin-top:10px;}
#popup-team-member #myModa1 .modal-content .title-modal .title span{font-weight:normal;color:#888888;font-size:13px;margin-top:-4px;}
#popup-team-member #myModa1::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);border-radius:0px;background-color:#F5F5F5;}
#popup-team-member #myModa1::-webkit-scrollbar{width:10px;background-color:#F5F5F5;}
#popup-team-member #myModa1::-webkit-scrollbar-thumb{border-radius:0px;-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);background-color:#3D9AE3;}
#popup-team-member #myModa1 .modal-body .content-member{font-size:13px;line-height:23px;text-align:justify;}
.header-sticky .logo svg, .header-sticky .logo img{max-height:75%;}
.logo{padding-top:15px;}
.themesflat-top .content-left ul.language-chooser li a::after,
.themesflat-top .content-left ul.language-chooser li .qtranxs_text.qtranxs_text_en{}
.themesflat-top .content-left ul.language-chooser{}
.go-top.show{bottom:45px;}
@media only screen and (max-width: 420px){.go-top.show{bottom:50px;}
}
.imagebox, .themesflat_imagebox.style2 .imagebox-desc, .footer-widgets .widget{margin-bottom:0 !important;}
.logo img, .logo svg{width:auto;}
#text-2.widget.widget_text .textwidget{margin-top:-20px;}
@media(max-width:767px){
.footer-widgets .widget-title{margin-bottom:10px;}
}
.themesflat-boxed .popup #myModal2 form input::placeholder{line-height:initial;}
.page-title h1,a,h1, h2,h3{line-height:normal;}
#comments{display:none;}
.page-header .nothing{color:#3d9be9;margin-top:-25px;}
.error404 .error-404 .sub-title-404{color:#3d9be9;margin-bottom:15px;}
.content-area.fullwidth-404 .themesflat-button{margin-top:50px;}
.footer_background .content-register-footer a{color:#aac9ce;}
.footer_background .content-register-footer a:hover{color:#fff;}
.page-title-container h1{font-size:28px;}
#text-2.widget.widget_text .textwidget{margin-top:0 !important;}
#text-2.widget.widget_text .textwidget p{margin-bottom:16px !important;}
.footer_background .content-register-footer img{width:156px;}
.footer-widgets #text-5{text-align:justify;}
@media only screen and (max-width: 480px){
.themesflat-boxed .themesflat-top .content-right{justify-content:center;display:flex;align-items:center;}
.themesflat-boxed .themesflat-top .content-right .info-top-right a.appoinment{height:auto;line-height:inherit;justify-content:center;display:flex;align-items:center;}
.rev_slider_wrapper .rev_slider .tp-revslider-mainul li:first-child .tp-bgimg.defaultimg{margin-top:-32px;}
}
@media(max-width:1200px){
.go-top.show{bottom:15px;left:15px;}
}
#popup-team-member #myModa1 .modal-body .content-member .fa{color:#3D9BE9;width:16px;text-align:center;}
#popup-team-member #myModa1 .modal-content .title-modal .title .modal-title{color:#5da6e2;}
.footer-widgets .themesflat-shortcode-socials i{position:absolute;top:2px;font-size:20px;width:28px;left:-3px;text-align:center;padding:5px 0px;color:#fff;border-radius:5px;}
.footer-widgets .themesflat-shortcode-socials i.fa-facebook{background:#3b5998;}
.footer-widgets .themesflat-shortcode-socials i.fa-youtube{background:#ff0000;}
.footer-widgets .themesflat-shortcode-socials i.fa-youtube{background:#ff0000;}
@media(max-width:600px){
.themesflat-top .content-left ul.language-chooser{z-index:9999;}
.admin-bar .themesflat-top .content-left ul.language-chooser{z-index:9999;}
}
body::-webkit-scrollbar-thumb
, .themesflat-boxed .popup #myModal2 .modal-header{background-color:#377493 !important;}
.themesflat-portfolio .item .portfolio-details .title-post a{color:#21536c !important}
.bottom .copyright a{color:#aac9ce;}
.portfolio-filter li:first-of-type, .portfolio-filter li:nth-child(3),.portfolio-filter li:first-of-type, .portfolio-filter li:nth-child(4){float:left;}
.themesflat_iconbox .sub-title{margin-top:0px;}
.footer_background .content-register-footer p,.footer-widgets #text-5 p{color:#fff !important;}
#mainnav #menu-main .current-menu-ancestor .sub-menu .current-menu-item a, .widget-brochures ul li a{color:#fff !important;}
#mainnav #menu-main>.current-menu-ancestor>a, #menu-footer_service>.current-menu-item>a, #menu-footer_service>.current-menu-item::before{color:#377493;}
#custom_equal_height .wpb_wrapper .themesflat_counter .counter-icon .icon, .link-contact-us a{background-color:#377493;}
.themesflat-top .content-left ul.language-chooser li.active a, .themesflat-top .content-left ul.language-chooser li a:hover, .breadcrumb-trail.breadcrumbs span.trail-end{color:#377493 !important;}
#mainnav #menu-main .current-menu-ancestor .sub-menu .current-menu-item a{background:#aac9ce!important;}
.themesflat_counter .counter-content-left{color:#565454 !important;height:60px;line-height:67px;position:relative;display:block;margin:0 auto;margin-bottom:20px;margin-top:-20px;}
.themesflat_counter.style2 .counter-content-left .numb-count{font-size:26px !important;font-weight:bold;}
.sidebar .widget.widget_nav_menu ul li.current-menu-item a:before, .sidebar .widget.widget_nav_menu ul li a:hover:before, .widget-brochures ul li{background-color:#21536c;}
.wpcf7-form .custom_form{background:#21536c;}
@media(min-width:992px){
.footer_background .content-register-footer .right{padding-left:48px;padding-top:10px;}
.footer_background .content-register-footer .left{width:110%;padding-top:10px;}
}
@media(max-width:1200px){
.themesflat-boxed .themesflat-top .content-left{width:100%;display:grid;}
}
@media(max-width:991px){
.themesflat_header_wrap .header.header-sticky .show-search a{margin:28px 0 18px;}
.themesflat-top .content-left ul{line-height:30px;}
.page-title h1{text-transform:initial;line-height:normal;}
#primary h1, 
#primary h2, 
#primary h3, 
#primary h4, 
#primary h5, 
#primary h5{line-height:normal;}
}
@media(max-width:767px){
.themesflat-boxed .page-wrap{}
.themesflat-boxed .page-title .breadcrumb-trail.breadcrumbs{margin-bottom:5px;}
.themesflat-boxed .header{}
#header .nav{padding:0 15px;}
}
@media(max-width:480px){
.rev_slider_wrapper .rev_slider .tp-revslider-mainul li:first-child .tp-bgimg.defaultimg {
background-size: auto 88% !important;
background-position: 20% center !important;
}
.themesflat-boxed .themesflat-top .content-right .info-top-right.border-left span{
display: none;
}
.themesflat-boxed .themesflat-top .content-left {
width: 100%;
display: grid;
}
.themesflat-top .content-left ul.language-chooser {
margin-right: 0;
}
#popup-team-member #myModa1 .modal-content .title-modal .title {
width: 100%; 
padding: 18% 6%;
height: auto;
}
}@font-face{font-family:vc_linecons;src:url(/wp-content/plugins/js_composer/assets/css/lib/vc-linecons/fonts/vc_linecons.eot?54101537);src:url(/wp-content/plugins/js_composer/assets/css/lib/vc-linecons/fonts/vc_linecons.eot?54101537#iefix) format('embedded-opentype'),url(/wp-content/plugins/js_composer/assets/css/lib/vc-linecons/fonts/vc_linecons.woff?54101537) format('woff'),url(/wp-content/plugins/js_composer/assets/css/lib/vc-linecons/fonts/vc_linecons.ttf?54101537) format('truetype'),url(/wp-content/plugins/js_composer/assets/css/lib/vc-linecons/fonts/vc_linecons.svg?54101537#vc_openiconic) format('svg');font-weight:400;font-style:normal}[class*=" vc_li-"]:before,[class^=vc_li-]:before{font-family:vc_linecons;font-style:normal;font-weight:400;speak:none;display:inline-block;text-decoration:inherit;width:1em;margin-right:0;text-align:center;font-variant:normal;text-transform:none;line-height:inherit;margin-left:0}.vc_li-heart:before{content:"\e000"}.vc_li-cloud:before{content:"\e001"}.vc_li-star:before{content:"\e002"}.vc_li-tv:before{content:"\e003"}.vc_li-sound:before{content:"\e004"}.vc_li-video:before{content:"\e005"}.vc_li-trash:before{content:"\e006"}.vc_li-user:before{content:"\e007"}.vc_li-key:before{content:"\e008"}.vc_li-search:before{content:"\e009"}.vc_li-settings:before{content:"\e00a"}.vc_li-camera:before{content:"\e00b"}.vc_li-tag:before{content:"\e00c"}.vc_li-lock:before{content:"\e00d"}.vc_li-bulb:before{content:"\e00e"}.vc_li-pen:before{content:"\e00f"}.vc_li-diamond:before{content:"\e010"}.vc_li-display:before{content:"\e011"}.vc_li-location:before{content:"\e012"}.vc_li-eye:before{content:"\e013"}.vc_li-bubble:before{content:"\e014"}.vc_li-stack:before{content:"\e015"}.vc_li-cup:before{content:"\e016"}.vc_li-phone:before{content:"\e017"}.vc_li-news:before{content:"\e018"}.vc_li-mail:before{content:"\e019"}.vc_li-like:before{content:"\e01a"}.vc_li-photo:before{content:"\e01b"}.vc_li-note:before{content:"\e01c"}.vc_li-clock:before{content:"\e01d"}.vc_li-paperplane:before{content:"\e01e"}.vc_li-params:before{content:"\e01f"}.vc_li-banknote:before{content:"\e020"}.vc_li-data:before{content:"\e021"}.vc_li-music:before{content:"\e022"}.vc_li-megaphone:before{content:"\e023"}.vc_li-study:before{content:"\e024"}.vc_li-lab:before{content:"\e025"}.vc_li-food:before{content:"\e026"}.vc_li-t-shirt:before{content:"\e027"}.vc_li-fire:before{content:"\e028"}.vc_li-clip:before{content:"\e029"}.vc_li-shop:before{content:"\e02a"}.vc_li-calendar:before{content:"\e02b"}.vc_li-vallet:before{content:"\e02c"}.vc_li-vynil:before{content:"\e02d"}.vc_li-truck:before{content:"\e02e"}.vc_li-world:before{content:"\e02f"}@font-face{font-family:'simple-line-icons';src:url(/wp-content/themes/fo/fonts/Simple-Line-Icons.eot?v=2.4.0);src:url(/wp-content/themes/fo/fonts/Simple-Line-Icons.eot?v=2.4.0#iefix) format('embedded-opentype'), url(/wp-content/themes/fo/fonts/Simple-Line-Icons.woff2?v=2.4.0) format('woff2'), url(/wp-content/themes/fo/fonts/Simple-Line-Icons.ttf?v=2.4.0) format('truetype'), url(/wp-content/themes/fo/fonts/Simple-Line-Icons.woff?v=2.4.0) format('woff'), url(/wp-content/themes/fo/fonts/Simple-Line-Icons.svg?v=2.4.0#simple-line-icons) format('svg');font-weight:normal;font-style:normal;}
.icon-user,
.icon-people,
.icon-user-female,
.icon-user-follow,
.icon-user-following,
.icon-user-unfollow,
.icon-login,
.icon-logout,
.icon-emotsmile,
.icon-phone,
.icon-call-end,
.icon-call-in,
.icon-call-out,
.icon-map,
.icon-location-pin,
.icon-direction,
.icon-directions,
.icon-compass,
.icon-layers,
.icon-menu,
.icon-list,
.icon-options-vertical,
.icon-options,
.icon-arrow-down,
.icon-arrow-left,
.icon-arrow-right,
.icon-arrow-up,
.icon-arrow-up-circle,
.icon-arrow-left-circle,
.icon-arrow-right-circle,
.icon-arrow-down-circle,
.icon-check,
.icon-clock,
.icon-plus,
.icon-minus,
.icon-close,
.icon-event,
.icon-exclamation,
.icon-organization,
.icon-trophy,
.icon-screen-smartphone,
.icon-screen-desktop,
.icon-plane,
.icon-notebook,
.icon-mustache,
.icon-mouse,
.icon-magnet,
.icon-energy,
.icon-disc,
.icon-cursor,
.icon-cursor-move,
.icon-crop,
.icon-chemistry,
.icon-speedometer,
.icon-shield,
.icon-screen-tablet,
.icon-magic-wand,
.icon-hourglass,
.icon-graduation,
.icon-ghost,
.icon-game-controller,
.icon-fire,
.icon-eyeglass,
.icon-envelope-open,
.icon-envelope-letter,
.icon-bell,
.icon-badge,
.icon-anchor,
.icon-wallet,
.icon-vector,
.icon-speech,
.icon-puzzle,
.icon-printer,
.icon-present,
.icon-playlist,
.icon-pin,
.icon-picture,
.icon-handbag,
.icon-globe-alt,
.icon-globe,
.icon-folder-alt,
.icon-folder,
.icon-film,
.icon-feed,
.icon-drop,
.icon-drawer,
.icon-docs,
.icon-doc,
.icon-diamond,
.icon-cup,
.icon-calculator,
.icon-bubbles,
.icon-briefcase,
.icon-book-open,
.icon-basket-loaded,
.icon-basket,
.icon-bag,
.icon-action-undo,
.icon-action-redo,
.icon-wrench,
.icon-umbrella,
.icon-trash,
.icon-tag,
.icon-support,
.icon-frame,
.icon-size-fullscreen,
.icon-size-actual,
.icon-shuffle,
.icon-share-alt,
.icon-share,
.icon-rocket,
.icon-question,
.icon-pie-chart,
.icon-pencil,
.icon-note,
.icon-loop,
.icon-home,
.icon-grid,
.icon-graph,
.icon-microphone,
.icon-music-tone-alt,
.icon-music-tone,
.icon-earphones-alt,
.icon-earphones,
.icon-equalizer,
.icon-like,
.icon-dislike,
.icon-control-start,
.icon-control-rewind,
.icon-control-play,
.icon-control-pause,
.icon-control-forward,
.icon-control-end,
.icon-volume-1,
.icon-volume-2,
.icon-volume-off,
.icon-calendar,
.icon-bulb,
.icon-chart,
.icon-ban,
.icon-bubble,
.icon-camrecorder,
.icon-camera,
.icon-cloud-download,
.icon-cloud-upload,
.icon-envelope,
.icon-eye,
.icon-flag,
.icon-heart,
.icon-info,
.icon-key,
.icon-link,
.icon-lock,
.icon-lock-open,
.icon-magnifier,
.icon-magnifier-add,
.icon-magnifier-remove,
.icon-paper-clip,
.icon-paper-plane,
.icon-power,
.icon-refresh,
.icon-reload,
.icon-settings,
.icon-star,
.icon-symbol-female,
.icon-symbol-male,
.icon-target,
.icon-credit-card,
.icon-paypal,
.icon-social-tumblr,
.icon-social-twitter,
.icon-social-facebook,
.icon-social-instagram,
.icon-social-linkedin,
.icon-social-pinterest,
.icon-social-github,
.icon-social-google,
.icon-social-reddit,
.icon-social-skype,
.icon-social-dribbble,
.icon-social-behance,
.icon-social-foursqare,
.icon-social-soundcloud,
.icon-social-spotify,
.icon-social-stumbleupon,
.icon-social-youtube,
.icon-social-dropbox,
.icon-social-vkontakte,
.icon-social-steam{font-family:'simple-line-icons';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.icon-user:before{content:"\e005";}
.icon-people:before{content:"\e001";}
.icon-user-female:before{content:"\e000";}
.icon-user-follow:before{content:"\e002";}
.icon-user-following:before{content:"\e003";}
.icon-user-unfollow:before{content:"\e004";}
.icon-login:before{content:"\e066";}
.icon-logout:before{content:"\e065";}
.icon-emotsmile:before{content:"\e021";}
.icon-phone:before{content:"\e600";}
.icon-call-end:before{content:"\e048";}
.icon-call-in:before{content:"\e047";}
.icon-call-out:before{content:"\e046";}
.icon-map:before{content:"\e033";}
.icon-location-pin:before{content:"\e096";}
.icon-direction:before{content:"\e042";}
.icon-directions:before{content:"\e041";}
.icon-compass:before{content:"\e045";}
.icon-layers:before{content:"\e034";}
.icon-menu:before{content:"\e601";}
.icon-list:before{content:"\e067";}
.icon-options-vertical:before{content:"\e602";}
.icon-options:before{content:"\e603";}
.icon-arrow-down:before{content:"\e604";}
.icon-arrow-left:before{content:"\e605";}
.icon-arrow-right:before{content:"\e606";}
.icon-arrow-up:before{content:"\e607";}
.icon-arrow-up-circle:before{content:"\e078";}
.icon-arrow-left-circle:before{content:"\e07a";}
.icon-arrow-right-circle:before{content:"\e079";}
.icon-arrow-down-circle:before{content:"\e07b";}
.icon-check:before{content:"\e080";}
.icon-clock:before{content:"\e081";}
.icon-plus:before{content:"\e095";}
.icon-minus:before{content:"\e615";}
.icon-close:before{content:"\e082";}
.icon-event:before{content:"\e619";}
.icon-exclamation:before{content:"\e617";}
.icon-organization:before{content:"\e616";}
.icon-trophy:before{content:"\e006";}
.icon-screen-smartphone:before{content:"\e010";}
.icon-screen-desktop:before{content:"\e011";}
.icon-plane:before{content:"\e012";}
.icon-notebook:before{content:"\e013";}
.icon-mustache:before{content:"\e014";}
.icon-mouse:before{content:"\e015";}
.icon-magnet:before{content:"\e016";}
.icon-energy:before{content:"\e020";}
.icon-disc:before{content:"\e022";}
.icon-cursor:before{content:"\e06e";}
.icon-cursor-move:before{content:"\e023";}
.icon-crop:before{content:"\e024";}
.icon-chemistry:before{content:"\e026";}
.icon-speedometer:before{content:"\e007";}
.icon-shield:before{content:"\e00e";}
.icon-screen-tablet:before{content:"\e00f";}
.icon-magic-wand:before{content:"\e017";}
.icon-hourglass:before{content:"\e018";}
.icon-graduation:before{content:"\e019";}
.icon-ghost:before{content:"\e01a";}
.icon-game-controller:before{content:"\e01b";}
.icon-fire:before{content:"\e01c";}
.icon-eyeglass:before{content:"\e01d";}
.icon-envelope-open:before{content:"\e01e";}
.icon-envelope-letter:before{content:"\e01f";}
.icon-bell:before{content:"\e027";}
.icon-badge:before{content:"\e028";}
.icon-anchor:before{content:"\e029";}
.icon-wallet:before{content:"\e02a";}
.icon-vector:before{content:"\e02b";}
.icon-speech:before{content:"\e02c";}
.icon-puzzle:before{content:"\e02d";}
.icon-printer:before{content:"\e02e";}
.icon-present:before{content:"\e02f";}
.icon-playlist:before{content:"\e030";}
.icon-pin:before{content:"\e031";}
.icon-picture:before{content:"\e032";}
.icon-handbag:before{content:"\e035";}
.icon-globe-alt:before{content:"\e036";}
.icon-globe:before{content:"\e037";}
.icon-folder-alt:before{content:"\e039";}
.icon-folder:before{content:"\e089";}
.icon-film:before{content:"\e03a";}
.icon-feed:before{content:"\e03b";}
.icon-drop:before{content:"\e03e";}
.icon-drawer:before{content:"\e03f";}
.icon-docs:before{content:"\e040";}
.icon-doc:before{content:"\e085";}
.icon-diamond:before{content:"\e043";}
.icon-cup:before{content:"\e044";}
.icon-calculator:before{content:"\e049";}
.icon-bubbles:before{content:"\e04a";}
.icon-briefcase:before{content:"\e04b";}
.icon-book-open:before{content:"\e04c";}
.icon-basket-loaded:before{content:"\e04d";}
.icon-basket:before{content:"\e04e";}
.icon-bag:before{content:"\e04f";}
.icon-action-undo:before{content:"\e050";}
.icon-action-redo:before{content:"\e051";}
.icon-wrench:before{content:"\e052";}
.icon-umbrella:before{content:"\e053";}
.icon-trash:before{content:"\e054";}
.icon-tag:before{content:"\e055";}
.icon-support:before{content:"\e056";}
.icon-frame:before{content:"\e038";}
.icon-size-fullscreen:before{content:"\e057";}
.icon-size-actual:before{content:"\e058";}
.icon-shuffle:before{content:"\e059";}
.icon-share-alt:before{content:"\e05a";}
.icon-share:before{content:"\e05b";}
.icon-rocket:before{content:"\e05c";}
.icon-question:before{content:"\e05d";}
.icon-pie-chart:before{content:"\e05e";}
.icon-pencil:before{content:"\e05f";}
.icon-note:before{content:"\e060";}
.icon-loop:before{content:"\e064";}
.icon-home:before{content:"\e069";}
.icon-grid:before{content:"\e06a";}
.icon-graph:before{content:"\e06b";}
.icon-microphone:before{content:"\e063";}
.icon-music-tone-alt:before{content:"\e061";}
.icon-music-tone:before{content:"\e062";}
.icon-earphones-alt:before{content:"\e03c";}
.icon-earphones:before{content:"\e03d";}
.icon-equalizer:before{content:"\e06c";}
.icon-like:before{content:"\e068";}
.icon-dislike:before{content:"\e06d";}
.icon-control-start:before{content:"\e06f";}
.icon-control-rewind:before{content:"\e070";}
.icon-control-play:before{content:"\e071";}
.icon-control-pause:before{content:"\e072";}
.icon-control-forward:before{content:"\e073";}
.icon-control-end:before{content:"\e074";}
.icon-volume-1:before{content:"\e09f";}
.icon-volume-2:before{content:"\e0a0";}
.icon-volume-off:before{content:"\e0a1";}
.icon-calendar:before{content:"\e075";}
.icon-bulb:before{content:"\e076";}
.icon-chart:before{content:"\e077";}
.icon-ban:before{content:"\e07c";}
.icon-bubble:before{content:"\e07d";}
.icon-camrecorder:before{content:"\e07e";}
.icon-camera:before{content:"\e07f";}
.icon-cloud-download:before{content:"\e083";}
.icon-cloud-upload:before{content:"\e084";}
.icon-envelope:before{content:"\e086";}
.icon-eye:before{content:"\e087";}
.icon-flag:before{content:"\e088";}
.icon-heart:before{content:"\e08a";}
.icon-info:before{content:"\e08b";}
.icon-key:before{content:"\e08c";}
.icon-link:before{content:"\e08d";}
.icon-lock:before{content:"\e08e";}
.icon-lock-open:before{content:"\e08f";}
.icon-magnifier:before{content:"\e090";}
.icon-magnifier-add:before{content:"\e091";}
.icon-magnifier-remove:before{content:"\e092";}
.icon-paper-clip:before{content:"\e093";}
.icon-paper-plane:before{content:"\e094";}
.icon-power:before{content:"\e097";}
.icon-refresh:before{content:"\e098";}
.icon-reload:before{content:"\e099";}
.icon-settings:before{content:"\e09a";}
.icon-star:before{content:"\e09b";}
.icon-symbol-female:before{content:"\e09c";}
.icon-symbol-male:before{content:"\e09d";}
.icon-target:before{content:"\e09e";}
.icon-credit-card:before{content:"\e025";}
.icon-paypal:before{content:"\e608";}
.icon-social-tumblr:before{content:"\e00a";}
.icon-social-twitter:before{content:"\e009";}
.icon-social-facebook:before{content:"\e00b";}
.icon-social-instagram:before{content:"\e609";}
.icon-social-linkedin:before{content:"\e60a";}
.icon-social-pinterest:before{content:"\e60b";}
.icon-social-github:before{content:"\e60c";}
.icon-social-google:before{content:"\e60d";}
.icon-social-reddit:before{content:"\e60e";}
.icon-social-skype:before{content:"\e60f";}
.icon-social-dribbble:before{content:"\e00d";}
.icon-social-behance:before{content:"\e610";}
.icon-social-foursqare:before{content:"\e611";}
.icon-social-soundcloud:before{content:"\e612";}
.icon-social-spotify:before{content:"\e613";}
.icon-social-stumbleupon:before{content:"\e614";}
.icon-social-youtube:before{content:"\e008";}
.icon-social-dropbox:before{content:"\e00c";}
.icon-social-vkontakte:before{content:"\e618";}
.icon-social-steam:before {
content: "\e620";
}