@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates:600,700|Poppins");
#Financial_Occult text,#F__x26__O tspan{fill:#424242;}
.logo_svg2 #Financial_Occult text,.logo_svg2 #F__x26__O tspan{fill:#fff;}
#Ellipse_7 circle{
fill: #18ba60;
}
 @-webkit-keyframes toLeftFromRight {
49%{-webkit-transform:translate(-100%);}
50%{opacity:0;-webkit-transform:translate(100%);}
51%{opacity:1;}
}
@-moz-keyframes toLeftFromRight {
49%{-moz-transform:translate(-100%);}
50%{opacity:0;-moz-transform:translate(100%);}
51%{opacity:1;}
}
@keyframes toLeftFromRight {
49%{transform:translate(-100%);}
50%{opacity:0;transform:translate(100%);}
51%{opacity:1;}
}
.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both;}
.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;}
.animated.hinge{-webkit-animation-duration:2s;animation-duration:2s;}
@-webkit-keyframes bounce {
0%, 20%, 50%, 80%, 100%{-webkit-transform:translateY(0);transform:translateY(0);}
40%{-webkit-transform:translateY(-30px);transform:translateY(-30px);}
60%{-webkit-transform:translateY(-15px);transform:translateY(-15px);}
}
@keyframes bounce {
0%, 20%, 50%, 80%, 100%{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);}
40%{-webkit-transform:translateY(-30px);-ms-transform:translateY(-30px);transform:translateY(-30px);}
60%{-webkit-transform:translateY(-15px);-ms-transform:translateY(-15px);transform:translateY(-15px);}
}
.bounce{-webkit-animation-name:bounce;animation-name:bounce;}
@-webkit-keyframes flash {
0%, 50%, 100%{opacity:1;}
25%, 75%{opacity:0;}
}
@keyframes flash {
0%, 50%, 100%{opacity:1;}
25%, 75%{opacity:0;}
}
.flash{-webkit-animation-name:flash;animation-name:flash;}
@-webkit-keyframes pulse {
0%{-webkit-transform:scale(1);transform:scale(1);}
50%{-webkit-transform:scale(1.1);transform:scale(1.1);}
100%{-webkit-transform:scale(1);transform:scale(1);}
}
@keyframes pulse {
0%{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);}
50%{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1);}
100%{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);}
}
.pulse{-webkit-animation-name:pulse;animation-name:pulse;}
@-webkit-keyframes rubberBand {
0%{-webkit-transform:scale(1);transform:scale(1);}
30%{-webkit-transform:scaleX(1.25) scaleY(0.75);transform:scaleX(1.25) scaleY(0.75);}
40%{-webkit-transform:scaleX(0.75) scaleY(1.25);transform:scaleX(0.75) scaleY(1.25);}
60%{-webkit-transform:scaleX(1.15) scaleY(0.85);transform:scaleX(1.15) scaleY(0.85);}
100%{-webkit-transform:scale(1);transform:scale(1);}
}
@keyframes rubberBand {
0%{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);}
30%{-webkit-transform:scaleX(1.25) scaleY(0.75);-ms-transform:scaleX(1.25) scaleY(0.75);transform:scaleX(1.25) scaleY(0.75);}
40%{-webkit-transform:scaleX(0.75) scaleY(1.25);-ms-transform:scaleX(0.75) scaleY(1.25);transform:scaleX(0.75) scaleY(1.25);}
60%{-webkit-transform:scaleX(1.15) scaleY(0.85);-ms-transform:scaleX(1.15) scaleY(0.85);transform:scaleX(1.15) scaleY(0.85);}
100%{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);}
}
.rubberBand{-webkit-animation-name:rubberBand;animation-name:rubberBand;}
@-webkit-keyframes shake {
0%, 100%{-webkit-transform:translateX(0);transform:translateX(0);}
10%, 30%, 50%, 70%, 90%{-webkit-transform:translateX(-10px);transform:translateX(-10px);}
20%, 40%, 60%, 80%{-webkit-transform:translateX(10px);transform:translateX(10px);}
}
@keyframes shake {
0%, 100%{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}
10%, 30%, 50%, 70%, 90%{-webkit-transform:translateX(-10px);-ms-transform:translateX(-10px);transform:translateX(-10px);}
20%, 40%, 60%, 80%{-webkit-transform:translateX(10px);-ms-transform:translateX(10px);transform:translateX(10px);}
}
.shake{-webkit-animation-name:shake;animation-name:shake;}
@-webkit-keyframes swing {
20%{-webkit-transform:rotate(15deg);transform:rotate(15deg);}
40%{-webkit-transform:rotate(-10deg);transform:rotate(-10deg);}
60%{-webkit-transform:rotate(5deg);transform:rotate(5deg);}
80%{-webkit-transform:rotate(-5deg);transform:rotate(-5deg);}
100%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}
}
@keyframes swing {
20%{-webkit-transform:rotate(15deg);-ms-transform:rotate(15deg);transform:rotate(15deg);}
40%{-webkit-transform:rotate(-10deg);-ms-transform:rotate(-10deg);transform:rotate(-10deg);}
60%{-webkit-transform:rotate(5deg);-ms-transform:rotate(5deg);transform:rotate(5deg);}
80%{-webkit-transform:rotate(-5deg);-ms-transform:rotate(-5deg);transform:rotate(-5deg);}
100%{-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg);}
}
.swing{-webkit-transform-origin:top center;-ms-transform-origin:top center;transform-origin:top center;-webkit-animation-name:swing;animation-name:swing;}
@-webkit-keyframes tada {
0%{-webkit-transform:scale(1);transform:scale(1);}
10%, 20%{-webkit-transform:scale(0.9) rotate(-3deg);transform:scale(0.9) rotate(-3deg);}
30%, 50%, 70%, 90%{-webkit-transform:scale(1.1) rotate(3deg);transform:scale(1.1) rotate(3deg);}
40%, 60%, 80%{-webkit-transform:scale(1.1) rotate(-3deg);transform:scale(1.1) rotate(-3deg);}
100%{-webkit-transform:scale(1) rotate(0);transform:scale(1) rotate(0);}
}
@keyframes tada {
0%{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);}
10%, 20%{-webkit-transform:scale(0.9) rotate(-3deg);-ms-transform:scale(0.9) rotate(-3deg);transform:scale(0.9) rotate(-3deg);}
30%, 50%, 70%, 90%{-webkit-transform:scale(1.1) rotate(3deg);-ms-transform:scale(1.1) rotate(3deg);transform:scale(1.1) rotate(3deg);}
40%, 60%, 80%{-webkit-transform:scale(1.1) rotate(-3deg);-ms-transform:scale(1.1) rotate(-3deg);transform:scale(1.1) rotate(-3deg);}
100%{-webkit-transform:scale(1) rotate(0);-ms-transform:scale(1) rotate(0);transform:scale(1) rotate(0);}
}
.tada{-webkit-animation-name:tada;animation-name:tada;}
@-webkit-keyframes wobble {
0%{-webkit-transform:translateX(0%);transform:translateX(0%);}
15%{-webkit-transform:translateX(-25%) rotate(-5deg);transform:translateX(-25%) rotate(-5deg);}
30%{-webkit-transform:translateX(20%) rotate(3deg);transform:translateX(20%) rotate(3deg);}
45%{-webkit-transform:translateX(-15%) rotate(-3deg);transform:translateX(-15%) rotate(-3deg);}
60%{-webkit-transform:translateX(10%) rotate(2deg);transform:translateX(10%) rotate(2deg);}
75%{-webkit-transform:translateX(-5%) rotate(-1deg);transform:translateX(-5%) rotate(-1deg);}
100%{-webkit-transform:translateX(0%);transform:translateX(0%);}
}
@keyframes wobble {
0%{-webkit-transform:translateX(0%);-ms-transform:translateX(0%);transform:translateX(0%);}
15%{-webkit-transform:translateX(-25%) rotate(-5deg);-ms-transform:translateX(-25%) rotate(-5deg);transform:translateX(-25%) rotate(-5deg);}
30%{-webkit-transform:translateX(20%) rotate(3deg);-ms-transform:translateX(20%) rotate(3deg);transform:translateX(20%) rotate(3deg);}
45%{-webkit-transform:translateX(-15%) rotate(-3deg);-ms-transform:translateX(-15%) rotate(-3deg);transform:translateX(-15%) rotate(-3deg);}
60%{-webkit-transform:translateX(10%) rotate(2deg);-ms-transform:translateX(10%) rotate(2deg);transform:translateX(10%) rotate(2deg);}
75%{-webkit-transform:translateX(-5%) rotate(-1deg);-ms-transform:translateX(-5%) rotate(-1deg);transform:translateX(-5%) rotate(-1deg);}
100%{-webkit-transform:translateX(0%);-ms-transform:translateX(0%);transform:translateX(0%);}
}
.wobble{-webkit-animation-name:wobble;animation-name:wobble;}
@-webkit-keyframes bounceIn {
0%{opacity:0;-webkit-transform:scale(.3);transform:scale(.3);}
50%{opacity:1;-webkit-transform:scale(1.05);transform:scale(1.05);}
70%{-webkit-transform:scale(.9);transform:scale(.9);}
100%{opacity:1;-webkit-transform:scale(1);transform:scale(1);}
}
@keyframes bounceIn {
0%{opacity:0;-webkit-transform:scale(.3);-ms-transform:scale(.3);transform:scale(.3);}
50%{opacity:1;-webkit-transform:scale(1.05);-ms-transform:scale(1.05);transform:scale(1.05);}
70%{-webkit-transform:scale(.9);-ms-transform:scale(.9);transform:scale(.9);}
100%{opacity:1;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);}
}
.bounceIn{-webkit-animation-name:bounceIn;animation-name:bounceIn;}
@-webkit-keyframes bounceInDown {
0%{opacity:0;-webkit-transform:translateY(-2000px);transform:translateY(-2000px);}
60%{opacity:1;-webkit-transform:translateY(30px);transform:translateY(30px);}
80%{-webkit-transform:translateY(-10px);transform:translateY(-10px);}
100%{-webkit-transform:translateY(0);transform:translateY(0);}
}
@keyframes bounceInDown {
0%{opacity:0;-webkit-transform:translateY(-2000px);-ms-transform:translateY(-2000px);transform:translateY(-2000px);}
60%{opacity:1;-webkit-transform:translateY(30px);-ms-transform:translateY(30px);transform:translateY(30px);}
80%{-webkit-transform:translateY(-10px);-ms-transform:translateY(-10px);transform:translateY(-10px);}
100%{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);}
}
.bounceInDown{-webkit-animation-name:bounceInDown;animation-name:bounceInDown;}
@-webkit-keyframes bounceInLeft {
0%{opacity:0;-webkit-transform:translateX(-2000px);transform:translateX(-2000px);}
60%{opacity:1;-webkit-transform:translateX(30px);transform:translateX(30px);}
80%{-webkit-transform:translateX(-10px);transform:translateX(-10px);}
100%{-webkit-transform:translateX(0);transform:translateX(0);}
}
@keyframes bounceInLeft {
0%{opacity:0;-webkit-transform:translateX(-2000px);-ms-transform:translateX(-2000px);transform:translateX(-2000px);}
60%{opacity:1;-webkit-transform:translateX(30px);-ms-transform:translateX(30px);transform:translateX(30px);}
80%{-webkit-transform:translateX(-10px);-ms-transform:translateX(-10px);transform:translateX(-10px);}
100%{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}
}
.bounceInLeft{-webkit-animation-name:bounceInLeft;animation-name:bounceInLeft;}
@-webkit-keyframes bounceInRight {
0%{opacity:0;-webkit-transform:translateX(2000px);transform:translateX(2000px);}
60%{opacity:1;-webkit-transform:translateX(-30px);transform:translateX(-30px);}
80%{-webkit-transform:translateX(10px);transform:translateX(10px);}
100%{-webkit-transform:translateX(0);transform:translateX(0);}
}
@keyframes bounceInRight {
0%{opacity:0;-webkit-transform:translateX(2000px);-ms-transform:translateX(2000px);transform:translateX(2000px);}
60%{opacity:1;-webkit-transform:translateX(-30px);-ms-transform:translateX(-30px);transform:translateX(-30px);}
80%{-webkit-transform:translateX(10px);-ms-transform:translateX(10px);transform:translateX(10px);}
100%{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}
}
.bounceInRight{-webkit-animation-name:bounceInRight;animation-name:bounceInRight;}
@-webkit-keyframes bounceInUp {
0%{opacity:0;-webkit-transform:translateY(2000px);transform:translateY(2000px);}
60%{opacity:1;-webkit-transform:translateY(-30px);transform:translateY(-30px);}
80%{-webkit-transform:translateY(10px);transform:translateY(10px);}
100%{-webkit-transform:translateY(0);transform:translateY(0);}
}
@keyframes bounceInUp {
0%{opacity:0;-webkit-transform:translateY(2000px);-ms-transform:translateY(2000px);transform:translateY(2000px);}
60%{opacity:1;-webkit-transform:translateY(-30px);-ms-transform:translateY(-30px);transform:translateY(-30px);}
80%{-webkit-transform:translateY(10px);-ms-transform:translateY(10px);transform:translateY(10px);}
100%{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);}
}
.bounceInUp{-webkit-animation-name:bounceInUp;animation-name:bounceInUp;}
@-webkit-keyframes bounceOut {
0%{-webkit-transform:scale(1);transform:scale(1);}
25%{-webkit-transform:scale(.95);transform:scale(.95);}
50%{opacity:1;-webkit-transform:scale(1.1);transform:scale(1.1);}
100%{opacity:0;-webkit-transform:scale(.3);transform:scale(.3);}
}
@keyframes bounceOut {
0%{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);}
25%{-webkit-transform:scale(.95);-ms-transform:scale(.95);transform:scale(.95);}
50%{opacity:1;-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1);}
100%{opacity:0;-webkit-transform:scale(.3);-ms-transform:scale(.3);transform:scale(.3);}
}
.bounceOut{-webkit-animation-name:bounceOut;animation-name:bounceOut;}
@-webkit-keyframes bounceOutDown {
0%{-webkit-transform:translateY(0);transform:translateY(0);}
20%{opacity:1;-webkit-transform:translateY(-20px);transform:translateY(-20px);}
100%{opacity:0;-webkit-transform:translateY(2000px);transform:translateY(2000px);}
}
@keyframes bounceOutDown {
0%{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);}
20%{opacity:1;-webkit-transform:translateY(-20px);-ms-transform:translateY(-20px);transform:translateY(-20px);}
100%{opacity:0;-webkit-transform:translateY(2000px);-ms-transform:translateY(2000px);transform:translateY(2000px);}
}
.bounceOutDown{-webkit-animation-name:bounceOutDown;animation-name:bounceOutDown;}
@-webkit-keyframes bounceOutLeft {
0%{-webkit-transform:translateX(0);transform:translateX(0);}
20%{opacity:1;-webkit-transform:translateX(20px);transform:translateX(20px);}
100%{opacity:0;-webkit-transform:translateX(-2000px);transform:translateX(-2000px);}
}
@keyframes bounceOutLeft {
0%{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}
20%{opacity:1;-webkit-transform:translateX(20px);-ms-transform:translateX(20px);transform:translateX(20px);}
100%{opacity:0;-webkit-transform:translateX(-2000px);-ms-transform:translateX(-2000px);transform:translateX(-2000px);}
}
.bounceOutLeft{-webkit-animation-name:bounceOutLeft;animation-name:bounceOutLeft;}
@-webkit-keyframes bounceOutRight {
0%{-webkit-transform:translateX(0);transform:translateX(0);}
20%{opacity:1;-webkit-transform:translateX(-20px);transform:translateX(-20px);}
100%{opacity:0;-webkit-transform:translateX(2000px);transform:translateX(2000px);}
}
@keyframes bounceOutRight {
0%{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}
20%{opacity:1;-webkit-transform:translateX(-20px);-ms-transform:translateX(-20px);transform:translateX(-20px);}
100%{opacity:0;-webkit-transform:translateX(2000px);-ms-transform:translateX(2000px);transform:translateX(2000px);}
}
.bounceOutRight{-webkit-animation-name:bounceOutRight;animation-name:bounceOutRight;}
@-webkit-keyframes bounceOutUp {
0%{-webkit-transform:translateY(0);transform:translateY(0);}
20%{opacity:1;-webkit-transform:translateY(20px);transform:translateY(20px);}
100%{opacity:0;-webkit-transform:translateY(-2000px);transform:translateY(-2000px);}
}
@keyframes bounceOutUp {
0%{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);}
20%{opacity:1;-webkit-transform:translateY(20px);-ms-transform:translateY(20px);transform:translateY(20px);}
100%{opacity:0;-webkit-transform:translateY(-2000px);-ms-transform:translateY(-2000px);transform:translateY(-2000px);}
}
.bounceOutUp{-webkit-animation-name:bounceOutUp;animation-name:bounceOutUp;}
@-webkit-keyframes fadeIn {
0%{opacity:0;}
100%{opacity:1;}
}
@keyframes fadeIn {
0%{opacity:0;}
100%{opacity:1;}
}
.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn;}
@-webkit-keyframes fadeInDown {
0%{opacity:0;-webkit-transform:translateY(-20px);transform:translateY(-20px);}
100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0);}
}
@keyframes fadeInDown {
0%{opacity:0;-webkit-transform:translateY(-20px);-ms-transform:translateY(-20px);transform:translateY(-20px);}
100%{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);}
}
.fadeInDown{-webkit-animation-name:fadeInDown;animation-name:fadeInDown;}
@-webkit-keyframes fadeInDownBig {
0%{opacity:0;-webkit-transform:translateY(-2000px);transform:translateY(-2000px);}
100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0);}
}
@keyframes fadeInDownBig {
0%{opacity:0;-webkit-transform:translateY(-2000px);-ms-transform:translateY(-2000px);transform:translateY(-2000px);}
100%{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);}
}
.fadeInDownBig{-webkit-animation-name:fadeInDownBig;animation-name:fadeInDownBig;}
@-webkit-keyframes fadeInLeft {
0%{opacity:0;-webkit-transform:translateX(-20px);transform:translateX(-20px);}
100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0);}
}
@keyframes fadeInLeft {
0%{opacity:0;-webkit-transform:translateX(-20px);-ms-transform:translateX(-20px);transform:translateX(-20px);}
100%{opacity:1;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}
}
.fadeInLeft{-webkit-animation-name:fadeInLeft;animation-name:fadeInLeft;}
@-webkit-keyframes fadeInLeftBig {
0%{opacity:0;-webkit-transform:translateX(-2000px);transform:translateX(-2000px);}
100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0);}
}
@keyframes fadeInLeftBig {
0%{opacity:0;-webkit-transform:translateX(-2000px);-ms-transform:translateX(-2000px);transform:translateX(-2000px);}
100%{opacity:1;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}
}
.fadeInLeftBig{-webkit-animation-name:fadeInLeftBig;animation-name:fadeInLeftBig;}
@-webkit-keyframes fadeInRight {
0%{opacity:0;-webkit-transform:translateX(20px);transform:translateX(20px);}
100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0);}
}
@keyframes fadeInRight {
0%{opacity:0;-webkit-transform:translateX(20px);-ms-transform:translateX(20px);transform:translateX(20px);}
100%{opacity:1;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}
}
.fadeInRight{-webkit-animation-name:fadeInRight;animation-name:fadeInRight;}
@-webkit-keyframes fadeInRightBig {
0%{opacity:0;-webkit-transform:translateX(2000px);transform:translateX(2000px);}
100%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0);}
}
@keyframes fadeInRightBig {
0%{opacity:0;-webkit-transform:translateX(2000px);-ms-transform:translateX(2000px);transform:translateX(2000px);}
100%{opacity:1;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}
}
.fadeInRightBig{-webkit-animation-name:fadeInRightBig;animation-name:fadeInRightBig;}
@-webkit-keyframes fadeInUp {
0%{opacity:0;-webkit-transform:translateY(20px);transform:translateY(20px);}
100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0);}
}
@keyframes fadeInUp {
0%{opacity:0;-webkit-transform:translateY(20px);-ms-transform:translateY(20px);transform:translateY(20px);}
100%{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);}
}
.fadeInUp{-webkit-animation-name:fadeInUp;animation-name:fadeInUp;}
@-webkit-keyframes fadeInUpBig {
0%{opacity:0;-webkit-transform:translateY(2000px);transform:translateY(2000px);}
100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0);}
}
@keyframes fadeInUpBig {
0%{opacity:0;-webkit-transform:translateY(2000px);-ms-transform:translateY(2000px);transform:translateY(2000px);}
100%{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);}
}
.fadeInUpBig{-webkit-animation-name:fadeInUpBig;animation-name:fadeInUpBig;}
@-webkit-keyframes fadeOut {
0%{opacity:1;}
100%{opacity:0;}
}
@keyframes fadeOut {
0%{opacity:1;}
100%{opacity:0;}
}
.fadeOut{-webkit-animation-name:fadeOut;animation-name:fadeOut;}
@-webkit-keyframes fadeOutDown {
0%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0);}
100%{opacity:0;-webkit-transform:translateY(20px);transform:translateY(20px);}
}
@keyframes fadeOutDown {
0%{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);}
100%{opacity:0;-webkit-transform:translateY(20px);-ms-transform:translateY(20px);transform:translateY(20px);}
}
.fadeOutDown{-webkit-animation-name:fadeOutDown;animation-name:fadeOutDown;}
@-webkit-keyframes fadeOutDownBig {
0%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0);}
100%{opacity:0;-webkit-transform:translateY(2000px);transform:translateY(2000px);}
}
@keyframes fadeOutDownBig {
0%{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);}
100%{opacity:0;-webkit-transform:translateY(2000px);-ms-transform:translateY(2000px);transform:translateY(2000px);}
}
.fadeOutDownBig{-webkit-animation-name:fadeOutDownBig;animation-name:fadeOutDownBig;}
@-webkit-keyframes fadeOutLeft {
0%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0);}
100%{opacity:0;-webkit-transform:translateX(-20px);transform:translateX(-20px);}
}
@keyframes fadeOutLeft {
0%{opacity:1;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}
100%{opacity:0;-webkit-transform:translateX(-20px);-ms-transform:translateX(-20px);transform:translateX(-20px);}
}
.fadeOutLeft{-webkit-animation-name:fadeOutLeft;animation-name:fadeOutLeft;}
@-webkit-keyframes fadeOutLeftBig {
0%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0);}
100%{opacity:0;-webkit-transform:translateX(-2000px);transform:translateX(-2000px);}
}
@keyframes fadeOutLeftBig {
0%{opacity:1;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}
100%{opacity:0;-webkit-transform:translateX(-2000px);-ms-transform:translateX(-2000px);transform:translateX(-2000px);}
}
.fadeOutLeftBig{-webkit-animation-name:fadeOutLeftBig;animation-name:fadeOutLeftBig;}
@-webkit-keyframes fadeOutRight {
0%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0);}
100%{opacity:0;-webkit-transform:translateX(20px);transform:translateX(20px);}
}
@keyframes fadeOutRight {
0%{opacity:1;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}
100%{opacity:0;-webkit-transform:translateX(20px);-ms-transform:translateX(20px);transform:translateX(20px);}
}
.fadeOutRight{-webkit-animation-name:fadeOutRight;animation-name:fadeOutRight;}
@-webkit-keyframes fadeOutRightBig {
0%{opacity:1;-webkit-transform:translateX(0);transform:translateX(0);}
100%{opacity:0;-webkit-transform:translateX(2000px);transform:translateX(2000px);}
}
@keyframes fadeOutRightBig {
0%{opacity:1;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}
100%{opacity:0;-webkit-transform:translateX(2000px);-ms-transform:translateX(2000px);transform:translateX(2000px);}
}
.fadeOutRightBig{-webkit-animation-name:fadeOutRightBig;animation-name:fadeOutRightBig;}
@-webkit-keyframes fadeOutUp {
0%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0);}
100%{opacity:0;-webkit-transform:translateY(-20px);transform:translateY(-20px);}
}
@keyframes fadeOutUp {
0%{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);}
100%{opacity:0;-webkit-transform:translateY(-20px);-ms-transform:translateY(-20px);transform:translateY(-20px);}
}
.fadeOutUp{-webkit-animation-name:fadeOutUp;animation-name:fadeOutUp;}
@-webkit-keyframes fadeOutUpBig {
0%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0);}
100%{opacity:0;-webkit-transform:translateY(-2000px);transform:translateY(-2000px);}
}
@keyframes fadeOutUpBig {
0%{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);}
100%{opacity:0;-webkit-transform:translateY(-2000px);-ms-transform:translateY(-2000px);transform:translateY(-2000px);}
}
.fadeOutUpBig{-webkit-animation-name:fadeOutUpBig;animation-name:fadeOutUpBig;}
@-webkit-keyframes flip {
0%{-webkit-transform:perspective(400px) translateZ(0) rotateY(-360deg) scale(1);transform:perspective(400px) translateZ(0) rotateY(-360deg) scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;}
40%{-webkit-transform:perspective(400px) translateZ(150px) rotateY(-190deg) scale(1);transform:perspective(400px) translateZ(150px) rotateY(-190deg) scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;}
50%{-webkit-transform:perspective(400px) translateZ(150px) rotateY(-170deg) scale(1);transform:perspective(400px) translateZ(150px) rotateY(-170deg) scale(1);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;}
80%{-webkit-transform:perspective(400px) translateZ(0) rotateY(0deg) scale(.95);transform:perspective(400px) translateZ(0) rotateY(0deg) scale(.95);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;}
100%{-webkit-transform:perspective(400px) translateZ(0) rotateY(0deg) scale(1);transform:perspective(400px) translateZ(0) rotateY(0deg) scale(1);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;}
}
@keyframes flip {
0%{-webkit-transform:perspective(400px) translateZ(0) rotateY(-360deg) scale(1);-ms-transform:perspective(400px) translateZ(0) rotateY(-360deg) scale(1);transform:perspective(400px) translateZ(0) rotateY(-360deg) scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;}
40%{-webkit-transform:perspective(400px) translateZ(150px) rotateY(-190deg) scale(1);-ms-transform:perspective(400px) translateZ(150px) rotateY(-190deg) scale(1);transform:perspective(400px) translateZ(150px) rotateY(-190deg) scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;}
50%{-webkit-transform:perspective(400px) translateZ(150px) rotateY(-170deg) scale(1);-ms-transform:perspective(400px) translateZ(150px) rotateY(-170deg) scale(1);transform:perspective(400px) translateZ(150px) rotateY(-170deg) scale(1);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;}
80%{-webkit-transform:perspective(400px) translateZ(0) rotateY(0deg) scale(.95);-ms-transform:perspective(400px) translateZ(0) rotateY(0deg) scale(.95);transform:perspective(400px) translateZ(0) rotateY(0deg) scale(.95);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;}
100%{-webkit-transform:perspective(400px) translateZ(0) rotateY(0deg) scale(1);-ms-transform:perspective(400px) translateZ(0) rotateY(0deg) scale(1);transform:perspective(400px) translateZ(0) rotateY(0deg) scale(1);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;}
}
.animated.flip{-webkit-backface-visibility:visible;-ms-backface-visibility:visible;backface-visibility:visible;-webkit-animation-name:flip;animation-name:flip;}
@-webkit-keyframes flipInX {
0%{-webkit-transform:perspective(400px) rotateX(90deg);transform:perspective(400px) rotateX(90deg);opacity:0;}
40%{-webkit-transform:perspective(400px) rotateX(-10deg);transform:perspective(400px) rotateX(-10deg);}
70%{-webkit-transform:perspective(400px) rotateX(10deg);transform:perspective(400px) rotateX(10deg);}
100%{-webkit-transform:perspective(400px) rotateX(0deg);transform:perspective(400px) rotateX(0deg);opacity:1;}
}
@keyframes flipInX {
0%{-webkit-transform:perspective(400px) rotateX(90deg);-ms-transform:perspective(400px) rotateX(90deg);transform:perspective(400px) rotateX(90deg);opacity:0;}
40%{-webkit-transform:perspective(400px) rotateX(-10deg);-ms-transform:perspective(400px) rotateX(-10deg);transform:perspective(400px) rotateX(-10deg);}
70%{-webkit-transform:perspective(400px) rotateX(10deg);-ms-transform:perspective(400px) rotateX(10deg);transform:perspective(400px) rotateX(10deg);}
100%{-webkit-transform:perspective(400px) rotateX(0deg);-ms-transform:perspective(400px) rotateX(0deg);transform:perspective(400px) rotateX(0deg);opacity:1;}
}
.flipInX{-webkit-backface-visibility:visible !important;-ms-backface-visibility:visible !important;backface-visibility:visible !important;-webkit-animation-name:flipInX;animation-name:flipInX;}
@-webkit-keyframes flipInY {
0%{-webkit-transform:perspective(400px) rotateY(90deg);transform:perspective(400px) rotateY(90deg);opacity:0;}
40%{-webkit-transform:perspective(400px) rotateY(-10deg);transform:perspective(400px) rotateY(-10deg);}
70%{-webkit-transform:perspective(400px) rotateY(10deg);transform:perspective(400px) rotateY(10deg);}
100%{-webkit-transform:perspective(400px) rotateY(0deg);transform:perspective(400px) rotateY(0deg);opacity:1;}
}
@keyframes flipInY {
0%{-webkit-transform:perspective(400px) rotateY(90deg);-ms-transform:perspective(400px) rotateY(90deg);transform:perspective(400px) rotateY(90deg);opacity:0;}
40%{-webkit-transform:perspective(400px) rotateY(-10deg);-ms-transform:perspective(400px) rotateY(-10deg);transform:perspective(400px) rotateY(-10deg);}
70%{-webkit-transform:perspective(400px) rotateY(10deg);-ms-transform:perspective(400px) rotateY(10deg);transform:perspective(400px) rotateY(10deg);}
100%{-webkit-transform:perspective(400px) rotateY(0deg);-ms-transform:perspective(400px) rotateY(0deg);transform:perspective(400px) rotateY(0deg);opacity:1;}
}
.flipInY{-webkit-backface-visibility:visible !important;-ms-backface-visibility:visible !important;backface-visibility:visible !important;-webkit-animation-name:flipInY;animation-name:flipInY;}
@-webkit-keyframes flipOutX {
0%{-webkit-transform:perspective(400px) rotateX(0deg);transform:perspective(400px) rotateX(0deg);opacity:1;}
100%{-webkit-transform:perspective(400px) rotateX(90deg);transform:perspective(400px) rotateX(90deg);opacity:0;}
}
@keyframes flipOutX {
0%{-webkit-transform:perspective(400px) rotateX(0deg);-ms-transform:perspective(400px) rotateX(0deg);transform:perspective(400px) rotateX(0deg);opacity:1;}
100%{-webkit-transform:perspective(400px) rotateX(90deg);-ms-transform:perspective(400px) rotateX(90deg);transform:perspective(400px) rotateX(90deg);opacity:0;}
}
.flipOutX{-webkit-animation-name:flipOutX;animation-name:flipOutX;-webkit-backface-visibility:visible !important;-ms-backface-visibility:visible !important;backface-visibility:visible !important;}
@-webkit-keyframes flipOutY {
0%{-webkit-transform:perspective(400px) rotateY(0deg);transform:perspective(400px) rotateY(0deg);opacity:1;}
100%{-webkit-transform:perspective(400px) rotateY(90deg);transform:perspective(400px) rotateY(90deg);opacity:0;}
}
@keyframes flipOutY {
0%{-webkit-transform:perspective(400px) rotateY(0deg);-ms-transform:perspective(400px) rotateY(0deg);transform:perspective(400px) rotateY(0deg);opacity:1;}
100%{-webkit-transform:perspective(400px) rotateY(90deg);-ms-transform:perspective(400px) rotateY(90deg);transform:perspective(400px) rotateY(90deg);opacity:0;}
}
.flipOutY{-webkit-backface-visibility:visible !important;-ms-backface-visibility:visible !important;backface-visibility:visible !important;-webkit-animation-name:flipOutY;animation-name:flipOutY;}
@-webkit-keyframes lightSpeedIn {
0%{-webkit-transform:translateX(100%) skewX(-30deg);transform:translateX(100%) skewX(-30deg);opacity:0;}
60%{-webkit-transform:translateX(-20%) skewX(30deg);transform:translateX(-20%) skewX(30deg);opacity:1;}
80%{-webkit-transform:translateX(0%) skewX(-15deg);transform:translateX(0%) skewX(-15deg);opacity:1;}
100%{-webkit-transform:translateX(0%) skewX(0deg);transform:translateX(0%) skewX(0deg);opacity:1;}
}
@keyframes lightSpeedIn {
0%{-webkit-transform:translateX(100%) skewX(-30deg);-ms-transform:translateX(100%) skewX(-30deg);transform:translateX(100%) skewX(-30deg);opacity:0;}
60%{-webkit-transform:translateX(-20%) skewX(30deg);-ms-transform:translateX(-20%) skewX(30deg);transform:translateX(-20%) skewX(30deg);opacity:1;}
80%{-webkit-transform:translateX(0%) skewX(-15deg);-ms-transform:translateX(0%) skewX(-15deg);transform:translateX(0%) skewX(-15deg);opacity:1;}
100%{-webkit-transform:translateX(0%) skewX(0deg);-ms-transform:translateX(0%) skewX(0deg);transform:translateX(0%) skewX(0deg);opacity:1;}
}
.lightSpeedIn{-webkit-animation-name:lightSpeedIn;animation-name:lightSpeedIn;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;}
@-webkit-keyframes lightSpeedOut {
0%{-webkit-transform:translateX(0%) skewX(0deg);transform:translateX(0%) skewX(0deg);opacity:1;}
100%{-webkit-transform:translateX(100%) skewX(-30deg);transform:translateX(100%) skewX(-30deg);opacity:0;}
}
@keyframes lightSpeedOut {
0%{-webkit-transform:translateX(0%) skewX(0deg);-ms-transform:translateX(0%) skewX(0deg);transform:translateX(0%) skewX(0deg);opacity:1;}
100%{-webkit-transform:translateX(100%) skewX(-30deg);-ms-transform:translateX(100%) skewX(-30deg);transform:translateX(100%) skewX(-30deg);opacity:0;}
}
.lightSpeedOut{-webkit-animation-name:lightSpeedOut;animation-name:lightSpeedOut;-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;}
@-webkit-keyframes rotateIn {
0%{-webkit-transform-origin:center center;transform-origin:center center;-webkit-transform:rotate(-200deg);transform:rotate(-200deg);opacity:0;}
100%{-webkit-transform-origin:center center;transform-origin:center center;-webkit-transform:rotate(0);transform:rotate(0);opacity:1;}
}
@keyframes rotateIn {
0%{-webkit-transform-origin:center center;-ms-transform-origin:center center;transform-origin:center center;-webkit-transform:rotate(-200deg);-ms-transform:rotate(-200deg);transform:rotate(-200deg);opacity:0;}
100%{-webkit-transform-origin:center center;-ms-transform-origin:center center;transform-origin:center center;-webkit-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0);opacity:1;}
}
.rotateIn{-webkit-animation-name:rotateIn;animation-name:rotateIn;}
@-webkit-keyframes rotateInDownLeft {
0%{-webkit-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:rotate(-90deg);transform:rotate(-90deg);opacity:0;}
100%{-webkit-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:rotate(0);transform:rotate(0);opacity:1;}
}
@keyframes rotateInDownLeft {
0%{-webkit-transform-origin:left bottom;-ms-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:rotate(-90deg);-ms-transform:rotate(-90deg);transform:rotate(-90deg);opacity:0;}
100%{-webkit-transform-origin:left bottom;-ms-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0);opacity:1;}
}
.rotateInDownLeft{-webkit-animation-name:rotateInDownLeft;animation-name:rotateInDownLeft;}
@-webkit-keyframes rotateInDownRight {
0%{-webkit-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:rotate(90deg);transform:rotate(90deg);opacity:0;}
100%{-webkit-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:rotate(0);transform:rotate(0);opacity:1;}
}
@keyframes rotateInDownRight {
0%{-webkit-transform-origin:right bottom;-ms-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg);opacity:0;}
100%{-webkit-transform-origin:right bottom;-ms-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0);opacity:1;}
}
.rotateInDownRight{-webkit-animation-name:rotateInDownRight;animation-name:rotateInDownRight;}
@-webkit-keyframes rotateInUpLeft {
0%{-webkit-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:rotate(90deg);transform:rotate(90deg);opacity:0;}
100%{-webkit-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:rotate(0);transform:rotate(0);opacity:1;}
}
@keyframes rotateInUpLeft {
0%{-webkit-transform-origin:left bottom;-ms-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg);opacity:0;}
100%{-webkit-transform-origin:left bottom;-ms-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0);opacity:1;}
}
.rotateInUpLeft{-webkit-animation-name:rotateInUpLeft;animation-name:rotateInUpLeft;}
@-webkit-keyframes rotateInUpRight {
0%{-webkit-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:rotate(-90deg);transform:rotate(-90deg);opacity:0;}
100%{-webkit-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:rotate(0);transform:rotate(0);opacity:1;}
}
@keyframes rotateInUpRight {
0%{-webkit-transform-origin:right bottom;-ms-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:rotate(-90deg);-ms-transform:rotate(-90deg);transform:rotate(-90deg);opacity:0;}
100%{-webkit-transform-origin:right bottom;-ms-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0);opacity:1;}
}
.rotateInUpRight{-webkit-animation-name:rotateInUpRight;animation-name:rotateInUpRight;}
@-webkit-keyframes rotateOut {
0%{-webkit-transform-origin:center center;transform-origin:center center;-webkit-transform:rotate(0);transform:rotate(0);opacity:1;}
100%{-webkit-transform-origin:center center;transform-origin:center center;-webkit-transform:rotate(200deg);transform:rotate(200deg);opacity:0;}
}
@keyframes rotateOut {
0%{-webkit-transform-origin:center center;-ms-transform-origin:center center;transform-origin:center center;-webkit-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0);opacity:1;}
100%{-webkit-transform-origin:center center;-ms-transform-origin:center center;transform-origin:center center;-webkit-transform:rotate(200deg);-ms-transform:rotate(200deg);transform:rotate(200deg);opacity:0;}
}
.rotateOut{-webkit-animation-name:rotateOut;animation-name:rotateOut;}
@-webkit-keyframes rotateOutDownLeft {
0%{-webkit-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:rotate(0);transform:rotate(0);opacity:1;}
100%{-webkit-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:rotate(90deg);transform:rotate(90deg);opacity:0;}
}
@keyframes rotateOutDownLeft {
0%{-webkit-transform-origin:left bottom;-ms-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0);opacity:1;}
100%{-webkit-transform-origin:left bottom;-ms-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg);opacity:0;}
}
.rotateOutDownLeft{-webkit-animation-name:rotateOutDownLeft;animation-name:rotateOutDownLeft;}
@-webkit-keyframes rotateOutDownRight {
0%{-webkit-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:rotate(0);transform:rotate(0);opacity:1;}
100%{-webkit-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:rotate(-90deg);transform:rotate(-90deg);opacity:0;}
}
@keyframes rotateOutDownRight {
0%{-webkit-transform-origin:right bottom;-ms-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0);opacity:1;}
100%{-webkit-transform-origin:right bottom;-ms-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:rotate(-90deg);-ms-transform:rotate(-90deg);transform:rotate(-90deg);opacity:0;}
}
.rotateOutDownRight{-webkit-animation-name:rotateOutDownRight;animation-name:rotateOutDownRight;}
@-webkit-keyframes rotateOutUpLeft {
0%{-webkit-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:rotate(0);transform:rotate(0);opacity:1;}
100%{-webkit-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:rotate(-90deg);transform:rotate(-90deg);opacity:0;}
}
@keyframes rotateOutUpLeft {
0%{-webkit-transform-origin:left bottom;-ms-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0);opacity:1;}
100%{-webkit-transform-origin:left bottom;-ms-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:rotate(-90deg);-ms-transform:rotate(-90deg);transform:rotate(-90deg);opacity:0;}
}
.rotateOutUpLeft{-webkit-animation-name:rotateOutUpLeft;animation-name:rotateOutUpLeft;}
@-webkit-keyframes rotateOutUpRight {
0%{-webkit-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:rotate(0);transform:rotate(0);opacity:1;}
100%{-webkit-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:rotate(90deg);transform:rotate(90deg);opacity:0;}
}
@keyframes rotateOutUpRight {
0%{-webkit-transform-origin:right bottom;-ms-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0);opacity:1;}
100%{-webkit-transform-origin:right bottom;-ms-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg);opacity:0;}
}
.rotateOutUpRight{-webkit-animation-name:rotateOutUpRight;animation-name:rotateOutUpRight;}
@-webkit-keyframes slideInDown {
0%{opacity:0;-webkit-transform:translateY(-2000px);transform:translateY(-2000px);}
100%{-webkit-transform:translateY(0);transform:translateY(0);}
}
@keyframes slideInDown {
0%{opacity:0;-webkit-transform:translateY(-2000px);-ms-transform:translateY(-2000px);transform:translateY(-2000px);}
100%{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);}
}
.slideInDown{-webkit-animation-name:slideInDown;animation-name:slideInDown;}
@-webkit-keyframes slideInLeft {
0%{opacity:0;-webkit-transform:translateX(-2000px);transform:translateX(-2000px);}
100%{-webkit-transform:translateX(0);transform:translateX(0);}
}
@keyframes slideInLeft {
0%{opacity:0;-webkit-transform:translateX(-2000px);-ms-transform:translateX(-2000px);transform:translateX(-2000px);}
100%{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}
}
.slideInLeft{-webkit-animation-name:slideInLeft;animation-name:slideInLeft;}
@-webkit-keyframes slideInRight {
0%{opacity:0;-webkit-transform:translateX(2000px);transform:translateX(2000px);}
100%{-webkit-transform:translateX(0);transform:translateX(0);}
}
@keyframes slideInRight {
0%{opacity:0;-webkit-transform:translateX(2000px);-ms-transform:translateX(2000px);transform:translateX(2000px);}
100%{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}
}
.slideInRight{-webkit-animation-name:slideInRight;animation-name:slideInRight;}
@-webkit-keyframes slideOutLeft {
0%{-webkit-transform:translateX(0);transform:translateX(0);}
100%{opacity:0;-webkit-transform:translateX(-2000px);transform:translateX(-2000px);}
}
@keyframes slideOutLeft {
0%{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}
100%{opacity:0;-webkit-transform:translateX(-2000px);-ms-transform:translateX(-2000px);transform:translateX(-2000px);}
}
.slideOutLeft{-webkit-animation-name:slideOutLeft;animation-name:slideOutLeft;}
@-webkit-keyframes slideOutRight {
0%{-webkit-transform:translateX(0);transform:translateX(0);}
100%{opacity:0;-webkit-transform:translateX(2000px);transform:translateX(2000px);}
}
@keyframes slideOutRight {
0%{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);}
100%{opacity:0;-webkit-transform:translateX(2000px);-ms-transform:translateX(2000px);transform:translateX(2000px);}
}
.slideOutRight{-webkit-animation-name:slideOutRight;animation-name:slideOutRight;}
@-webkit-keyframes slideOutUp {
0%{-webkit-transform:translateY(0);transform:translateY(0);}
100%{opacity:0;-webkit-transform:translateY(-2000px);transform:translateY(-2000px);}
}
@keyframes slideOutUp {
0%{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);}
100%{opacity:0;-webkit-transform:translateY(-2000px);-ms-transform:translateY(-2000px);transform:translateY(-2000px);}
}
.slideOutUp{-webkit-animation-name:slideOutUp;animation-name:slideOutUp;}
@-webkit-keyframes slideInUp {
0%{opacity:0;-webkit-transform:translateY(2000px);transform:translateY(2000px);}
100%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0);}
}
@keyframes slideInUp {
0%{opacity:0;-webkit-transform:translateY(2000px);-ms-transform:translateY(2000px);transform:translateY(2000px);}
100%{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);}
}
.slideInUp{-webkit-animation-name:slideInUp;animation-name:slideInUp;}
@-webkit-keyframes slideOutDown {
0%{-webkit-transform:translateY(0);transform:translateY(0);}
100%{opacity:0;-webkit-transform:translateY(2000px);transform:translateY(2000px);}
}
@keyframes slideOutDown {
0%{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);}
100%{opacity:0;-webkit-transform:translateY(2000px);-ms-transform:translateY(2000px);transform:translateY(2000px);}
}
.slideOutDown{-webkit-animation-name:slideOutDown;animation-name:slideOutDown;}
@-webkit-keyframes hinge {
0%{-webkit-transform:rotate(0);transform:rotate(0);-webkit-transform-origin:top left;transform-origin:top left;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;}
20%, 60%{-webkit-transform:rotate(80deg);transform:rotate(80deg);-webkit-transform-origin:top left;transform-origin:top left;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;}
40%{-webkit-transform:rotate(60deg);transform:rotate(60deg);-webkit-transform-origin:top left;transform-origin:top left;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;}
80%{-webkit-transform:rotate(60deg) translateY(0);transform:rotate(60deg) translateY(0);-webkit-transform-origin:top left;transform-origin:top left;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;opacity:1;}
100%{-webkit-transform:translateY(700px);transform:translateY(700px);opacity:0;}
}
@keyframes hinge {
0%{-webkit-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0);-webkit-transform-origin:top left;-ms-transform-origin:top left;transform-origin:top left;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;}
20%, 60%{-webkit-transform:rotate(80deg);-ms-transform:rotate(80deg);transform:rotate(80deg);-webkit-transform-origin:top left;-ms-transform-origin:top left;transform-origin:top left;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;}
40%{-webkit-transform:rotate(60deg);-ms-transform:rotate(60deg);transform:rotate(60deg);-webkit-transform-origin:top left;-ms-transform-origin:top left;transform-origin:top left;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;}
80%{-webkit-transform:rotate(60deg) translateY(0);-ms-transform:rotate(60deg) translateY(0);transform:rotate(60deg) translateY(0);-webkit-transform-origin:top left;-ms-transform-origin:top left;transform-origin:top left;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;opacity:1;}
100%{-webkit-transform:translateY(700px);-ms-transform:translateY(700px);transform:translateY(700px);opacity:0;}
}
.hinge{-webkit-animation-name:hinge;animation-name:hinge;}
@-webkit-keyframes rollIn {
0%{opacity:0;-webkit-transform:translateX(-100%) rotate(-120deg);transform:translateX(-100%) rotate(-120deg);}
100%{opacity:1;-webkit-transform:translateX(0px) rotate(0deg);transform:translateX(0px) rotate(0deg);}
}
@keyframes rollIn {
0%{opacity:0;-webkit-transform:translateX(-100%) rotate(-120deg);-ms-transform:translateX(-100%) rotate(-120deg);transform:translateX(-100%) rotate(-120deg);}
100%{opacity:1;-webkit-transform:translateX(0px) rotate(0deg);-ms-transform:translateX(0px) rotate(0deg);transform:translateX(0px) rotate(0deg);}
}
.rollIn{-webkit-animation-name:rollIn;animation-name:rollIn;}
@-webkit-keyframes rollOut {
0%{opacity:1;-webkit-transform:translateX(0px) rotate(0deg);transform:translateX(0px) rotate(0deg);}
100%{opacity:0;-webkit-transform:translateX(100%) rotate(120deg);transform:translateX(100%) rotate(120deg);}
}
@keyframes rollOut {
0%{opacity:1;-webkit-transform:translateX(0px) rotate(0deg);-ms-transform:translateX(0px) rotate(0deg);transform:translateX(0px) rotate(0deg);}
100%{opacity:0;-webkit-transform:translateX(100%) rotate(120deg);-ms-transform:translateX(100%) rotate(120deg);transform:translateX(100%) rotate(120deg);}
}
.rollOut{-webkit-animation-name:rollOut;animation-name:rollOut;}
@-webkit-keyframes zoomIn {
0%{opacity:0;-webkit-transform:scale(.3);transform:scale(.3);}
50%{opacity:1;}
}
@keyframes zoomIn {
0%{opacity:0;-webkit-transform:scale(.3);-ms-transform:scale(.3);transform:scale(.3);}
50%{opacity:1;}
}
.zoomIn{-webkit-animation-name:zoomIn;animation-name:zoomIn;}
@-webkit-keyframes zoomInDown {
0%{opacity:0;-webkit-transform:scale(.1) translateY(-2000px);transform:scale(.1) translateY(-2000px);-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;}
60%{opacity:1;-webkit-transform:scale(.475) translateY(60px);transform:scale(.475) translateY(60px);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;}
}
@keyframes zoomInDown {
0%{opacity:0;-webkit-transform:scale(.1) translateY(-2000px);-ms-transform:scale(.1) translateY(-2000px);transform:scale(.1) translateY(-2000px);-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;}
60%{opacity:1;-webkit-transform:scale(.475) translateY(60px);-ms-transform:scale(.475) translateY(60px);transform:scale(.475) translateY(60px);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;}
}
.zoomInDown{-webkit-animation-name:zoomInDown;animation-name:zoomInDown;}
@-webkit-keyframes zoomInLeft {
0%{opacity:0;-webkit-transform:scale(.1) translateX(-2000px);transform:scale(.1) translateX(-2000px);-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;}
60%{opacity:1;-webkit-transform:scale(.475) translateX(48px);transform:scale(.475) translateX(48px);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;}
}
@keyframes zoomInLeft {
0%{opacity:0;-webkit-transform:scale(.1) translateX(-2000px);-ms-transform:scale(.1) translateX(-2000px);transform:scale(.1) translateX(-2000px);-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;}
60%{opacity:1;-webkit-transform:scale(.475) translateX(48px);-ms-transform:scale(.475) translateX(48px);transform:scale(.475) translateX(48px);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;}
}
.zoomInLeft{-webkit-animation-name:zoomInLeft;animation-name:zoomInLeft;}
@-webkit-keyframes zoomInRight {
0%{opacity:0;-webkit-transform:scale(.1) translateX(2000px);transform:scale(.1) translateX(2000px);-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;}
60%{opacity:1;-webkit-transform:scale(.475) translateX(-48px);transform:scale(.475) translateX(-48px);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;}
}
@keyframes zoomInRight {
0%{opacity:0;-webkit-transform:scale(.1) translateX(2000px);-ms-transform:scale(.1) translateX(2000px);transform:scale(.1) translateX(2000px);-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;}
60%{opacity:1;-webkit-transform:scale(.475) translateX(-48px);-ms-transform:scale(.475) translateX(-48px);transform:scale(.475) translateX(-48px);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;}
}
.zoomInRight{-webkit-animation-name:zoomInRight;animation-name:zoomInRight;}
@-webkit-keyframes zoomInUp {
0%{opacity:0;-webkit-transform:scale(.1) translateY(2000px);transform:scale(.1) translateY(2000px);-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;}
60%{opacity:1;-webkit-transform:scale(.475) translateY(-60px);transform:scale(.475) translateY(-60px);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;}
}
@keyframes zoomInUp {
0%{opacity:0;-webkit-transform:scale(.1) translateY(2000px);-ms-transform:scale(.1) translateY(2000px);transform:scale(.1) translateY(2000px);-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;}
60%{opacity:1;-webkit-transform:scale(.475) translateY(-60px);-ms-transform:scale(.475) translateY(-60px);transform:scale(.475) translateY(-60px);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;}
}
.zoomInUp{-webkit-animation-name:zoomInUp;animation-name:zoomInUp;}
@-webkit-keyframes zoomOut {
0%{opacity:1;-webkit-transform:scale(1);transform:scale(1);}
50%{opacity:0;-webkit-transform:scale(.3);transform:scale(.3);}
100%{opacity:0;}
}
@keyframes zoomOut {
0%{opacity:1;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);}
50%{opacity:0;-webkit-transform:scale(.3);-ms-transform:scale(.3);transform:scale(.3);}
100%{opacity:0;}
}
.zoomOut{-webkit-animation-name:zoomOut;animation-name:zoomOut;}
@-webkit-keyframes zoomOutDown {
40%{opacity:1;-webkit-transform:scale(.475) translateY(-60px);transform:scale(.475) translateY(-60px);-webkit-animation-timing-function:linear;animation-timing-function:linear;}
100%{opacity:0;-webkit-transform:scale(.1) translateY(2000px);transform:scale(.1) translateY(2000px);-webkit-transform-origin:center bottom;transform-origin:center bottom;}
}
@keyframes zoomOutDown {
40%{opacity:1;-webkit-transform:scale(.475) translateY(-60px);-ms-transform:scale(.475) translateY(-60px);transform:scale(.475) translateY(-60px);-webkit-animation-timing-function:linear;animation-timing-function:linear;}
100%{opacity:0;-webkit-transform:scale(.1) translateY(2000px);-ms-transform:scale(.1) translateY(2000px);transform:scale(.1) translateY(2000px);-webkit-transform-origin:center bottom;-ms-transform-origin:center bottom;transform-origin:center bottom;}
}
.zoomOutDown{-webkit-animation-name:zoomOutDown;animation-name:zoomOutDown;}
@-webkit-keyframes zoomOutLeft {
40%{opacity:1;-webkit-transform:scale(.475) translateX(42px);transform:scale(.475) translateX(42px);-webkit-animation-timing-function:linear;animation-timing-function:linear;}
100%{opacity:0;-webkit-transform:scale(.1) translateX(-2000px);transform:scale(.1) translateX(-2000px);-webkit-transform-origin:left center;transform-origin:left center;}
}
@keyframes zoomOutLeft {
40%{opacity:1;-webkit-transform:scale(.475) translateX(42px);-ms-transform:scale(.475) translateX(42px);transform:scale(.475) translateX(42px);-webkit-animation-timing-function:linear;animation-timing-function:linear;}
100%{opacity:0;-webkit-transform:scale(.1) translateX(-2000px);-ms-transform:scale(.1) translateX(-2000px);transform:scale(.1) translateX(-2000px);-webkit-transform-origin:left center;-ms-transform-origin:left center;transform-origin:left center;}
}
.zoomOutLeft{-webkit-animation-name:zoomOutLeft;animation-name:zoomOutLeft;}
@-webkit-keyframes zoomOutRight {
40%{opacity:1;-webkit-transform:scale(.475) translateX(-42px);transform:scale(.475) translateX(-42px);-webkit-animation-timing-function:linear;animation-timing-function:linear;}
100%{opacity:0;-webkit-transform:scale(.1) translateX(2000px);transform:scale(.1) translateX(2000px);-webkit-transform-origin:right center;transform-origin:right center;}
}
@keyframes zoomOutRight {
40%{opacity:1;-webkit-transform:scale(.475) translateX(-42px);-ms-transform:scale(.475) translateX(-42px);transform:scale(.475) translateX(-42px);-webkit-animation-timing-function:linear;animation-timing-function:linear;}
100%{opacity:0;-webkit-transform:scale(.1) translateX(2000px);-ms-transform:scale(.1) translateX(2000px);transform:scale(.1) translateX(2000px);-webkit-transform-origin:right center;-ms-transform-origin:right center;transform-origin:right center;}
}
.zoomOutRight{-webkit-animation-name:zoomOutRight;animation-name:zoomOutRight;}
@-webkit-keyframes zoomOutUp {
40%{opacity:1;-webkit-transform:scale(.475) translateY(60px);transform:scale(.475) translateY(60px);-webkit-animation-timing-function:linear;animation-timing-function:linear;}
100%{opacity:0;-webkit-transform:scale(.1) translateY(-2000px);transform:scale(.1) translateY(-2000px);-webkit-transform-origin:center top;transform-origin:center top;}
}
@keyframes zoomOutUp {
40%{opacity:1;-webkit-transform:scale(.475) translateY(60px);-ms-transform:scale(.475) translateY(60px);transform:scale(.475) translateY(60px);-webkit-animation-timing-function:linear;animation-timing-function:linear;}
100%{opacity:0;-webkit-transform:scale(.1) translateY(-2000px);-ms-transform:scale(.1) translateY(-2000px);transform:scale(.1) translateY(-2000px);-webkit-transform-origin:center top;-ms-transform-origin:center top;transform-origin:center top;}
}
.zoomOutUp {
-webkit-animation-name: zoomOutUp;
animation-name: zoomOutUp;
}@media only screen and (max-width: 1366px){}
@media only screen and (max-width: 1199px) {
.wrap-header-content,.long_content .themesflat-top .content-left,.long_content .themesflat-top .content-right{float:none;margin:auto;}
.long_content .themesflat-top{text-align:center;}
.header-style3  .wrap-header-content{margin-right:0;}
.header-style3 .nav-wrap{order:3;width:100%;text-align:center;}
.header.header-style4 .logo > a{position:static;transform:translate(0);}
.header-style4 .wrap-header-content{float:left;}
.nav.header-style4{display:flex;flex-wrap:wrap;}
.nav.header-style4 .themesflat-socials,.nav.header-style4 .show-search{margin-left:auto;}
.nav.header-style4 .show-search{order:3;}
} @media only screen and (max-width: 991px) {
[class*='mpl']{padding-left:0 !important;}
.btn-menu{display:block;}
#mainnav,.header-sticky .wrap-header-content,
.wrap-header-content{display:none;}
.page-template-front-page .header.widget-header.header-style3,
.wrap-header-content{padding:0 0;}
.wrap-header-style3 .btn-menu{top:10px;}
.page-template-front-page .wrap-header-style3{bottom:0;}
.page-template-front-page .flat_header_wrap.header-style4{position:relative;top:0;}
.themesflat-top .content-left,.themesflat-top .content-right,
.tb_needhelp1 .mpl-44 > *{display:inline-block;vertical-align:top;}
.portfolio-filter,.themesflat-top .content-left,.themesflat-top .content-right,
.themesflat-top,.themesflat-top .container-inside,
.themesflat-top .info-top-right{text-align:center;vertical-align:top;}
.themesflat-top .themesflat-socials, .themesflat-top .content-left,.themesflat-top .content-right,
.themesflat-top .info-top-right{float:none;}
.themesflat-top .col-md-6.text-right{padding-top:20px;}
.imagebox,.themesflat_imagebox.style2 .imagebox-desc,
.footer-widgets .widget{margin-bottom:30px;}
.custom-info div,
.themesflat-list{margin-bottom:15px !important;}
.iconbox.iconbox-style1,
.iconbox.iconbox-style2,
.iconbox.style-3{margin-bottom:40px;}
.iconbox.iconbox-style1 + .vc_empty_space,
.iconbox.iconbox-style2 + .vc_empty_space,
.iconbox.style-3 + .vc_empty_space{height:0 !important;}
.imagebox img,
.page-wrap.sidebar-right .content-area,
.page-wrap.sidebar-right .widget-area,
.page-wrap.sidebar-left .widget-area,
.page-wrap.sidebar-left .content-area,
.flexslider .slides img,
.page-wrap.sidebar-left .single-page .widget-area, 
.page-wrap.sidebar-right .single-page .widget-area,
.page-wrap.sidebar-left .single-page .content-area, 
.page-wrap.sidebar-right .single-page .content-area{width:100%;}
.header-style3 .nav-wrap{width:auto;}
.testimonial_custom2{margin-left:0;}
.call-back-form,
.page-wrap.sidebar-left .content-area{padding-left:0 !important;}
.header-style2 .logo{padding-top:0px;}
.call-back-form,
.page-wrap.sidebar-right .content-area,
.page-wrap.sidebar-left .single-page .content-area, 
.page-wrap.sidebar-right .single-page .content-area{padding-right:0 !important;}
.themesflat-your-contact .contact-thumb{max-width:100%;}
.portfolio-filter li{padding:0 10px;}
.themesflat-portfolio .item,
.themesflat-portfolio .one-four .item,
.blog-grid.blog-four-columns article{width:50%;}
#wpcf7-f328-p498-o1,
.show-search a,.nav.header-style2 .show-search a{margin-top:30px;}
.nav.header-style2 .themesflat-socials{margin-top:36px;}
.comments-area ul.children{margin-left:50px;}
.header-style2 .logo a{position:static;margin:30px 0;transform:translate(0);-moz-transform:translate(0);-webkit-transform:translate(0);-ms-transform:translate(0);}
.themesflat-single-images{position:relative;left:0;top:auto;bottom:-89px;}
.themesflat_counter{text-align:center;margin-bottom:40px;}
.wrap-header-style3{background-color:transparent !important;}
.vc_custom_1488938620772 .vc_empty_space{height:40px !important;}
.blog-shortcode.blog-list article .featured-post{max-width:100%;float:none;margin-right:0;margin-bottom:15px;}
.themesflat-top .info-top-right,
.nav.header-style4{padding-left:0;}
.nav.header-style4{padding-right:15px;}
.header.widget-header{padding:0 0 0;}
.themesflat-team.team-grid{margin-bottom:30px;}
.themesflat-team.team-grid{text-align:center;}
.header-style4 .btn-menu,
.nav.header-style2 .themesflat-socials,
.nav.header-style4 .themesflat-socials,
.header-style2 .btn-menu{margin-top:20px;margin-bottom:20px;}
.font_normal_mobile{font-size:30px!important;line-height:40px!important;}
.footer{padding-bottom:30px!important;}
} @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){}
@media only screen and (min-width: 768px) and (max-width: 991px){}
@media only screen and (max-width: 767px) {	
.content-area.blog-list-small .featured-post{float:none;margin-right:0;}
.themesflat-top .col-md-6.text-right{padding-top:5px;}
.info-top-right a.appoinment{margin:0 5px;}
.themesflat-one-half,.comment-respond p.comment-form-author,
.comment-respond p.comment-form-email, .comment-respond p.comment-form-url,
.themesflat-portfolio-single-slider li img,
.blog-grid.blog-two-columns article,
.blog-grid.blog-three-columns article{width:100%;}
.footer-widgets .widget.widget_nav_menu,.portfolio-single .content-portfolio-detail,
.contactform3_container{padding-left:0!important;}
#menu-bottom li a{padding-left:0;padding-right:20px;}
.author-post .info{padding:15px;}
.themesflat-portfolio-single-slider{margin-top:30px;}
article .wrap-entry-title,
.comments-area ol.comment-list article .comment_content .comment_text{overflow:visible;}
.comments-area ul.children{margin-left:30px;}
.wrap-widget-header{display:none;}
.themesflat-portfolio .one-five .item{width:33.3333%;}
.comment-respond{padding:30px;}
} @media only screen and (min-width: 600px) and (max-width: 767px){}
@media only screen and (max-width: 599px) {
.font_normal_mobile{font-size:30px!important;line-height:40px!important;}
.themesflat-portfolio .one-four .item,
.themesflat-portfolio .one-half .item,
.imagebox.style2 .box-image,
.themesflat-team .team-image img,
.blog-grid.blog-four-columns article,
.themesflat-portfolio .item,.themesflat-portfolio .grid-no-padding .item,
.portfolio-detail.full_content .magic50, 
.grid.one-half .item,
.blog-shortcode.blog-list article{width:100%;max-width:100%;}
.portfolio-filter li a{line-height:45px;}
article .entry-title{font-size:18px;}
.author-post .info{overflow:visible;}
.author-post .author-avatar{margin-right:10px;max-width:auto;}
.comments-area ul.children{margin-left:15px;}
.themesflat-top .custom-info ul li:after,
.nav-widget ,
.themesflat-top .info-top-right:before{display:none;}
.imagebox .box-header .box-title,
.page-template-tpl .vc_toggle_title > h4{font-size:13px;}
.imagebox .box-header,.themesflat_counter .themesflat_counter-prefix,.themesflat_counter .themesflat_counter-surfix{left:0;bottom:0;right:0;}
blockquote{padding:0 0;}
#text-5{margin-bottom:0;}
article .entry-meta ul li{margin-right:9px;}
.tp-caption.content-slide{color:rgba(34,34,34,1.00)!important;}
#slide-24-layer-2{color:#fff !important;}
.themesflat-team.team-grid{margin-bottom:30px;}
.imagebox.style2 .box-image,
.themesflat-before-footer .custom-info > div,
.wrap-header-content ul li{margin-right:0;}
.page-template-front-page .wrap-header-style3{padding:0 15px;}
.portfolio-detail.full_content .magic50:nth-of-type(even),
.vc_separator.history_title,.header #logo{padding-left:0!important;}
.portfolio-detail.full_content li.magic50:nth-of-type(even),
.header.header-style3 .wrap-header-content{padding-left:15px;}
.portfolio-detail.full_content li.magic50:nth-of-type(even):before{left:0;}
.themesflat-team .team-image,
.blog-list-small .featured-post, 
.themesflat-team.list .team-image,
.testimonial-slider.style-2 .testimonial-image,
.themesflat_imagebox.style2 .imagebox-image,
.themesflat-contact-form3 .wpcf7-form-control-wrap{float:none;width:100%!important;max-width:100%;margin-right:0;margin-bottom:15px;}
.testimonial-slide.style-2{padding:0 15px 0 15px !important;}
.themesflat_counter .themesflat_counter-content-left{text-align:center;}
.contactform_style4,.wpcf7-form .custom_form{padding:20px;}
.themesflat_header_wrap.header-style5{position:relative;}
.themesflat_header_wrap .header.header-style5:not(.header-sticky) .nav.header-style5{background:transparent;top:50%;right:0;transform:translateY(-50%);-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);position:absolute;}
}
@media(max-width:360px){	
.home8_custom1 .vc_col-sm-6 {
width: 100%;
}
.home8_btn1 .themesflat-button {
font-size: 13px;
}
}