@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:600,700|Poppins');
		        	

			        #Financial_Occult text,#F__x26__O tspan {
						fill: #424242;
					}

					.logo_svg2 #Financial_Occult text,.logo_svg2 #F__x26__O tspan {
						fill: #fff;
					}

					#Ellipse_7 circle{
						fill: #18ba60;
					}